# United outdoors datawarehouse

## Imports

In [149]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, BigInteger, Integer, String, LargeBinary, VARCHAR, NVARCHAR, DECIMAL, CHAR, \
    DATE
from sqlalchemy.dialects.mssql import BIT, XML, MONEY, TIME
from sqlalchemy.exc import OperationalError
from urllib import parse
import re
import time

## Starting timer

In [150]:
start_time = time.time()

## Database connection details

In [151]:
DB = {
    'servername' : '(local)\\SQLEXPRESS',
    'united_outdoors_database' : 'UnitedOutdoors',
    'northwind_database' : 'Northwind',
    'aenc_database' : 'Aenc',
    'adventureworks_database' : 'AdventureWorks2019',
    'master' : 'master'
}

In [152]:
def create_connection(servername, database):
    params = parse.quote_plus(f'DRIVER={{SQL Server}};SERVER={servername};DATABASE={database};Trusted_Connection=yes')
    engine = create_engine(f'mssql+pyodbc:///?odbc_connect={params}', use_setinputsizes=False, connect_args={'options': '-c search_path=dbo'}, fast_executemany=True) # setinputsizes needs to be turned off for sql server, idk why but gives errors otherwise
    try:
        establish_conn = engine.connect()
        print(f'Connection to {database} database successful')
        return establish_conn, engine
    except OperationalError as e:
        print(f'Error: {e}')
        return None, None

In [153]:
def split_and_execute_sql_script(script, execute_engine):
    # creating a connection
    connection = execute_engine.connect()
    
    # splitting the script into the database creation and the rest
    commands = re.split(r'GO\n', script)
    # removing all \bGO\b from the commands
    commands = [re.sub(r'\bGO\b', '', command) for command in commands]
    
    # Execute the commands
    for command in commands:
        command = command.strip()
        # Skip if the command is empty or 'GO'
        if not command or command.upper() == 'GO':
            continue
        try:
            connection.connection.execute(command)
            connection.connection.commit()
            #print(f'Command executed: {command}')
        except OperationalError as e:
            print(f'Error: {e} at command: {command}')

In [154]:
def bulk_insert(df, dtypes, table_name, engine):
    # calculating chunk size
    chunk_size = (2000 // len(df.columns))  # 2100 is the maximum number of parameters in a query, -100 for safety

    print(f'Inserting data into table: {table_name} with chunk size: {chunk_size}')
    df.to_sql(name=table_name, schema='dbo', con=engine, if_exists='append', index=False, dtype=dtypes, method='multi', chunksize= chunk_size)

In [155]:
def prepare(dataframe, nk_sk_dict=None):
    # replacing the natural keys with the surrogate keys
    if nk_sk_dict:
        for column in nk_sk_dict:
            # Check for duplicate keys
            if len(nk_sk_dict[column]) != len(set(nk_sk_dict[column])):
                raise ValueError(f'Duplicate keys found in nk_sk_dict for column: {column}')
            else:
                print(f'Replacing natural keys with surrogate keys for column: {column}')
                for natural_key in nk_sk_dict[column]:
                    dataframe[column] = dataframe[column].replace(natural_key, nk_sk_dict[column][natural_key])
    
    # replace empty values with None
    dataframe = dataframe.where(pd.notnull(dataframe), None)
    dataframe = dataframe.replace({np.nan: None})
    
    # stripping all columns with string data
    dataframe = dataframe.map(lambda x: x.strip() if isinstance(x, str) else x)
    # replacing all empty strings with None
    dataframe = dataframe.replace(r'^\s*$', None, regex=True)

In [156]:
def get_nk_sk_dict(engine, natural_key_column, table_name):
   
    surrogate_key_column = table_name.capitalize() + "_sk"
    
    query = f'WITH RankedKeys AS (SELECT {natural_key_column}, {surrogate_key_column}, ROW_NUMBER() OVER(PARTITION BY {natural_key_column} ORDER BY {table_name}_datetime_added DESC) AS rn FROM {table_name}) SELECT {natural_key_column}, {surrogate_key_column} FROM RankedKeys WHERE rn = 1' # getting the latest surrogate key for each natural key, by datetime_added
    
    # turing the query into a dataframe
    nk_sk_df = pd.read_sql(query, engine).dropna()
    
    # converting the dataframe to a dictionary
    nk_sk_dict = nk_sk_df.set_index(natural_key_column)[surrogate_key_column].to_dict()
    
    return nk_sk_dict

In [157]:
def prepare_and_insert(dataframe, dtypes, table_name, insert_engine, nk_sk_dict=None):
    """
    Prepares the dataframe for insertion into the database and inserts it into the database.
        @param dataframe: The dataframe to be inserted into the database
        @param dtypes: The data types of the columns in the dataframe
        @param table_name: The name of the table in the database
        @param insert_engine: The engine to insert the data into
        @param nk_sk_dict: A 3d dictionary containing the natural keys and their corresponding surrogate keys, per column (so nk_sk_dict[column][natural_key] = surrogate_key)
    """
       
    prepare(dataframe, nk_sk_dict)
    
    # adding the data to the database
    bulk_insert(dataframe, dtypes, table_name, insert_engine)

In [158]:
def prepare_and_insert_return_sk(dataframe, dtypes, table_name, insert_engine, natural_key_column, nk_sk_dict=None):
    """
    Prepares the dataframe for insertion into the database and inserts it into the database.
        @param dataframe: The dataframe to be inserted into the database
        @param dtypes: The data types of the columns in the dataframe
        @param table_name: The name of the table in the database
        @param insert_engine: The engine to insert the data into
        @param natural_key_column: The name of the column containing the natural keys
        @param nk_sk_dict: A 3d dictionary containing the natural keys and their corresponding surrogate keys, per column (so nk_sk_dict[column][natural_key] = surrogate_key)
        @return: A dictionary containing the natural keys and their corresponding surrogate keys
    """
    
    prepare(dataframe, nk_sk_dict)
    
    # adding the data to the database
    bulk_insert(dataframe, dtypes, table_name, insert_engine)
    
    # getting the natural key and surrogate key dictionary
    current_nk_sk_dict = get_nk_sk_dict(insert_engine, natural_key_column, table_name)
    
    return current_nk_sk_dict

In [159]:
def prepare_and_update(table_name, update_engine, nk_sk_dict=None):   
    # creating a connection
    connection = update_engine.connect()

    # Start a transaction
    trans = connection.begin()

    try:
        # adding the data to the database
        print(f'Updating data in table: {table_name}')
        for column in nk_sk_dict:
            # Prepare a batch update statement
            update_stmts = []
            for natural_key in nk_sk_dict[column]:
                # TODO this would not work with updated data in datawarehouse, since this would replace the old and new data. Maybe check the datetime or something
                statement = f'UPDATE {table_name} SET {column} = {nk_sk_dict[column][natural_key]} WHERE {column} = {int(natural_key)}'
                update_stmts.append(statement)

                # If the number of parameters reaches the limit, execute the batch update and clear the list
                if len(update_stmts) * 2 >= 2000:  # Each update statement has 2 parameters, cause of the Column and Where clause
                    connection.connection.execute(";".join(update_stmts))
                    update_stmts = []

            # Execute the remaining update statements
            if update_stmts:
                connection.connection.execute(";".join(update_stmts))

        # Commit the transaction
        trans.commit()
    except:
        # Rollback the transaction in case of error
        trans.rollback()
        raise
    finally:
        # Close the connection
        connection.close()

In [160]:
def drop_modified_date_rowguid(dataframe):
    # dropping all columns with 'rowguid' in their name
    columns_to_drop_mr = dataframe.filter(like='rowguid').columns
    
    # dropping all columns with 'ModifiedDate' in their name
    columns_to_drop_mr = columns_to_drop_mr.append(dataframe.filter(like='ModifiedDate').columns)
    
    # dropping the columns
    dataframe.drop(columns=columns_to_drop_mr, inplace=True)

## Create the UnitedOutdoors datawarehouse

In [161]:
_, creation_engine = create_connection(DB["servername"], DB["master"])

# Open the SQL script file and read its contents
with open('sql/UnitedOutdoors_creation.sql', 'r') as file:
    sql_script = file.read()

split_and_execute_sql_script(sql_script, creation_engine)

creation_engine.dispose()

Connection to master database successful

## Connecting to the UnitedOutdoors datawarehouse

In [162]:
_ , united_outdoors_engine = create_connection(DB["servername"], DB["united_outdoors_database"])

Connection to UnitedOutdoors database successful

## Loading the data from the source databases

### Northwind database

#### Connection

In [163]:
northwind_conn, northwind_engine = create_connection(DB["servername"], DB["northwind_database"])

Connection to Northwind database successful

#### Loading data

In [164]:
# Load the data from the source database
northwind_categories = pd.read_sql('SELECT * FROM Categories', northwind_conn)
northwind_customer_customer_demo = pd.read_sql('SELECT * FROM CustomerCustomerDemo', northwind_conn)
northwind_customer_demographics = pd.read_sql('SELECT * FROM CustomerDemographics', northwind_conn)
northwind_customers = pd.read_sql('SELECT * FROM Customers', northwind_conn)
northwind_employees = pd.read_sql('SELECT *, CONVERT(VARCHAR(MAX), CONVERT(VARBINARY(MAX), Photo), 1) as EMPLOYEE_EMPLOYEES_PhotoHexString FROM Employees', northwind_conn) # image is deprecated, but still in northwind. Direct conversion from image to varchar is not possible, so we need to convert it to varbinary first
northwind_employee_territories = pd.read_sql('SELECT * FROM EmployeeTerritories', northwind_conn)
northwind_order_details = pd.read_sql('SELECT * FROM [Order Details]', northwind_conn)
northwind_orders = pd.read_sql('SELECT * FROM Orders', northwind_conn)
northwind_products = pd.read_sql('SELECT * FROM Products', northwind_conn)
northwind_region = pd.read_sql('SELECT * FROM Region', northwind_conn)
northwind_shippers = pd.read_sql('SELECT * FROM Shippers', northwind_conn)
northwind_suppliers = pd.read_sql('SELECT * FROM Suppliers', northwind_conn)
northwind_territories = pd.read_sql('SELECT * FROM Territories', northwind_conn)

northwind_conn.close()

### Aenc database

#### Connection

In [165]:
aenc_conn , aenc_engine = create_connection(DB["servername"], DB["aenc_database"])

Connection to Aenc database successful

#### Loading data

In [166]:
aenc_bonus              = pd.read_sql('SELECT * FROM Bonus', aenc_conn)
aenc_customer           = pd.read_sql('SELECT * FROM Customer', aenc_conn)
aenc_department         = pd.read_sql('SELECT * FROM Department', aenc_conn)
aenc_employee           = pd.read_sql('SELECT * FROM Employee', aenc_conn)
aenc_product            = pd.read_sql('SELECT * FROM Product', aenc_conn)
aenc_region             = pd.read_sql('SELECT * FROM Region', aenc_conn)
aenc_sales_order        = pd.read_sql('SELECT * FROM SalesOrder', aenc_conn)
aenc_sales_order_item   = pd.read_sql('SELECT * FROM SalesOrderItem', aenc_conn)
aenc_state              = pd.read_sql('SELECT * FROM State', aenc_conn)

aenc_conn.close()

### AdventureWorks database

#### Connection

In [167]:
adventureworks_conn, adventureworks_engine = create_connection(DB["servername"], DB["adventureworks_database"])

Connection to AdventureWorks2019 database successful

#### Loading data

In [168]:
adventureworks_humanresources_department = pd.read_sql('SELECT * FROM HumanResources.Department', adventureworks_conn)
adventureworks_humanresources_employee = pd.read_sql('SELECT * FROM HumanResources.Employee', adventureworks_conn)
adventureworks_humanresources_employeedepartmenthistory = pd.read_sql('SELECT * FROM HumanResources.EmployeeDepartmentHistory', adventureworks_conn)
adventureworks_humanresources_employeepayhistory = pd.read_sql('SELECT * FROM HumanResources.EmployeePayHistory', adventureworks_conn)
adventureworks_humanresources_jobcandidate = pd.read_sql('SELECT * FROM HumanResources.JobCandidate', adventureworks_conn)
adventureworks_humanresources_shift = pd.read_sql('SELECT * FROM HumanResources.Shift', adventureworks_conn)

In [169]:
adventureworks_person_address = pd.read_sql('SELECT AddressID, AddressLine1, AddressLine2, City, StateProvinceID, PostalCode, CAST(SpatialLocation AS VARCHAR(MAX)) AS SpatialLocation,rowguid, ModifiedDate   FROM Person.Address', adventureworks_conn)
adventureworks_person_address_type = pd.read_sql('SELECT * FROM Person.AddressType', adventureworks_conn)
adventureworks_person_businessentity = pd.read_sql('SELECT * FROM Person.BusinessEntity', adventureworks_conn)
adventureworks_person_businessentityaddress = pd.read_sql('SELECT * FROM Person.BusinessEntityAddress', adventureworks_conn)
adventureworks_person_businessentitycontact = pd.read_sql('SELECT * FROM Person.BusinessEntityContact', adventureworks_conn)
adventureworks_person_contacttype = pd.read_sql('SELECT * FROM Person.ContactType', adventureworks_conn)
adventureworks_person_countryregion = pd.read_sql('SELECT * FROM Person.CountryRegion', adventureworks_conn)
adventureworks_person_emailaddress = pd.read_sql('SELECT * FROM Person.EmailAddress', adventureworks_conn)
adventureworks_person_password = pd.read_sql('SELECT * FROM Person.Password', adventureworks_conn)
adventureworks_person_person = pd.read_sql('SELECT * FROM Person.Person', adventureworks_conn)
adventureworks_person_personphone = pd.read_sql('SELECT * FROM Person.PersonPhone', adventureworks_conn)
adventureworks_person_phonenumbertype = pd.read_sql('SELECT * FROM Person.PhoneNumberType', adventureworks_conn)
adventureworks_person_stateprovince = pd.read_sql('SELECT * FROM Person.StateProvince', adventureworks_conn)

In [170]:
adventureworks_production_bill_of_materials = pd.read_sql('SELECT * FROM Production.BillOfMaterials', adventureworks_conn)
adventureworks_production_culture = pd.read_sql('SELECT * FROM Production.Culture', adventureworks_conn)
adventureworks_production_document = pd.read_sql('SELECT * FROM Production.Document', adventureworks_conn)
adventureworks_production_illustration = pd.read_sql('SELECT * FROM Production.Illustration', adventureworks_conn)
adventureworks_production_location = pd.read_sql('SELECT * FROM Production.Location', adventureworks_conn)
adventureworks_production_product = pd.read_sql('SELECT * FROM Production.Product', adventureworks_conn)
adventureworks_production_productcategory = pd.read_sql('SELECT * FROM Production.ProductCategory', adventureworks_conn)
adventureworks_production_productcosthistory = pd.read_sql('SELECT * FROM Production.ProductCostHistory', adventureworks_conn)
adventureworks_production_productdescription = pd.read_sql('SELECT * FROM Production.ProductDescription', adventureworks_conn)
adventureworks_production_productdocument = pd.read_sql('SELECT * , CAST(DocumentNode AS VARCHAR(MAX)) AS DocumentNodeString  FROM Production.ProductDocument', adventureworks_conn)
adventureworks_production_productinventory = pd.read_sql('SELECT * FROM Production.ProductInventory', adventureworks_conn)
adventureworks_production_productlistpricehistory = pd.read_sql('SELECT * FROM Production.ProductListPriceHistory', adventureworks_conn)
adventureworks_production_productmodel = pd.read_sql('SELECT * FROM Production.ProductModel', adventureworks_conn)
adventureworks_production_productmodelillustration = pd.read_sql('SELECT * FROM Production.ProductModelIllustration', adventureworks_conn)
adventureworks_production_productmodelproductdescriptionculture = pd.read_sql('SELECT * FROM Production.ProductModelProductDescriptionCulture', adventureworks_conn)
adventureworks_production_productphoto = pd.read_sql('SELECT ProductPhotoID, CONVERT(VARCHAR(MAX),ThumbNailPhoto, 1) as ThumbNailPhotoHexString, ThumbNailPhotoFileName, CONVERT(VARCHAR(MAX), LargePhoto, 1) as LargePhotoHexString, LargePhotoFileName, ModifiedDate FROM Production.ProductPhoto', adventureworks_conn)
adventureworks_production_productproductphoto = pd.read_sql('SELECT * FROM Production.ProductProductPhoto', adventureworks_conn)
adventureworks_production_productreview = pd.read_sql('SELECT * FROM Production.ProductReview', adventureworks_conn)
adventureworks_production_productsubcategory = pd.read_sql('SELECT * FROM Production.ProductSubcategory', adventureworks_conn)
adventureworks_production_scrapreason = pd.read_sql('SELECT * FROM Production.ScrapReason', adventureworks_conn)
adventureworks_production_transactionhistory = pd.read_sql('SELECT * FROM Production.TransactionHistory', adventureworks_conn)
adventureworks_production_transactionhistoryarchive = pd.read_sql('SELECT * FROM Production.TransactionHistoryArchive', adventureworks_conn)
adventureworks_production_unitmeasure = pd.read_sql('SELECT * FROM Production.UnitMeasure', adventureworks_conn)
adventureworks_production_workorder = pd.read_sql('SELECT * FROM Production.WorkOrder', adventureworks_conn)
adventureworks_production_workorderrouting = pd.read_sql('SELECT * FROM Production.WorkOrderRouting', adventureworks_conn)

In [171]:
adventureworks_purchasing_productvendor = pd.read_sql('SELECT * FROM Purchasing.ProductVendor', adventureworks_conn)
adventureworks_purchasing_purchaseorderdetail = pd.read_sql('SELECT * FROM Purchasing.PurchaseOrderDetail', adventureworks_conn)
adventureworks_purchasing_purchaseorderheader = pd.read_sql('SELECT * FROM Purchasing.PurchaseOrderHeader', adventureworks_conn)
adventureworks_purchasing_shipmethod = pd.read_sql('SELECT * FROM Purchasing.ShipMethod', adventureworks_conn)
adventureworks_purchasing_vendor = pd.read_sql('SELECT * FROM Purchasing.Vendor', adventureworks_conn)

In [172]:
adventureworks_sales_countryregioncurrency = pd.read_sql('SELECT * FROM Sales.CountryRegionCurrency', adventureworks_conn)
adventureworks_sales_creditcard = pd.read_sql('SELECT * FROM Sales.CreditCard', adventureworks_conn)
adventureworks_sales_currency = pd.read_sql('SELECT * FROM Sales.Currency', adventureworks_conn)
adventureworks_sales_currencyrate = pd.read_sql('SELECT * FROM Sales.CurrencyRate', adventureworks_conn)
adventureworks_sales_customer = pd.read_sql('SELECT * FROM Sales.Customer', adventureworks_conn)
adventureworks_sales_personcreditcard = pd.read_sql('SELECT * FROM Sales.PersonCreditCard', adventureworks_conn)
adventureworks_sales_salesorderdetail = pd.read_sql('SELECT * FROM Sales.SalesOrderDetail', adventureworks_conn)
adventureworks_sales_salesorderheader = pd.read_sql('SELECT * FROM Sales.SalesOrderHeader', adventureworks_conn)
adventureworks_sales_salesorderhearerrsaleseason = pd.read_sql('SELECT * FROM Sales.SalesOrderHeaderSalesReason', adventureworks_conn)
adventureworks_sales_salesperson = pd.read_sql('SELECT * FROM Sales.SalesPerson', adventureworks_conn)
adventureworks_sales_salespersonquotahistory = pd.read_sql('SELECT * FROM Sales.SalesPersonQuotaHistory', adventureworks_conn)
adventureworks_sales_salesreason = pd.read_sql('SELECT * FROM Sales.SalesReason', adventureworks_conn)
adventureworks_sales_salestaxrate = pd.read_sql('SELECT * FROM Sales.SalesTaxRate', adventureworks_conn)
adventureworks_sales_salesterritory = pd.read_sql('SELECT * FROM Sales.SalesTerritory', adventureworks_conn)
adventureworks_sales_salesterritoryhistory = pd.read_sql('SELECT * FROM Sales.SalesTerritoryHistory', adventureworks_conn)
adventureworks_sales_shoppingcartitem = pd.read_sql('SELECT * FROM Sales.ShoppingCartItem', adventureworks_conn)
adventureworks_sales_specialoffer = pd.read_sql('SELECT * FROM Sales.SpecialOffer', adventureworks_conn)
adventureworks_sales_specialofferproduct = pd.read_sql('SELECT * FROM Sales.SpecialOfferProduct', adventureworks_conn)
adventureworks_sales_store = pd.read_sql('SELECT * FROM Sales.Store', adventureworks_conn)

adventureworks_conn.close()

## Combining the data
ORDER MATTERS, CAUSE SURROGATE KEYS
SK STILL NEEDS TO BE DONE

### Departments
Combining aenc and adventureworks department data

In [173]:
# adding DEPARTMENT_source_database columns to the dataframes
aenc_department['DEPARTMENT_source_database'] = 'aenc'
adventureworks_humanresources_department['DEPARTMENT_source_database'] = 'adventureworks'

# combining all department data
departments = pd.concat([aenc_department, adventureworks_humanresources_department], ignore_index=True)

# combining name and department name columns to create a name column
departments['DEPARTMENT_DEPARTMENT_DeptName'] = departments['Name'].combine_first(departments['dept_name'])
# combining dept_id and DepartmentID columns
departments['DEPARTMENT_DEPARTMENT_DeptID'] = departments['dept_id'].combine_first(departments['DepartmentID'])

# dropping the redundant columns
drop_modified_date_rowguid(departments)
departments.drop(columns=['dept_id', 'Name', 'dept_name', 'DepartmentID'], inplace=True)

# renaming the remaining columns
departments.rename(columns={'dept_head_id': 'DEPARTMENT_DEPARTMENT_DeptHeadID', 'GroupName': 'DEPARTMENT_DEPARTMENT_GroupName'}, inplace=True)

departments.head()

C:\Users\yunyi\AppData\Local\Temp\ipykernel_46084\2444242683.py:11: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  departments['DEPARTMENT_DEPARTMENT_DeptID'] = departments['dept_id'].combine_first(departments['DepartmentID'])

,DEPARTMENT_DEPARTMENT_DeptHeadID,DEPARTMENT_source_database,DEPARTMENT_DEPARTMENT_GroupName,DEPARTMENT_DEPARTMENT_DeptName,DEPARTMENT_DEPARTMENT_DeptID
0,NaN,adventureworks,Research and Development,Engineering,1.0
1,NaN,adventureworks,Research and Development,Tool Design,2.0
2,NaN,adventureworks,Sales and Marketing,Sales,3.0
3,NaN,adventureworks,Sales and Marketing,Marketing,4.0
4,NaN,adventureworks,Inventory Management,Purchasing,5.0

### Employees

In [174]:
# merge northwind with territory and employee
combined_northwind_employee = pd.merge(northwind_employees, northwind_employee_territories, on='EmployeeID')

# merge employee from aenc with bonus
combined_aenc_employee = pd.merge(aenc_employee, aenc_bonus, on='emp_id')
combined_aenc_employee.rename(columns={'emp_id': 'EmployeeID'}, inplace=True)

#rename businessentityid to employeeid
adventureworks_humanresources_employee.rename(columns={'BusinessEntityID': 'EmployeeID'}, inplace=True)

# after that concat together
employees = pd.concat([adventureworks_humanresources_employee, combined_northwind_employee, combined_aenc_employee], ignore_index=True)

# manual comebine some columns which are identical
employees['EMPLOYEE_EMPLOYEES_FirstName'] = employees['FirstName'].combine_first(employees['emp_fname'])
employees['EMPLOYEE_EMPLOYEES_LastName'] = employees['LastName'].combine_first(employees['emp_lname'])
employees['EMPLOYEE_EMPLOYEES_City'] = employees['City'].combine_first(employees['city'])
employees['EMPLOYEE_EMPLOYEES_PostalCode'] = employees['PostalCode'].combine_first(employees['zip_code'])
employees['EMPLOYEE_EMPLOYEE_BirthDate'] = employees['BirthDate'].combine_first(employees['birth_date'])

# drop unneeded
drop_modified_date_rowguid(employees)
employees.drop(columns=['LastName', 'FirstName', 'City', 'PostalCode', 'BirthDate', 'emp_fname', 'emp_lname', 'city', 'zip_code', 'birth_date'], inplace=True)

# rename
employees.rename(columns={
    'EmployeeID': 'EMPLOYEE_EMPLOYEE_EmployeeID',
    'NationalIDNumber': 'EMPLOYEE_EMPLOYEE_NationalIDNumber',
    'LoginID': 'EMPLOYEE_EMPLOYEE_LoginID',
    'OrganizationNode': 'EMPLOYEE_EMPLOYEE_OrganizationNode',
    'OrganizationLevel': 'EMPLOYEE_EMPLOYEE_OrganizationLevel',
    'JobTitle': 'EMPLOYEE_EMPLOYEE_JobTitle',
    'BirthDate': 'EMPLOYEE_EMPLOYEE_BirthDate',
    'MaritalStatus': 'EMPLOYEE_EMPLOYEE_MaritalStatus',
    'Gender': 'EMPLOYEE_EMPLOYEE_Gender',
    'HireDate': 'EMPLOYEE_EMPLOYEE_HireDate',
    'SalariedFlag': 'EMPLOYEE_EMPLOYEE_SalariedFlag',
    'VacationHours': 'EMPLOYEE_EMPLOYEE_VacationHours',	
    'SickLeaveHours': 'EMPLOYEE_EMPLOYEE_SickLeaveHours',
    'CurrentFlag': 'EMPLOYEE_EMPLOYEE_CurrentFlag',
    'Title': 'EMPLOYEE_EMPLOYEES_Title',
    'TitleOfCourtesy': 'EMPLOYEE_EMPLOYEES_TitleOfCourtesy',
    'Address': 'EMPLOYEE_EMPLOYEES_Address',
    'Region': 'EMPLOYEE_EMPLOYEES_Region',
    'PostalCode': 'EMPLOYEE_EMPLOYEES_PostalCode',
    'Country': 'EMPLOYEE_EMPLOYEES_Country',
    'HomePhone': 'EMPLOYEE_EMPLOYEES_HomePhone',
    'Extension': 'EMPLOYEE_EMPLOYEES_Extension',
    'Photo': 'EMPLOYEE_EMPLOYEES_Photo',
    'Notes': 'EMPLOYEE_EMPLOYEES_Notes',
    'ReportsTo': 'EMPLOYEE_EMPLOYEES_ReportsTo',
    'PhotoPath': 'EMPLOYEE_EMPLOYEES_PhotoPath',
    'TerritoryID': 'EMPLOYEE_EMPLOYEES_TerritoryID',
    'manager_id': 'EMPLOYEE_EMPLOYEE_ManagerID',
    'dept_id': 'EMPLOYEE_EMPLOYEE_DeptID',
    'street': 'EMPLOYEE_EMPLOYEE_Street',    
    'state': 'EMPLOYEE_EMPLOYEE_State',
    'phone': 'EMPLOYEE_EMPLOYEE_Phone',
    'status': 'EMPLOYEE_EMPLOYEE_Status',
    'ss_number': 'EMPLOYEE_EMPLOYEE_SS_Number',
    'salary': 'EMPLOYEE_EMPLOYEE_Salary',
    'start_date': 'EMPLOYEE_EMPLOYEE_Start_Date',
    'termination_date': 'EMPLOYEE_EMPLOYEE_Termination',
    'bene_health_ins': 'EMPLOYEE_EMPLOYEE_Bene_Health_Ins',
    'bene_life_ins': 'EMPLOYEE_EMPLOYEE_Bene_Life_Ins',
    'bene_day_care': 'EMPLOYEE_EMPLOYEE_Bene_Day_Care',
    'sex': 'EMPLOYEE_EMPLOYEE_Sex',
    'bonus_id': 'EMPLOYEE_BONUS_BonusID',
    'bonus_date': 'EMPLOYEE_BONUS_Bonus_Date',
    'bonus_amount': 'EMPLOYEE_BONUS_Bonus_Amount'
}, inplace=True)

employees.head()

,EMPLOYEE_EMPLOYEE_EmployeeID,EMPLOYEE_EMPLOYEE_NationalIDNumber,EMPLOYEE_EMPLOYEE_LoginID,EMPLOYEE_EMPLOYEE_OrganizationNode,EMPLOYEE_EMPLOYEE_OrganizationLevel,EMPLOYEE_EMPLOYEE_JobTitle,EMPLOYEE_EMPLOYEE_MaritalStatus,EMPLOYEE_EMPLOYEE_Gender,EMPLOYEE_EMPLOYEE_HireDate,EMPLOYEE_EMPLOYEE_SalariedFlag,EMPLOYEE_EMPLOYEE_VacationHours,EMPLOYEE_EMPLOYEE_SickLeaveHours,EMPLOYEE_EMPLOYEE_CurrentFlag,EMPLOYEE_EMPLOYEES_Title,EMPLOYEE_EMPLOYEES_TitleOfCourtesy,EMPLOYEE_EMPLOYEES_Address,EMPLOYEE_EMPLOYEES_Region,EMPLOYEE_EMPLOYEES_Country,EMPLOYEE_EMPLOYEES_HomePhone,EMPLOYEE_EMPLOYEES_Extension,EMPLOYEE_EMPLOYEES_Photo,EMPLOYEE_EMPLOYEES_Notes,EMPLOYEE_EMPLOYEES_ReportsTo,EMPLOYEE_EMPLOYEES_PhotoPath,EMPLOYEE_EMPLOYEES_PhotoHexString,EMPLOYEE_EMPLOYEES_TerritoryID,EMPLOYEE_EMPLOYEE_ManagerID,EMPLOYEE_EMPLOYEE_DeptID,EMPLOYEE_EMPLOYEE_Street,EMPLOYEE_EMPLOYEE_State,EMPLOYEE_EMPLOYEE_Phone,EMPLOYEE_EMPLOYEE_Status,EMPLOYEE_EMPLOYEE_SS_Number,EMPLOYEE_EMPLOYEE_Salary,EMPLOYEE_EMPLOYEE_Start_Date,EMPLOYEE_EMPLOYEE_Termination,EMPLOYEE_EMPLOYEE_Bene_Health_Ins,EMPLOYEE_EMPLOYEE_Bene_Life_Ins,EMPLOYEE_EMPLOYEE_Bene_Day_Care,EMPLOYEE_EMPLOYEE_Sex,EMPLOYEE_BONUS_BonusID,EMPLOYEE_BONUS_Bonus_Date,EMPLOYEE_BONUS_Bonus_Amount,EMPLOYEE_EMPLOYEES_FirstName,EMPLOYEE_EMPLOYEES_LastName,EMPLOYEE_EMPLOYEES_City,EMPLOYEE_EMPLOYEES_PostalCode,EMPLOYEE_EMPLOYEE_BirthDate
0,1,295847284,adventure-works\ken0,None,NaN,Chief Executive Officer,S,M,2009-01-14,True,99.0,69.0,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1969-01-29
1,2,245797967,adventure-works\terri0,b'X',1.0,Vice President of Engineering,S,F,2008-01-31,True,1.0,20.0,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1971-08-01
2,3,509647174,adventure-works\roberto0,b'Z\xc0',2.0,Engineering Manager,M,M,2007-11-11,True,2.0,21.0,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1974-11-12
3,4,112457891,adventure-works\rob0,b'Z\xd6',3.0,Senior Tool Designer,S,M,2007-12-05,False,48.0,80.0,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1974-12-23
4,5,695256908,adventure-works\gail0,b'Z\xda',3.0,Design Engineer,M,F,2008-01-06,True,5.0,22.0,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1952-09-27

### BusinessEntities

In [175]:
# Combining the adventureworks Person.BusinessEntity, BusinessEntityContact and ContactType data
businessentities= pd.merge(adventureworks_person_businessentity, adventureworks_person_businessentitycontact, left_on='BusinessEntityID', right_on='BusinessEntityID', suffixes=('_person_businessentity', '_businessentitycontact'), how="outer")

businessentities = pd.merge(businessentities, adventureworks_person_contacttype, left_on='ContactTypeID', right_on='ContactTypeID', suffixes=('', '_contacttype'), how="outer")

# dropping the modified date and rowguid columns
drop_modified_date_rowguid(businessentities)

# renaming the columns
businessentities.rename(columns={'BusinessEntityID': 'BUSINESSENTITY_BUSINESSENTITY_BusinessEntityID', 'PersonID': 'BUSINESSENTITY_BUSINESSENTITYCONTACT_PersonID', 'ContactTypeID': 'BUSINESSENTITY_CONTACTTYPE_ContactTypeID', 'Name' : 'BUSINESSENTITY_CONTACTTYPE_Name'}, inplace=True)

businessentities.head()

,BUSINESSENTITY_BUSINESSENTITY_BusinessEntityID,BUSINESSENTITY_BUSINESSENTITYCONTACT_PersonID,BUSINESSENTITY_CONTACTTYPE_ContactTypeID,BUSINESSENTITY_CONTACTTYPE_Name
0,NaN,NaN,1.0,Accounting Manager
1,1510.0,1509.0,2.0,Assistant Sales Agent
2,1518.0,1517.0,2.0,Assistant Sales Agent
3,1522.0,1521.0,2.0,Assistant Sales Agent
4,1528.0,1527.0,2.0,Assistant Sales Agent

### BillOfMaterial

In [176]:
# merge table
billofmaterials = pd.merge(adventureworks_production_bill_of_materials, adventureworks_production_unitmeasure, on='UnitMeasureCode')

# rename
billofmaterials.rename(columns={
    'BillOfMaterialsID': 'BILLOFMATERIAL_BILLOFMATERIAL_BillOfMaterialID',
    'ProductAssemblyID': 'BILLOFMATERIAL_BILLOFMATERIAL_ProductAssemblyID',
    'ComponentID': 'BILLOFMATERIAL_BILLOFMATERIAL_ComponentID',
    'StartDate': 'BILLOFMATERIAL_BILLOFMATERIAL_StartDate',
    'EndDate': 'BILLOFMATERIAL_BILLOFMATERIAL_EndDate',
    'UnitMeasureCode': 'BILLOFMATERIAL_BILLOFMATERIAL_UnitMeasureCode',
    'BOMLevel': 'BILLOFMATERIAL_BILLOFMATERIAL_BOMLevel',
    'PerAssemblyQty': 'BILLOFMATERIAL_BILLOFMATERIAL_PerAssemblyQty',
    'Name': 'BILLOFMATERIAL_UNITMEASURE_Name'
}, inplace=True)

# drop unneeded column
drop_modified_date_rowguid(billofmaterials)

billofmaterials.head()

,BILLOFMATERIAL_BILLOFMATERIAL_BillOfMaterialID,BILLOFMATERIAL_BILLOFMATERIAL_ProductAssemblyID,BILLOFMATERIAL_BILLOFMATERIAL_ComponentID,BILLOFMATERIAL_BILLOFMATERIAL_StartDate,BILLOFMATERIAL_BILLOFMATERIAL_EndDate,BILLOFMATERIAL_BILLOFMATERIAL_UnitMeasureCode,BILLOFMATERIAL_BILLOFMATERIAL_BOMLevel,BILLOFMATERIAL_BILLOFMATERIAL_PerAssemblyQty,BILLOFMATERIAL_UNITMEASURE_Name
0,893,NaN,749,2010-05-26,NaT,EA,0,1.0,Each
1,271,NaN,750,2010-03-04,2010-05-03,EA,0,1.0,Each
2,34,NaN,750,2010-05-04,NaT,EA,0,1.0,Each
3,830,NaN,751,2010-05-26,NaT,EA,0,1.0,Each
4,2074,NaN,752,2010-07-08,NaT,EA,0,1.0,Each

### Document

In [177]:
# merge table
documents = pd.merge(adventureworks_production_document, adventureworks_production_productdocument, on='DocumentNode')

# rename
documents.rename(columns={
    'DocumentNode': 'DOCUMENT_DOCUMENT_DocumentNode',
    'DocumentLevel': 'DOCUMENT_DOCUMENT_DocumentLevel',
    'Title': 'DOCUMENT_DOCUMENT_Title',
    'Owner': 'DOCUMENT_DOCUMENT_Owner',
    'FolderFlag': 'DOCUMENT_DOCUMENT_FolderFlag',
    'FileName': 'DOCUMENT_DOCUMENT_FileName',
    'FileExtension': 'DOCUMENT_DOCUMENT_FileExtension',
    'Revision': 'DOCUMENT_DOCUMENT_Revision',
    'ChangeNumber': 'DOCUMENT_DOCUMENT_ChangeNumber',
    'Status': 'DOCUMENT_DOCUMENT_Status',
    'DocumentSummary': 'DOCUMENT_DOCUMENT_DocumentSummary',
    'Document': 'DOCUMENT_DOCUMENT_Document',
    'ProductID': 'DOCUMENT_PRODUCTDOCUMENT_ProductID'
}, inplace=True)

# drop unneeded column
drop_modified_date_rowguid(documents)
documents.drop(columns=['DocumentNodeString'], inplace=True)

documents.head()

,DOCUMENT_DOCUMENT_DocumentNode,DOCUMENT_DOCUMENT_DocumentLevel,DOCUMENT_DOCUMENT_Title,DOCUMENT_DOCUMENT_Owner,DOCUMENT_DOCUMENT_FolderFlag,DOCUMENT_DOCUMENT_FileName,DOCUMENT_DOCUMENT_FileExtension,DOCUMENT_DOCUMENT_Revision,DOCUMENT_DOCUMENT_ChangeNumber,DOCUMENT_DOCUMENT_Status,DOCUMENT_DOCUMENT_DocumentSummary,DOCUMENT_DOCUMENT_Document,DOCUMENT_PRODUCTDOCUMENT_ProductID
0,b'Z\xc0',2,Introduction 1,219,False,Introduction 1.doc,.doc,4,28,2,None,b'\xd0\xcf\x11\xe0\xa1\xb1\x1a\xe1\x00\x00\x00...,977
1,b'Z\xc0',2,Introduction 1,219,False,Introduction 1.doc,.doc,4,28,2,None,b'\xd0\xcf\x11\xe0\xa1\xb1\x1a\xe1\x00\x00\x00...,997
2,b'Z\xc0',2,Introduction 1,219,False,Introduction 1.doc,.doc,4,28,2,None,b'\xd0\xcf\x11\xe0\xa1\xb1\x1a\xe1\x00\x00\x00...,998
3,b'Z\xc0',2,Introduction 1,219,False,Introduction 1.doc,.doc,4,28,2,None,b'\xd0\xcf\x11\xe0\xa1\xb1\x1a\xe1\x00\x00\x00...,999
4,b'j\xc0',2,Crank Arm and Tire Maintenance,219,False,Crank Arm and Tire Maintenance.doc,.doc,0,0,1,None,b'\xd0\xcf\x11\xe0\xa1\xb1\x1a\xe1\x00\x00\x00...,317

### WorkOrder

In [178]:
# drop product id
adventureworks_production_workorderrouting = adventureworks_production_workorderrouting.drop(columns=('ProductID'))

#merge table
workorders = pd.merge(adventureworks_production_workorder, adventureworks_production_scrapreason, on="ScrapReasonID")
workorders = pd.merge(workorders, adventureworks_production_workorderrouting, on="WorkOrderID")

#rename
workorders.rename(columns={
    'WorkOrderID': 'WORKORDER_WORKORDER_WorkOrderID',
    'ProductID': 'WORKORDER_WORKORDER_ProductID',
    'OrderQty': 'WORKORDER_WORKORDER_OrderQty',
    'StockedQty': 'WORKORDER_WORKORDER_StockedQty',
    'ScrappedQty': 'WORKORDER_WORKORDER_ScrappedQty',
    'StartDate': 'WORKORDER_WORKORDER_StartDate',
    'EndDate': 'WORKORDER_WORKORDER_EndDate',
    'DueDate': 'WORKORDER_WORKORDER_DueDate',
    'ScrapReasonID': 'WORKORDER_SCRAPREASON_ScrapReasonID',
    'Name': 'WORKORDER_SCRAPREASON_Name',
    'OperationSequence': 'WORKORDER_WORKORDERINGROUTING_OperationSequence',
    'LocationID': 'WORKORDER_WORKORDERINGROUTING_LocationID',
    'ScheduledStartDate': 'WORKORDER_WORKORDERINGROUTING_ScheduledStartDate',
    'ScheduledEndDate': 'WORKORDER_WORKORDERINGROUTING_ScheduledEndDate',
    'ActualStartDate': 'WORKORDER_WORKORDERINGROUTING_ActualStartDate',
    'ActualEndDate': 'WORKORDER_WORKORDERINGROUTING_ActualEndDate',
    'ActualResourceHrs': 'WORKORDER_WORKORDERINGROUTING_ActualResourcesHrs',
    'PlannedCost': 'WORKORDER_WORKORDERINGROUTING_PlannedCost',
    'ActualCost': 'WORKORDER_WORKORDERINGROUTING_ActualCost'
}, inplace=True)

#drop unneeded column
drop_modified_date_rowguid(workorders)

workorders.head()

,WORKORDER_WORKORDER_WorkOrderID,WORKORDER_WORKORDER_ProductID,WORKORDER_WORKORDER_OrderQty,WORKORDER_WORKORDER_StockedQty,WORKORDER_WORKORDER_ScrappedQty,WORKORDER_WORKORDER_StartDate,WORKORDER_WORKORDER_EndDate,WORKORDER_WORKORDER_DueDate,WORKORDER_SCRAPREASON_ScrapReasonID,WORKORDER_SCRAPREASON_Name,WORKORDER_WORKORDERINGROUTING_OperationSequence,WORKORDER_WORKORDERINGROUTING_LocationID,WORKORDER_WORKORDERINGROUTING_ScheduledStartDate,WORKORDER_WORKORDERINGROUTING_ScheduledEndDate,WORKORDER_WORKORDERINGROUTING_ActualStartDate,WORKORDER_WORKORDERINGROUTING_ActualEndDate,WORKORDER_WORKORDERINGROUTING_ActualResourcesHrs,WORKORDER_WORKORDERINGROUTING_PlannedCost,WORKORDER_WORKORDERINGROUTING_ActualCost
0,41,518,98,97,1,2011-06-03,2011-06-19,2011-06-14,7.0,Handling damage,6,50,2011-06-03,2011-06-14,2011-06-03,2011-06-19,3.0,36.75,36.75
1,41,518,98,97,1,2011-06-03,2011-06-19,2011-06-14,7.0,Handling damage,7,60,2011-06-03,2011-06-14,2011-06-03,2011-06-19,4.0,49.00,49.00
2,69,810,120,117,3,2011-06-03,2011-06-19,2011-06-14,11.0,Stress test failed,1,10,2011-06-03,2011-06-14,2011-06-03,2011-06-19,4.1,92.25,92.25
3,69,810,120,117,3,2011-06-03,2011-06-19,2011-06-14,11.0,Stress test failed,2,20,2011-06-03,2011-06-14,2011-06-03,2011-06-19,3.5,87.50,87.50
4,69,810,120,117,3,2011-06-03,2011-06-19,2011-06-14,11.0,Stress test failed,6,50,2011-06-03,2011-06-14,2011-06-03,2011-06-19,3.0,36.75,36.75

### BusinessEntityAddresses

In [179]:
# Combining the adventureworks Person.BusinessEntityAddress, Address and AddressType data
businessentityaddresses = pd.merge(adventureworks_person_businessentityaddress, adventureworks_person_address, left_on='AddressID', right_on='AddressID', suffixes=('', '_address'), how="outer")

businessentityaddresses = pd.merge(businessentityaddresses, adventureworks_person_address_type, left_on='AddressTypeID', right_on='AddressTypeID', suffixes=('', '_address_type'), how="outer")


# dropping the modified date and rowguid columns
drop_modified_date_rowguid(businessentityaddresses)

# renaming the columns
businessentityaddresses.rename(columns={'BusinessEntityID': 'BUSINESSENTITYADDRESS_BUSINESSENTITYADDRESS_BusinessEntityID', 'AddressID': 'BUSINESSENTITYADDRESS_ADDRESS_AddressID', 'AddressTypeID': 'BUSINESSENTITYADDRESS_ADDRESSTYPE_AddressTypeID', 'AddressLine1' : 'BUSINESSENTITYADDRESS_ADDRESS_AddressLine1', 'AddressLine2' : 'BUSINESSENTITYADDRESS_ADDRESS_AddressLine2', 'City' : 'BUSINESSENTITYADDRESS_ADDRESS_City', 'StateProvinceID' : 'BUSINESSENTITYADDRESS_ADDRESS_StateProvinceID', 'PostalCode' : 'BUSINESSENTITYADDRESS_ADDRESS_POSTALCODE', 'SpatialLocation' : 'BUSINESSENTITYADDRESS_ADDRESS_SpatialLocation', 'Name' : 'BUSINESSENTITYADDRESS_ADDRESSTYPE_Name'}, inplace=True)

businessentityaddresses.head()

,BUSINESSENTITYADDRESS_BUSINESSENTITYADDRESS_BusinessEntityID,BUSINESSENTITYADDRESS_ADDRESS_AddressID,BUSINESSENTITYADDRESS_ADDRESSTYPE_AddressTypeID,BUSINESSENTITYADDRESS_ADDRESS_AddressLine1,BUSINESSENTITYADDRESS_ADDRESS_AddressLine2,BUSINESSENTITYADDRESS_ADDRESS_City,BUSINESSENTITYADDRESS_ADDRESS_StateProvinceID,BUSINESSENTITYADDRESS_ADDRESS_POSTALCODE,BUSINESSENTITYADDRESS_ADDRESS_SpatialLocation,BUSINESSENTITYADDRESS_ADDRESSTYPE_Name
0,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,Billing
1,12.0,1.0,2,1970 Napa Ct.,None,Bothell,79.0,98011,POINT (-122.164644615406 47.7869921906598),Home
2,123.0,2.0,2,9833 Mt. Dias Blv.,None,Bothell,79.0,98011,POINT (-122.250185528911 47.6867097047995),Home
3,285.0,3.0,2,7484 Roundtree Drive,None,Bothell,79.0,98011,POINT (-122.274625789912 47.7631154083121),Home
4,251.0,4.0,2,9539 Glenside Dr,None,Bothell,79.0,98011,POINT (-122.335726442416 47.7392386259644),Home

### People

In [180]:
# combining person data from adventureworks HumanResources.Person, PersonPhone, PhoneNumberType, EmailAddress and Password
people = pd.merge(adventureworks_person_person, adventureworks_person_personphone, left_on='BusinessEntityID', right_on='BusinessEntityID', suffixes= ('_person', '_personphone'), how="outer")

people = pd.merge(people, adventureworks_person_phonenumbertype, left_on='PhoneNumberTypeID', right_on='PhoneNumberTypeID', suffixes=('', '_phonenumbertype'), how="outer")

people = pd.merge(people, adventureworks_person_emailaddress, left_on='BusinessEntityID', right_on='BusinessEntityID', suffixes=('','_emailaddress'), how="outer")

people = pd.merge(people, adventureworks_person_password, left_on='BusinessEntityID', right_on='BusinessEntityID', suffixes=('','_password'), how="outer")

# dropping the modified date and rowguid columns
drop_modified_date_rowguid(people)

# renaming the columns
people.rename(columns={'BusinessEntityID': 'PERSON_PERSON_BusinessEntityID', 'PersonType': 'PERSON_PERSON_PersonType', 'NameStyle': 'PERSON_PERSON_NameStyle', 'Title': 'PERSON_PERSON_Title', 'FirstName': 'PERSON_PERSON_FirstName', 'MiddleName' : 'PERSON_PERSON_MiddleName', 'LastName' : 'PERSON_PERSON_LastName', 'Suffix': 'PERSON_PERSON_Suffix', 'EmailPromotion' : 'PERSON_PERSON_EmailPromotion', 'AdditionalContactInfo' : 'PERSON_PERSON_AdditionalContactInfo', 'Demographics' : 'PERSON_PERSON_Demographics', 'PhoneNumber' : 'PERSON_PERSONPHONE_PhoneNumber', 'PhoneNumberTypeID' : 'PERSON_PHONENUMBERTYPE_PhoneNumberTypeID', 'Name' : 'PERSON_PHONENUMBERTYPE_Name', 'EmailAddressID': 'PERSON_EMAILADDRESS_EmailAddressID', 'EmailAddress' : 'PERSON_EMAILADDRESS_EmailAddress', 'PasswordHash' : 'PERSON_PASSWORD_PasswordHash', 'PasswordSalt' : 'PERSON_PASSWORD_PasswordSalt'}, inplace=True)

people.head()

,PERSON_PERSON_BusinessEntityID,PERSON_PERSON_PersonType,PERSON_PERSON_NameStyle,PERSON_PERSON_Title,PERSON_PERSON_FirstName,PERSON_PERSON_MiddleName,PERSON_PERSON_LastName,PERSON_PERSON_Suffix,PERSON_PERSON_EmailPromotion,PERSON_PERSON_AdditionalContactInfo,PERSON_PERSON_Demographics,PERSON_PERSONPHONE_PhoneNumber,PERSON_PHONENUMBERTYPE_PhoneNumberTypeID,PERSON_PHONENUMBERTYPE_Name,PERSON_EMAILADDRESS_EmailAddressID,PERSON_EMAILADDRESS_EmailAddress,PERSON_PASSWORD_PasswordHash,PERSON_PASSWORD_PasswordSalt
0,1,EM,False,None,Ken,J,Snchez,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",697-555-0142,1,Cell,1,ken0@adventure-works.com,pbFwXWE99vobT6g+vPWFy93NtUU/orrIWafF01hccfM=,bE3XiWw=
1,2,EM,False,None,Terri,Lee,Duffy,None,1,None,"<IndividualSurvey xmlns=""http://schemas.micros...",819-555-0175,3,Work,2,terri0@adventure-works.com,bawRVNrZQYQ05qF05Gz6VLilnviZmrqBReTTAGAudm0=,EjJaC3U=
2,3,EM,False,None,Roberto,None,Tamburello,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",212-555-0187,1,Cell,3,roberto0@adventure-works.com,8BUXrZfDqO1IyHCWOYzYmqN1IhTUn3CJMpdx/UCQ3iY=,wbPZqMw=
3,4,EM,False,None,Rob,None,Walters,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",612-555-0100,1,Cell,4,rob0@adventure-works.com,SjLXpiarHSlz+6AG+H+4QpB/IPRzras/+9q/5Wr7tf8=,PwSunQU=
4,5,EM,False,Ms.,Gail,A,Erickson,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",849-555-0139,1,Cell,5,gail0@adventure-works.com,8FYdAiY6gWuBsgjCFdg0UibtsqOcWHf9TyaHIP7+paA=,qYhZRiM=

### JobCandidate

In [181]:
jobcandidates = adventureworks_humanresources_jobcandidate

# dropping the modified date and rowguid columns
drop_modified_date_rowguid(jobcandidates)

# renaming the columns
jobcandidates.rename(columns={'JobCandidateID': 'JOBCANDIDATE_JOBCANDIDATE_JobCandidateID', 'BusinessEntityID': 'JOBCANDIDATE_JOBCANDIDATE_BusinessEntityID', 'Resume': 'JOBCANDIDATE_JOBCANDIDATE_Resume'}, inplace=True)

jobcandidates.head()

,JOBCANDIDATE_JOBCANDIDATE_JobCandidateID,JOBCANDIDATE_JOBCANDIDATE_BusinessEntityID,JOBCANDIDATE_JOBCANDIDATE_Resume
0,1,NaN,"<ns:Resume xmlns:ns=""http://schemas.microsoft...."
1,2,NaN,"<ns:Resume xmlns:ns=""http://schemas.microsoft...."
2,3,NaN,"<ns:Resume xmlns:ns=""http://schemas.microsoft...."
3,4,274.0,"<ns:Resume xmlns:ns=""http://schemas.microsoft...."
4,5,NaN,"<ns:Resume xmlns:ns=""http://schemas.microsoft...."

### EmployeeDepartmentHistory

In [182]:
employeedepartmenthistories = adventureworks_humanresources_employeedepartmenthistory

# dropping the modified date and rowguid columns
drop_modified_date_rowguid(employeedepartmenthistories)

# renaming the columns
employeedepartmenthistories.rename(columns={'BusinessEntityID': 'EMPLOYEEDEPARTMENTHISTORY_EMPLOYEEDEPARTMENTHISTORY_BusinessEntityID', 'DepartmentID': 'EMPLOYEEDEPARTMENTHISTORY_EMPLOYEEDEPARTMENTHISTORY_DepartmentID', 'ShiftID': 'EMPLOYEEDEPARTMENTHISTORY_EMPLOYEEDEPARTMENTHISTORY_ShiftID', 'StartDate': 'EMPLOYEEDEPARTMENTHISTORY_EMPLOYEEDEPARTMENTHISTORY_StartDate', 'EndDate': 'EMPLOYEEDEPARTMENTHISTORY_EMPLOYEEDEPARTMENTHISTORY_EndDate'}, inplace=True)

employeedepartmenthistories.head()

,EMPLOYEEDEPARTMENTHISTORY_EMPLOYEEDEPARTMENTHISTORY_BusinessEntityID,EMPLOYEEDEPARTMENTHISTORY_EMPLOYEEDEPARTMENTHISTORY_DepartmentID,EMPLOYEEDEPARTMENTHISTORY_EMPLOYEEDEPARTMENTHISTORY_ShiftID,EMPLOYEEDEPARTMENTHISTORY_EMPLOYEEDEPARTMENTHISTORY_StartDate,EMPLOYEEDEPARTMENTHISTORY_EMPLOYEEDEPARTMENTHISTORY_EndDate
0,1,16,1,2009-01-14,None
1,2,1,1,2008-01-31,None
2,3,1,1,2007-11-11,None
3,4,1,1,2007-12-05,2010-05-30
4,4,2,1,2010-05-31,None

### EmployeePayHistory

In [183]:
employeepayhistories = adventureworks_humanresources_employeepayhistory

# dropping the modified date and rowguid columns
drop_modified_date_rowguid(employeepayhistories)

# renaming the columns
employeepayhistories.rename(columns={'BusinessEntityID': 'EMPLOYEEPAYHISTORY_EMPLOYEEPAYHISTORY_BusinessEntityID', 'RateChangeDate': 'EMPLOYEEPAYHISTORY_EMPLOYEEPAYHISTORY_RateChangeDate', 'Rate': 'EMPLOYEEPAYHISTORY_EMPLOYEEPAYHISTORY_Rate', 'PayFrequency': 'EMPLOYEEPAYHISTORY_EMPLOYEEPAYHISTORY_PayFrequency'}, inplace=True)

employeepayhistories.head()

,EMPLOYEEPAYHISTORY_EMPLOYEEPAYHISTORY_BusinessEntityID,EMPLOYEEPAYHISTORY_EMPLOYEEPAYHISTORY_RateChangeDate,EMPLOYEEPAYHISTORY_EMPLOYEEPAYHISTORY_Rate,EMPLOYEEPAYHISTORY_EMPLOYEEPAYHISTORY_PayFrequency
0,1,2009-01-14,125.5000,2
1,2,2008-01-31,63.4615,2
2,3,2007-11-11,43.2692,2
3,4,2007-12-05,8.6200,2
4,4,2010-05-31,23.7200,2

### Shift

In [184]:
shifts = adventureworks_humanresources_shift

# dropping the modified date and rowguid columns
drop_modified_date_rowguid(shifts)

# renaming the columns
shifts.rename(columns={'ShiftID': 'SHIFT_SHIFT_ShiftID', 'Name': 'SHIFT_SHIFT_Name', 'StartTime': 'SHIFT_SHIFT_StartTime', 'EndTime': 'SHIFT_SHIFT_EndTime'}, inplace=True)

shifts.head()

,SHIFT_SHIFT_ShiftID,SHIFT_SHIFT_Name,SHIFT_SHIFT_StartTime,SHIFT_SHIFT_EndTime
0,1,Day,07:00:00.0000000,15:00:00.0000000
1,2,Evening,15:00:00.0000000,23:00:00.0000000
2,3,Night,23:00:00.0000000,07:00:00.0000000

### SalesPerson

In [185]:
salespeople = adventureworks_sales_salesperson

# dropping the modified date and rowguid columns
drop_modified_date_rowguid(salespeople)

# renaming the columns
salespeople.rename(columns={'BusinessEntityID': 'SALESPERSON_SALESPERSON_BusinessEntityID', 'TerritoryID': 'SALESPERSON_SALESPERSON_TerritoryID', 'SalesQuota': 'SALESPERSON_SALESPERSON_SalesQuota', 'Bonus': 'SALESPERSON_SALESPERSON_Bonus', 'CommissionPct': 'SALESPERSON_SALESPERSON_CommissionPct', 'SalesYTD': 'SALESPERSON_SALESPERSON_SalesYTD', 'SalesLastYear': 'SALESPERSON_SALESPERSON_SalesLastYear'}, inplace=True)

salespeople.head()

,SALESPERSON_SALESPERSON_BusinessEntityID,SALESPERSON_SALESPERSON_TerritoryID,SALESPERSON_SALESPERSON_SalesQuota,SALESPERSON_SALESPERSON_Bonus,SALESPERSON_SALESPERSON_CommissionPct,SALESPERSON_SALESPERSON_SalesYTD,SALESPERSON_SALESPERSON_SalesLastYear
0,274,NaN,NaN,0.0,0.000,5.596976e+05,0.000000e+00
1,275,2.0,300000.0,4100.0,0.012,3.763178e+06,1.750406e+06
2,276,4.0,250000.0,2000.0,0.015,4.251369e+06,1.439156e+06
3,277,3.0,250000.0,2500.0,0.015,3.189418e+06,1.997186e+06
4,278,6.0,250000.0,500.0,0.010,1.453719e+06,1.620277e+06

### ProductVendor

In [186]:
productvendors = adventureworks_purchasing_productvendor

# dropping the modified date and rowguid columns
drop_modified_date_rowguid(productvendors)

# renaming the columns
productvendors.rename(columns={'ProductID': 'PRODUCTVENDOR_PRODUCTVENDOR_ProductID', 'BusinessEntityID': 'PRODUCTVENDOR_PRODUCTVENDOR_BusinessEntityID', 'AverageLeadTime': 'PRODUCTVENDOR_PRODUCTVENDOR_AverageLeadTime', 'StandardPrice': 'PRODUCTVENDOR_PRODUCTVENDOR_StandardPrice', 'LastReceiptCost': 'PRODUCTVENDOR_PRODUCTVENDOR_LastReceiptCost', 'LastReceiptDate': 'PRODUCTVENDOR_PRODUCTVENDOR_LastReceiptDate', 'MinOrderQty': 'PRODUCTVENDOR_PRODUCTVENDOR_MinOrderQty', 'MaxOrderQty': 'PRODUCTVENDOR_PRODUCTVENDOR_MaxOrderQty', 'OnOrderQty': 'PRODUCTVENDOR_PRODUCTVENDOR_OnOrderQty', 'UnitMeasureCode' : 'PRODUCTVENDOR_PRODUCTVENDOR_UnitMeasureCode'}, inplace=True)

productvendors.head()

,PRODUCTVENDOR_PRODUCTVENDOR_ProductID,PRODUCTVENDOR_PRODUCTVENDOR_BusinessEntityID,PRODUCTVENDOR_PRODUCTVENDOR_AverageLeadTime,PRODUCTVENDOR_PRODUCTVENDOR_StandardPrice,PRODUCTVENDOR_PRODUCTVENDOR_LastReceiptCost,PRODUCTVENDOR_PRODUCTVENDOR_LastReceiptDate,PRODUCTVENDOR_PRODUCTVENDOR_MinOrderQty,PRODUCTVENDOR_PRODUCTVENDOR_MaxOrderQty,PRODUCTVENDOR_PRODUCTVENDOR_OnOrderQty,PRODUCTVENDOR_PRODUCTVENDOR_UnitMeasureCode
0,1,1580,17,47.87,50.2635,2011-08-29,1,5,3.0,CS
1,2,1688,19,39.92,41.9160,2011-08-29,1,5,3.0,CTN
2,4,1650,17,54.31,57.0255,2011-08-29,1,5,NaN,CTN
3,317,1578,19,28.17,29.5785,2011-08-29,100,1000,300.0,EA
4,317,1678,17,25.77,27.0585,2011-08-25,100,1000,NaN,EA

### CustomerCustomerDemo

In [187]:
customercustomerdemos = northwind_customer_customer_demo

# dropping the modified date and rowguid columns
drop_modified_date_rowguid(customercustomerdemos)

# renaming the columns
customercustomerdemos.rename(columns={'CustomerID': 'CUSTOMERCUSTOMERDEMO_CUSTOMERCUSTOMERDEMO_CustomerID', 'CustomerTypeID': 'CUSTOMERCUSTOMERDEMO_CUSTOMERCUSTOMERDEMO_CustomerTypeID'}, inplace=True)

customercustomerdemos.head()

Empty DataFrame
Columns: [CUSTOMERCUSTOMERDEMO_CUSTOMERCUSTOMERDEMO_CustomerID, CUSTOMERCUSTOMERDEMO_CUSTOMERCUSTOMERDEMO_CustomerTypeID]
Index: []

### CustomerDemographics

In [188]:
customerdemographics = northwind_customer_demographics

# dropping the modified date and rowguid columns
drop_modified_date_rowguid(customerdemographics)

# renaming the columns
customerdemographics.rename(columns={'CustomerTypeID': 'CUSTOMERDEMOGRAPHIC_CUSTOMERDEMOGRAPHICS_CustomerTypeID', 'CustomerDesc': 'CUSTOMERDEMOGRAPHIC_CUSTOMERDEMOGRAPHICS_CustomerDesc'}, inplace=True)

customerdemographics.head()

Empty DataFrame
Columns: [CUSTOMERDEMOGRAPHIC_CUSTOMERDEMOGRAPHICS_CustomerTypeID, CUSTOMERDEMOGRAPHIC_CUSTOMERDEMOGRAPHICS_CustomerDesc]
Index: []

### SalesTerritoryHistory

In [189]:
salesterritoryhistories = adventureworks_sales_salesterritoryhistory

# dropping the modified date and rowguid columns
drop_modified_date_rowguid(salesterritoryhistories)

# renaming the columns
salesterritoryhistories.rename(columns={'BusinessEntityID': 'SALESTERRITORYHISTORY_SALESTERRITORYHISTORY_BusinessEntityID', 'TerritoryID': 'SALESTERRITORYHISTORY_SALESTERRITORYHISTORY_TerritoryID', 'StartDate': 'SALESTERRITORYHISTORY_SALESTERRITORYHISTORY_StartDate', 'EndDate': 'SALESTERRITORYHISTORY_SALESTERRITORYHISTORY_EndDate'}, inplace=True)

salesterritoryhistories.head()

,SALESTERRITORYHISTORY_SALESTERRITORYHISTORY_BusinessEntityID,SALESTERRITORYHISTORY_SALESTERRITORYHISTORY_TerritoryID,SALESTERRITORYHISTORY_SALESTERRITORYHISTORY_StartDate,SALESTERRITORYHISTORY_SALESTERRITORYHISTORY_EndDate
0,275,2,2011-05-31,2012-11-29
1,275,3,2012-11-30,NaT
2,276,4,2011-05-31,NaT
3,277,3,2011-05-31,2012-11-29
4,277,2,2012-11-30,NaT

### ProductListPriceHistory

In [190]:
productlistpricehistories = adventureworks_production_productlistpricehistory

# dropping the modified date and rowguid columns
drop_modified_date_rowguid(productlistpricehistories)

# renaming the columns
productlistpricehistories.rename(columns={'ProductID': 'PRODUCTLISTPRICEHISTORY_PRODUCTLISTPRICEHISTORY_ProductID', 'StartDate': 'PRODUCTLISTPRICEHISTORY_PRODUCTLISTPRICEHISTORY_StartDate', 'EndDate': 'PRODUCTLISTPRICEHISTORY_PRODUCTLISTPRICEHISTORY_EndDate', 'ListPrice': 'PRODUCTLISTPRICEHISTORY_PRODUCTLISTPRICEHISTORY_ListPrice'}, inplace=True)

productlistpricehistories.head()

,PRODUCTLISTPRICEHISTORY_PRODUCTLISTPRICEHISTORY_ProductID,PRODUCTLISTPRICEHISTORY_PRODUCTLISTPRICEHISTORY_StartDate,PRODUCTLISTPRICEHISTORY_PRODUCTLISTPRICEHISTORY_EndDate,PRODUCTLISTPRICEHISTORY_PRODUCTLISTPRICEHISTORY_ListPrice
0,707,2011-05-31,2012-05-29,33.6442
1,707,2012-05-30,2013-05-29,33.6442
2,707,2013-05-30,NaT,34.9900
3,708,2011-05-31,2012-05-29,33.6442
4,708,2012-05-30,2013-05-29,33.6442

### ProductCostHistory

In [191]:
productcosthistories = adventureworks_production_productcosthistory

# dropping the modified date and rowguid columns
drop_modified_date_rowguid(productcosthistories)

# renaming the columns
productcosthistories.rename(columns={'ProductID': 'PRODUCTCOSTHISTORY_PRODUCTCOSTHISTORY_ProductID', 'StartDate': 'PRODUCTCOSTHISTORY_PRODUCTCOSTHISTORY_StartDate', 'EndDate': 'PRODUCTCOSTHISTORY_PRODUCTCOSTHISTORY_EndDate', 'StandardCost': 'PRODUCTCOSTHISTORY_PRODUCTCOSTHISTORY_StandardCost'}, inplace=True)

productcosthistories.head()

,PRODUCTCOSTHISTORY_PRODUCTCOSTHISTORY_ProductID,PRODUCTCOSTHISTORY_PRODUCTCOSTHISTORY_StartDate,PRODUCTCOSTHISTORY_PRODUCTCOSTHISTORY_EndDate,PRODUCTCOSTHISTORY_PRODUCTCOSTHISTORY_StandardCost
0,707,2011-05-31,2012-05-29,12.0278
1,707,2012-05-30,2013-05-29,13.8782
2,707,2013-05-30,NaT,13.0863
3,708,2011-05-31,2012-05-29,12.0278
4,708,2012-05-30,2013-05-29,13.8782

### ShoppingCartItem

In [192]:
shoppingcartitems = adventureworks_sales_shoppingcartitem

# dropping the modified date and rowguid columns
drop_modified_date_rowguid(shoppingcartitems)

# renaming the columns
shoppingcartitems.rename(columns={'ShoppingCartItemID': 'SHOPPINGCARTITEM_SHOPPINGCARTITEM_ShoppingCartItemID', 'ShoppingCartID': 'SHOPPINGCARTITEM_SHOPPINGCARTITEM_ShoppingCartID', 'Quantity': 'SHOPPINGCARTITEM_SHOPPINGCARTITEM_Quantity', 'ProductID': 'SHOPPINGCARTITEM_SHOPPINGCARTITEM_ProductID', 'DateCreated': 'SHOPPINGCARTITEM_SHOPPINGCARTITEM_DateCreated'}, inplace=True)

shoppingcartitems.head()

,SHOPPINGCARTITEM_SHOPPINGCARTITEM_ShoppingCartItemID,SHOPPINGCARTITEM_SHOPPINGCARTITEM_ShoppingCartID,SHOPPINGCARTITEM_SHOPPINGCARTITEM_Quantity,SHOPPINGCARTITEM_SHOPPINGCARTITEM_ProductID,SHOPPINGCARTITEM_SHOPPINGCARTITEM_DateCreated
0,2,14951,3,862,2013-11-09 17:54:07.603
1,4,20621,4,881,2013-11-09 17:54:07.603
2,5,20621,7,874,2013-11-09 17:54:07.603

### SalesPersonQuotaHistory

In [193]:
salespersonquotahistories = adventureworks_sales_salespersonquotahistory

# dropping the modified date and rowguid columns
drop_modified_date_rowguid(salespersonquotahistories)

# renaming the columns
salespersonquotahistories.rename(columns={'BusinessEntityID': 'SALESPERSONQUOTAHISTORY_SALESPERSONQUOTAHISTORY_BusinessEntityID', 'QuotaDate': 'SALESPERSONQUOTAHISTORY_SALESPERSONQUOTAHISTORY_QuotaDate', 'SalesQuota': 'SALESPERSONQUOTAHISTORY_SALESPERSONQUOTAHISTORY_SalesQuota'}, inplace=True)

salespersonquotahistories.head()

,SALESPERSONQUOTAHISTORY_SALESPERSONQUOTAHISTORY_BusinessEntityID,SALESPERSONQUOTAHISTORY_SALESPERSONQUOTAHISTORY_QuotaDate,SALESPERSONQUOTAHISTORY_SALESPERSONQUOTAHISTORY_SalesQuota
0,274,2011-05-31,28000.0
1,274,2011-08-31,7000.0
2,274,2011-12-01,91000.0
3,274,2012-02-29,140000.0
4,274,2012-05-30,70000.0

### Customer

In [194]:
aenc_customer = aenc_customer[['fname', 'lname', 'state']]
northwind_customers.drop(columns='CustomerID', inplace=True)

# combining all customer data
customers = pd.concat([northwind_customers, aenc_customer, adventureworks_sales_customer], ignore_index=True)

#combine with store
customers = pd.merge(customers, adventureworks_sales_store, left_on='StoreID', right_on='BusinessEntityID')
customers.drop(columns='BusinessEntityID', inplace=True)

# combine with sales territory
customers = pd.merge(customers, adventureworks_sales_salesterritory, on='TerritoryID')

# rename
customers.rename(columns={
    'CustomerID': 'CUSTOMER_CUSTOMERS_ID',
    'CompanyName': 'CUSTOMER_CUSTOMERS_CompanyName',
    'ContactName': 'CUSTOMER_CUSTOMERS_ContactName',
    'ContactTitle': 'CUSTOMER_CUSTOMERS_ContactTitle',
    'Address': 'CUSTOMER_CUSTOMERS_Address',
    'City': 'CUSTOMER_CUSTOMERS_City',
    'Region': 'CUSTOMER_CUSTOMERS_Region',
    'PostalCode': 'CUSTOMER_CUSTOMERS_PostalCode',
    'Country': 'CUSTOMER_CUSTOMERS_Country',
    'Phone': 'CUSTOMER_CUSTOMERS_Phone',
    'Fax': 'CUSTOMER_CUSTOMERS_Fax',
    'fname': 'CUSTOMER_CUSTOMER_Fname',
    'lname': 'CUSTOMER_CUSTOMER_Lname',
    'state': 'CUSTOMER_CUSTOMER_State',
    'PersonID': 'CUSTOMER_CUSTOMER_PersonID',
    'StoreID': 'CUSTOMER_CUSTOMER_StoreID',
    'TerritoryID': 'CUSTOMER_CUSTOMER_TerritoryID',
    'AccountNumber': 'CUSTOMER_CUSTOMER_AccountNumber',
    'Name_x': 'CUSTOMER_STORE_Name',
    'SalesPersonID': 'CUSTOMER_STORE_SalesPersonID',
    'Demographics': 'CUSTOMER_STORE_Demographics',
    'Name_y': 'CUSTOMER_SALESTERRITORY_Name',
    'CountryRegionCode': 'CUSTOMER_SALESTERRITORY_CountryRegionCode',
    'Group': 'CUSTOMER_SALESTERRITORY_Group',
    'SalesYTD': 'CUSTOMER_SALESTERRITORY_SalesYTD',
    'SalesLastYear': 'CUSTOMER_SALESTERRITORY_SalesLastYear',
    'CostYTD': 'CUSTOMER_SALESTERRITORY_CostYTD',
    'CostLastYear': 'CUSTOMER_SALESTERRITORY_CostLastYear'
}, inplace=True)

drop_modified_date_rowguid(customers)

customers.head()

,CUSTOMER_CUSTOMERS_CompanyName,CUSTOMER_CUSTOMERS_ContactName,CUSTOMER_CUSTOMERS_ContactTitle,CUSTOMER_CUSTOMERS_Address,CUSTOMER_CUSTOMERS_City,CUSTOMER_CUSTOMERS_Region,CUSTOMER_CUSTOMERS_PostalCode,CUSTOMER_CUSTOMERS_Country,CUSTOMER_CUSTOMERS_Phone,CUSTOMER_CUSTOMERS_Fax,CUSTOMER_CUSTOMER_Fname,CUSTOMER_CUSTOMER_Lname,CUSTOMER_CUSTOMER_State,CUSTOMER_CUSTOMERS_ID,CUSTOMER_CUSTOMER_PersonID,CUSTOMER_CUSTOMER_StoreID,CUSTOMER_CUSTOMER_TerritoryID,CUSTOMER_CUSTOMER_AccountNumber,CUSTOMER_STORE_Name,CUSTOMER_STORE_SalesPersonID,CUSTOMER_STORE_Demographics,CUSTOMER_SALESTERRITORY_Name,CUSTOMER_SALESTERRITORY_CountryRegionCode,CUSTOMER_SALESTERRITORY_Group,CUSTOMER_SALESTERRITORY_SalesYTD,CUSTOMER_SALESTERRITORY_SalesLastYear,CUSTOMER_SALESTERRITORY_CostYTD,CUSTOMER_SALESTERRITORY_CostLastYear
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,934.0,1.0,AW00000001,A Bike Store,280,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",Northwest,US,North America,7.887187e+06,3.298694e+06,0.0,0.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1028.0,1.0,AW00000002,Progressive Sports,283,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",Northwest,US,North America,7.887187e+06,3.298694e+06,0.0,0.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,642.0,4.0,AW00000003,Advanced Bike Components,277,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",Southwest,US,North America,1.051085e+07,5.366576e+06,0.0,0.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,932.0,4.0,AW00000004,Modular Cycle Systems,277,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",Southwest,US,North America,1.051085e+07,5.366576e+06,0.0,0.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,1026.0,4.0,AW00000005,Metropolitan Sports Supply,281,"<StoreSurvey xmlns=""http://schemas.microsoft.c...",Southwest,US,North America,1.051085e+07,5.366576e+06,0.0,0.0

### SpecialOffer

In [195]:
# merge specialoffer with specialofferproduct
specialoffers = pd.merge(adventureworks_sales_specialoffer, adventureworks_sales_specialofferproduct, on="SpecialOfferID")

# drop rowguid and modifieddate
drop_modified_date_rowguid(specialoffers)

# rename to correct columns like in database
specialoffers = specialoffers.rename(columns={
    'SpecialOfferID': 'SPECIALOFFER_SPECIALOFFER_ID',
    'ProductID': 'SPECIALOFFER_SPECIALOFFERPRODUCT_ProductID',
    'Description': 'SPECIALOFFER_SPECIALOFFER_Description',
    'DiscountPct': 'SPECIALOFFER_SPECIALOFFER_DiscountPCT',
    'Type': 'SPECIALOFFER_SPECIALOFFER_Type',
    'Category': 'SPECIALOFFER_SPECIALOFFER_Category',
    'StartDate': 'SPECIALOFFER_SPECIALOFFER_StartDate',
    'EndDate': 'SPECIALOFFER_SPECIALOFFER_EndDate',
    'MinQty': 'SPECIALOFFER_SPECIALOFFER_MinQty',
    'MaxQty': 'SPECIALOFFER_SPECIALOFFER_MaxQty'
})

specialoffers.head()

,SPECIALOFFER_SPECIALOFFER_ID,SPECIALOFFER_SPECIALOFFER_Description,SPECIALOFFER_SPECIALOFFER_DiscountPCT,SPECIALOFFER_SPECIALOFFER_Type,SPECIALOFFER_SPECIALOFFER_Category,SPECIALOFFER_SPECIALOFFER_StartDate,SPECIALOFFER_SPECIALOFFER_EndDate,SPECIALOFFER_SPECIALOFFER_MinQty,SPECIALOFFER_SPECIALOFFER_MaxQty,SPECIALOFFER_SPECIALOFFERPRODUCT_ProductID
0,1,No Discount,0.0,No Discount,No Discount,2011-05-01,2014-11-30,0,NaN,680
1,1,No Discount,0.0,No Discount,No Discount,2011-05-01,2014-11-30,0,NaN,706
2,1,No Discount,0.0,No Discount,No Discount,2011-05-01,2014-11-30,0,NaN,707
3,1,No Discount,0.0,No Discount,No Discount,2011-05-01,2014-11-30,0,NaN,708
4,1,No Discount,0.0,No Discount,No Discount,2011-05-01,2014-11-30,0,NaN,709

### CreditCard

In [196]:
# merge creditcard with personcreditcard
creditcards = pd.merge(adventureworks_sales_creditcard, adventureworks_sales_personcreditcard, on="CreditCardID")

# drop rowguid and modifieddate
drop_modified_date_rowguid(creditcards)

# rename to correct columns like in database
creditcards = creditcards.rename(columns={
    'CreditCardID': 'CREDITCARD_CREDITCARD_ID',
    'CardType': 'CREDITCARD_CREDITCARD_CardType',
    'CardNumber': 'CREDITCARD_CREDITCARD_CardNumber ',
    'ExpMonth': 'CREDITCARD_CREDITCARD_ExpMonth',
    'ExpYear': 'CREDITCARD_CREDITCARD_ExpYear',
    'BusinessEntityID': 'CREDITCARD_PERSONCREDITCARD_BusinessEntityID'
})

creditcards.head()

,CREDITCARD_CREDITCARD_ID,CREDITCARD_CREDITCARD_CardType,CREDITCARD_CREDITCARD_CardNumber,CREDITCARD_CREDITCARD_ExpMonth,CREDITCARD_CREDITCARD_ExpYear,CREDITCARD_PERSONCREDITCARD_BusinessEntityID
0,1,SuperiorCard,33332664695310,11,2006,4955
1,2,Distinguish,55552127249722,8,2005,13222
2,3,ColonialVoice,77778344838353,7,2005,7082
3,4,ColonialVoice,77774915718248,7,2006,9347
4,5,Vista,11114404600042,4,2005,11277

### Supplier

In [197]:
# rename
suppliers = northwind_suppliers.rename(columns={
    'SupplierID': 'SUPPLIER_SUPPLIERS_SupplierID',
    'CompanyName': 'SUPPLIER_SUPPLIERS_CompanyName',
    'ContactName': 'SUPPLIER_SUPPLIERS_ContactName',
    'ContactTitle': 'SUPPLIER_SUPPLIERS_ContactTitle',
    'Address': 'SUPPLIER_SUPPLIERS_Address',
    'City': 'SUPPLIER_SUPPLIERS_City',
    'Region': 'SUPPLIER_SUPPLIERS_Region',
    'PostalCode': 'SUPPLIER_SUPPLIERS_PostalCode',
    'Country': 'SUPPLIER_SUPPLIERS_Country',
    'Phone': 'SUPPLIER_SUPPLIERS_Phone',
    'Fax': 'SUPPLIER_SUPPLIERS_Fax',
    'HomePage': 'SUPPLIER_SUPPLIERS_HomePage'
})

suppliers.head()

,SUPPLIER_SUPPLIERS_SupplierID,SUPPLIER_SUPPLIERS_CompanyName,SUPPLIER_SUPPLIERS_ContactName,SUPPLIER_SUPPLIERS_ContactTitle,SUPPLIER_SUPPLIERS_Address,SUPPLIER_SUPPLIERS_City,SUPPLIER_SUPPLIERS_Region,SUPPLIER_SUPPLIERS_PostalCode,SUPPLIER_SUPPLIERS_Country,SUPPLIER_SUPPLIERS_Phone,SUPPLIER_SUPPLIERS_Fax,SUPPLIER_SUPPLIERS_HomePage
0,1,Exotic Liquids,Charlotte Cooper,Purchasing Manager,49 Gilbert St.,London,None,EC1 4SD,UK,(171) 555-2222,None,None
1,2,New Orleans Cajun Delights,Shelley Burke,Order Administrator,P.O. Box 78934,New Orleans,LA,70117,USA,(100) 555-4822,None,#CAJUN.HTM#
2,3,Grandma Kelly's Homestead,Regina Murphy,Sales Representative,707 Oxford Rd.,Ann Arbor,MI,48104,USA,(313) 555-5735,(313) 555-3349,None
3,4,Tokyo Traders,Yoshi Nagase,Marketing Manager,9-8 Sekimai Musashino-shi,Tokyo,None,100,Japan,(03) 3555-5011,None,None
4,5,Cooperativa de Quesos 'Las Cabras',Antonio del Valle Saavedra,Export Administrator,Calle del Rosal 4,Oviedo,Asturias,33007,Spain,(98) 598 76 54,None,None

### Currency

In [198]:
# combine currency and countryregioncurrency
currencies = pd.merge(adventureworks_sales_currency, adventureworks_sales_countryregioncurrency, on="CurrencyCode")

# now combine with currencyrate
currencies = pd.concat([currencies, adventureworks_sales_currencyrate], ignore_index=True)

#drop the modifieddate
drop_modified_date_rowguid(currencies)

#rename 
currencies = currencies.rename(columns={
    'CurrencyCode': 'CURRENCY_CURRENCY_CurrencyCode',
    'Name': 'CURRENCY_CURRENCY_Name',
    'CountryRegionCode': 'CURRENCY_COUNTRYREGIONCURRENCY_CountryRegionCode',
    'CurrencyRateID': 'CURRENCY_CURRENCYRATE_CurrencyRateID',
    'CurrencyRateDate': 'CURRENCY_CURRENCYRATE_CurrencyRateDate',
    'FromCurrencyCode': 'CURRENCY_CURRENCYRATE_FromCurrencyCode',
    'ToCurrencyCode': 'CURRENCY_CURRENCYRATE_ToCurrencyCode',
    'AverageRate': 'CURRENCY_CURRENCYRATE_AverageRate ',
    'EndOfDayRate': 'CURRENCY_CURRENCYRATE_EndOfDayRate',
})

currencies.head()

,CURRENCY_CURRENCY_CurrencyCode,CURRENCY_CURRENCY_Name,CURRENCY_COUNTRYREGIONCURRENCY_CountryRegionCode,CURRENCY_CURRENCYRATE_CurrencyRateID,CURRENCY_CURRENCYRATE_CurrencyRateDate,CURRENCY_CURRENCYRATE_FromCurrencyCode,CURRENCY_CURRENCYRATE_ToCurrencyCode,CURRENCY_CURRENCYRATE_AverageRate,CURRENCY_CURRENCYRATE_EndOfDayRate
0,AED,Emirati Dirham,AE,NaN,NaT,NaN,NaN,NaN,NaN
1,ARS,Argentine Peso,AR,NaN,NaT,NaN,NaN,NaN,NaN
2,ATS,Shilling,AT,NaN,NaT,NaN,NaN,NaN,NaN
3,AUD,Australian Dollar,AU,NaN,NaT,NaN,NaN,NaN,NaN
4,BBD,Barbados Dollar,BB,NaN,NaT,NaN,NaN,NaN,NaN

### Territory

In [199]:
# combine sales territory first
adventureworks_combined_territory = pd.merge(adventureworks_person_countryregion, adventureworks_person_stateprovince, on="CountryRegionCode", suffixes=('_pcr', '_sts'))

# now merge with salestaxrate
adventureworks_combined_territory = pd.merge(adventureworks_combined_territory, adventureworks_sales_salestaxrate, on="StateProvinceID", suffixes=('_st', '_sst'))

# combine northwind region with territory
nw_combined_territory = pd.merge(northwind_region, northwind_territories, on="RegionID")

# do the same for aenc
aenc_combined_regionstate = pd.merge(aenc_region, aenc_state, on="region")

#concatinate the tables together
territories = pd.concat([nw_combined_territory, aenc_combined_regionstate, adventureworks_combined_territory], ignore_index=True)

# drop unneeded rowguid and modifieddate
drop_modified_date_rowguid(territories)

# rename columns
territories = territories.rename(columns={
    'RegionID': 'TERRITORY_REGION_RegionID',
    'RegionDescription': 'TERRITORY_REGION_RegionDescription',
    'TerritoryID': 'TERRITORY_TERRITORIES_TerritoryID',
    'TerritoryDescription': 'TERRITORY_TERRITORIES_TerritoryDescription',
    'region': 'TERRITORY_REGION_Region',
    'state_id': 'TERRITORY_STATE_StateID',
    'state_name': 'TERRITORY_STATE_StateName',
    'state_capital': 'TERRITORY_STATE_StateCapital',
    'country': 'TERRITORY_STATE_Country',
    'CountryRegionCode': 'TERRITORY_COUNTRYREGION_CountryRegionCode',
    'Name_pcr': 'TERRITORY_COUNTRYREGION_Name',
    'StateProvinceID': 'TERRITORY_STATEPROVINCE_StateProvinceID',
    'StateProvinceCode': 'TERRITORY_STATEPROVINCE_StateProvinceCode',
    'IsOnlyStateProvinceFlag': 'TERRITORY_STATEPROVINCE_IsOnlyStateProvinceFlag',
    'Name_sts': 'TERRITORY_STATEPROVINCE_Name',
    'SalesTaxRateID': 'TERRITORY_SALESTAXRATE_SalesTaxRateID',
    'TaxType': 'TERRITORY_SALESTAXRATE_TaxType',
    'TaxRate': 'TERRITORY_SALESTAXRATE_TaxRate',
    'Name': 'TERRITORY_SALESTAXRATE_Name'
})

territories.head()

,TERRITORY_REGION_RegionID,TERRITORY_REGION_RegionDescription,TERRITORY_TERRITORIES_TerritoryID,TERRITORY_TERRITORIES_TerritoryDescription,TERRITORY_REGION_Region,TERRITORY_STATE_StateID,TERRITORY_STATE_StateName,TERRITORY_STATE_StateCapital,TERRITORY_STATE_Country,TERRITORY_COUNTRYREGION_CountryRegionCode,TERRITORY_COUNTRYREGION_Name,TERRITORY_STATEPROVINCE_StateProvinceID,TERRITORY_STATEPROVINCE_StateProvinceCode,TERRITORY_STATEPROVINCE_IsOnlyStateProvinceFlag,TERRITORY_STATEPROVINCE_Name,TERRITORY_SALESTAXRATE_SalesTaxRateID,TERRITORY_SALESTAXRATE_TaxType,TERRITORY_SALESTAXRATE_TaxRate,TERRITORY_SALESTAXRATE_Name
0,1.0,Eastern ...,01581,Westboro ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,Eastern ...,01730,Bedford ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,Eastern ...,01833,Georgetow ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,Eastern ...,02116,Boston ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,Eastern ...,02139,Cambridge ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### SalesOrderHeader

In [200]:
# combine orderdetail with orderheader
salesorderheaders = pd.merge(adventureworks_sales_salesorderdetail, adventureworks_sales_salesorderheader, on="SalesOrderID",
                        suffixes=('_sod', '_soh'))

# combine with salesorderheadersalesreason
salesorderheaders = pd.merge(salesorderheaders, adventureworks_sales_salesorderhearerrsaleseason, on="SalesOrderID")

# combine with salesreason
salesorderheaders = pd.merge(salesorderheaders, adventureworks_sales_salesreason, on="SalesReasonID")

#drop unneeded
drop_modified_date_rowguid(salesorderheaders)

# rename columns
salesorderheaders = salesorderheaders.rename(columns={
    'SalesOrderID': 'SALESORDERHEADER_SALESORDERDETAIL_SalesOrderID',
    'SalesOrderDetailID': 'SALESORDERHEADER_SALESORDERDETAIL_SalesOrderDetailID',
    'CarrierTrackingNumber': 'SALESORDERHEADER_SALESORDERDETAIL_CarrierTrackingNumber',
    'OrderQty': 'SALESORDERHEADER_SALESORDERDETAIL_OrderQty',
    'ProductID': 'SALESORDERHEADER_SALESORDERDETAIL_ProductID',
    'SpecialOfferID': 'SALESORDERHEADER_SALESORDERDETAIL_SpecialOfferID',
    'UnitPrice': 'SALESORDERHEADER_SALESORDERDETAIL_UnitPrice',
    'UnitPriceDiscount': 'SALESORDERHEADER_SALESORDERDETAIL_UnitPriceDiscount',
    'LineTotal': 'SALESORDERHEADER_SALESORDERDETAIL_LineTotal',
    'RevisionNumber': 'SALESORDERHEADER_SALESORDERHEADER_RevisionNumber',
    'OrderDate': 'SALESORDERHEADER_SALESORDERHEADER_OrderDate',
    'DueDate': 'SALESORDERHEADER_SALESORDERHEADER_DueDate',
    'ShipDate': 'SALESORDERHEADER_SALESORDERHEADER_ShipDate',
    'Status': 'SALESORDERHEADER_SALESORDERHEADER_Status',
    'OnlineOrderFlag': 'SALESORDERHEADER_SALESORDERHEADER_OnlineOrderFlag',
    'SalesOrderNumber': 'SALESORDERHEADER_SALESORDERHEADER_SalesOrderNumber',
    'PurchaseOrderNumber': 'SALESORDERHEADER_SALESORDERHEADER_PurchaseOrderNumber',
    'AccountNumber': 'SALESORDERHEADER_SALESORDERHEADER_AccountNumber',
    'CustomerID': 'SALESORDERHEADER_SALESORDERHEADER_CustomerID',
    'SalesPersonID': 'SALESORDERHEADER_SALESORDERHEADER_SalesPersonID',
    'TerritoryID': 'SALESORDERHEADER_SALESORDERHEADER_TerritoryID',
    'BillToAddressID': 'SALESORDERHEADER_SALESORDERHEADER_BillToAddress',
    'ShipToAddressID': 'SALESORDERHEADER_SALESORDERHEADER_ShipToAddress',
    'ShipMethodID': 'SALESORDERHEADER_SALESORDERHEADER_ShipMethodID',
    'CreditCardID': 'SALESORDERHEADER_SALESORDERHEADER_CreditCardID',
    'CreditCardApprovalCode': 'SALESORDERHEADER_SALESORDERHEADER_CreditCardApprovalCode',
    'CurrencyRateID': 'SALESORDERHEADER_SALESORDERHEADER_CurrencyRateID',
    'SubTotal': 'SALESORDERHEADER_SALESORDERHEADER_SubTotal',
    'TaxAmt': 'SALESORDERHEADER_SALESORDERHEADER_TaxAmt',
    'Freight': 'SALESORDERHEADER_SALESORDERHEADER_Freight',
    'TotalDue': 'SALESORDERHEADER_SALESORDERHEADER_TotalDue',
    'Comment': 'SALESORDERHEADER_SALESORDERHEADER_Comment',
    'SalesReasonID': 'SALESORDERHEADER_SALESREASON_SalesReasonID',
    'Name': 'SALESORDERHEADER_SALESREASON_Name',
    'ReasonType': 'SALESORDERHEADER_SALESREASON_ReasonType',
})

salesorderheaders.head()

,SALESORDERHEADER_SALESORDERDETAIL_SalesOrderID,SALESORDERHEADER_SALESORDERDETAIL_SalesOrderDetailID,SALESORDERHEADER_SALESORDERDETAIL_CarrierTrackingNumber,SALESORDERHEADER_SALESORDERDETAIL_OrderQty,SALESORDERHEADER_SALESORDERDETAIL_ProductID,SALESORDERHEADER_SALESORDERDETAIL_SpecialOfferID,SALESORDERHEADER_SALESORDERDETAIL_UnitPrice,SALESORDERHEADER_SALESORDERDETAIL_UnitPriceDiscount,SALESORDERHEADER_SALESORDERDETAIL_LineTotal,SALESORDERHEADER_SALESORDERHEADER_RevisionNumber,SALESORDERHEADER_SALESORDERHEADER_OrderDate,SALESORDERHEADER_SALESORDERHEADER_DueDate,SALESORDERHEADER_SALESORDERHEADER_ShipDate,SALESORDERHEADER_SALESORDERHEADER_Status,SALESORDERHEADER_SALESORDERHEADER_OnlineOrderFlag,SALESORDERHEADER_SALESORDERHEADER_SalesOrderNumber,SALESORDERHEADER_SALESORDERHEADER_PurchaseOrderNumber,SALESORDERHEADER_SALESORDERHEADER_AccountNumber,SALESORDERHEADER_SALESORDERHEADER_CustomerID,SALESORDERHEADER_SALESORDERHEADER_SalesPersonID,SALESORDERHEADER_SALESORDERHEADER_TerritoryID,SALESORDERHEADER_SALESORDERHEADER_BillToAddress,SALESORDERHEADER_SALESORDERHEADER_ShipToAddress,SALESORDERHEADER_SALESORDERHEADER_ShipMethodID,SALESORDERHEADER_SALESORDERHEADER_CreditCardID,SALESORDERHEADER_SALESORDERHEADER_CreditCardApprovalCode,SALESORDERHEADER_SALESORDERHEADER_CurrencyRateID,SALESORDERHEADER_SALESORDERHEADER_SubTotal,SALESORDERHEADER_SALESORDERHEADER_TaxAmt,SALESORDERHEADER_SALESORDERHEADER_Freight,SALESORDERHEADER_SALESORDERHEADER_TotalDue,SALESORDERHEADER_SALESORDERHEADER_Comment,SALESORDERHEADER_SALESREASON_SalesReasonID,SALESORDERHEADER_SALESREASON_Name,SALESORDERHEADER_SALESREASON_ReasonType
0,43697,353,None,1,749,1,3578.27,0.0,3578.27,8,2011-05-31,2011-06-12,2011-06-07,5,True,SO43697,None,10-4030-021768,21768,NaN,6,23148,23148,1,4319.0,530200Vi22686,4.0,3578.27,286.2616,89.4568,3953.9884,None,5,Manufacturer,Other
1,43697,353,None,1,749,1,3578.27,0.0,3578.27,8,2011-05-31,2011-06-12,2011-06-07,5,True,SO43697,None,10-4030-021768,21768,NaN,6,23148,23148,1,4319.0,530200Vi22686,4.0,3578.27,286.2616,89.4568,3953.9884,None,9,Quality,Other
2,43702,358,None,1,750,1,3578.27,0.0,3578.27,8,2011-06-01,2011-06-13,2011-06-08,5,True,SO43702,None,10-4030-027645,27645,NaN,4,22584,22584,1,8087.0,1230194Vi41919,NaN,3578.27,286.2616,89.4568,3953.9884,None,5,Manufacturer,Other
3,43702,358,None,1,750,1,3578.27,0.0,3578.27,8,2011-06-01,2011-06-13,2011-06-08,5,True,SO43702,None,10-4030-027645,27645,NaN,4,22584,22584,1,8087.0,1230194Vi41919,NaN,3578.27,286.2616,89.4568,3953.9884,None,9,Quality,Other
4,43703,359,None,1,749,1,3578.27,0.0,3578.27,8,2011-06-01,2011-06-13,2011-06-08,5,True,SO43703,None,10-4030-016624,16624,NaN,9,23967,23967,1,9497.0,1234632Vi48985,15.0,3578.27,286.2616,89.4568,3953.9884,None,5,Manufacturer,Other

### PurchaseOrderHeader

In [201]:
# combine purchaseorderdetail with purchaseorderheader
purchaseorderheaders = pd.merge(adventureworks_purchasing_purchaseorderheader, adventureworks_purchasing_purchaseorderdetail, on="PurchaseOrderID")

# combine with purchase shipmethod
purchaseorderheaders = pd.merge(purchaseorderheaders, adventureworks_purchasing_shipmethod, on="ShipMethodID")

#combine wiith vendor
purchaseorderheaders = pd.merge(purchaseorderheaders, adventureworks_purchasing_vendor, left_on='VendorID', right_on='BusinessEntityID',
                        suffixes=('_poh', '_pov'))

#drop unneeded
drop_modified_date_rowguid(purchaseorderheaders)
purchaseorderheaders.drop(columns=['BusinessEntityID'], inplace=True)

# rename columns
purchaseorderheaders = purchaseorderheaders.rename(columns={
    'PurchaseOrderID': 'PURCHASEORDERHEADER_PURCHASEORDERHEADER_PurchaseOrderID',
    'RevisionNumber': 'PURCHASEORDERHEADER_PURCHASEORDERHEADER_RevisionNumber',
    'Status': 'PURCHASEORDERHEADER_PURCHASEORDERHEADER_Status',
    'EmployeeID': 'PURCHASEORDERHEADER_PURCHASEORDERHEADER_EmployeeID',
    'VendorID': 'PURCHASEORDERHEADER_PURCHASEORDERHEADER_VendorID',
    'ShipMethodID': 'PURCHASEORDERHEADER_PURCHASEORDERHEADER_ShipMethodID',
    'OrderDate': 'PURCHASEORDERHEADER_PURCHASEORDERHEADER_OrderDate',
    'ShipDate': 'PURCHASEORDERHEADER_PURCHASEORDERHEADER_ShipDate',
    'SubTotal': 'PURCHASEORDERHEADER_PURCHASEORDERHEADER_SubTotal',
    'TaxAmt': 'PURCHASEORDERHEADER_PURCHASEORDERHEADER_TaxAmt',
    'Freight': 'PURCHASEORDERHEADER_PURCHASEORDERHEADER_Freight',
    'TotalDue': 'PURCHASEORDERHEADER_PURCHASEORDERHEADER_TotalDue',
    'PurchaseOrderDetailID': 'PURCHASEORDERHEADER_PURCHASEORDERDETAIL_PurchaseOrderDetailID',
    'DueDate': 'PURCHASEORDERHEADER_PURCHASEORDERDETAIL_DueDate',
    'OrderQty': 'PURCHASEORDERHEADER_PURCHASEORDERDETAIL_OrderQty',
    'ProductID': 'PURCHASEORDERHEADER_PURCHASEORDERDETAIL_ProductID',
    'UnitPrice': 'PURCHASEORDERHEADER_PURCHASEORDERDETAIL_UnitPrice',
    'LineTotal': 'PURCHASEORDERHEADER_PURCHASEORDERDETAIL_LineTotal',
    'ReceivedQty': 'PURCHASEORDERHEADER_PURCHASEORDERDETAIL_ReceivedQty',
    'RejectedQty': 'PURCHASEORDERHEADER_PURCHASEORDERDETAIL_RejectedQty',
    'StockedQty': 'PURCHASEORDERHEADER_PURCHASEORDERDETAIL_StockedQty',
    'Name_poh': 'PURCHASEORDERHEADER_SHIPMETHOD_Name',
    'ShipBase': 'PURCHASEORDERHEADER_SHIPMETHOD_ShipBase',
    'ShipRate': 'PURCHASEORDERHEADER_SHIPMETHOD_ShipRate',
    'AccountNumber': 'PURCHASEORDERHEADER_VENDOR_AccountNumber',
    'Name_pov': 'PURCHASEORDERHEADER_VENDOR_Name',
    'CreditRating': 'PURCHASEORDERHEADER_VENDOR_CreditRating',
    'PreferredVendorStatus': 'PURCHASEORDERHEADER_VENDOR_PreferredVendorStatus',
    'ActiveFlag': 'PURCHASEORDERHEADER_VENDOR_ActiveFlag',
    'PurchasingWebServiceURL': 'PURCHASEORDERHEADER_VENDOR_PurchasingWebServiceURL'
})

purchaseorderheaders.head()

,PURCHASEORDERHEADER_PURCHASEORDERHEADER_PurchaseOrderID,PURCHASEORDERHEADER_PURCHASEORDERHEADER_RevisionNumber,PURCHASEORDERHEADER_PURCHASEORDERHEADER_Status,PURCHASEORDERHEADER_PURCHASEORDERHEADER_EmployeeID,PURCHASEORDERHEADER_PURCHASEORDERHEADER_VendorID,PURCHASEORDERHEADER_PURCHASEORDERHEADER_ShipMethodID,PURCHASEORDERHEADER_PURCHASEORDERHEADER_OrderDate,PURCHASEORDERHEADER_PURCHASEORDERHEADER_ShipDate,PURCHASEORDERHEADER_PURCHASEORDERHEADER_SubTotal,PURCHASEORDERHEADER_PURCHASEORDERHEADER_TaxAmt,PURCHASEORDERHEADER_PURCHASEORDERHEADER_Freight,PURCHASEORDERHEADER_PURCHASEORDERHEADER_TotalDue,PURCHASEORDERHEADER_PURCHASEORDERDETAIL_PurchaseOrderDetailID,PURCHASEORDERHEADER_PURCHASEORDERDETAIL_DueDate,PURCHASEORDERHEADER_PURCHASEORDERDETAIL_OrderQty,PURCHASEORDERHEADER_PURCHASEORDERDETAIL_ProductID,PURCHASEORDERHEADER_PURCHASEORDERDETAIL_UnitPrice,PURCHASEORDERHEADER_PURCHASEORDERDETAIL_LineTotal,PURCHASEORDERHEADER_PURCHASEORDERDETAIL_ReceivedQty,PURCHASEORDERHEADER_PURCHASEORDERDETAIL_RejectedQty,PURCHASEORDERHEADER_PURCHASEORDERDETAIL_StockedQty,PURCHASEORDERHEADER_SHIPMETHOD_Name,PURCHASEORDERHEADER_SHIPMETHOD_ShipBase,PURCHASEORDERHEADER_SHIPMETHOD_ShipRate,PURCHASEORDERHEADER_VENDOR_AccountNumber,PURCHASEORDERHEADER_VENDOR_Name,PURCHASEORDERHEADER_VENDOR_CreditRating,PURCHASEORDERHEADER_VENDOR_PreferredVendorStatus,PURCHASEORDERHEADER_VENDOR_ActiveFlag,PURCHASEORDERHEADER_VENDOR_PurchasingWebServiceURL
0,1,4,4,258,1580,3,2011-04-16,2011-04-25,201.0400,16.0832,5.0260,222.1492,1,2011-04-30,4,1,50.2600,201.0400,3.0,0.0,3.0,OVERSEAS - DELUXE,29.95,2.99,LITWARE0001,"Litware, Inc.",1,True,True,www.litwareinc.com/
1,2,4,1,254,1496,5,2011-04-16,2011-04-25,272.1015,21.7681,6.8025,300.6721,2,2011-04-30,3,359,45.1200,135.3600,3.0,0.0,3.0,CARGO TRANSPORT 5,8.99,1.49,ADVANCED0001,Advanced Bicycles,1,True,True,None
2,2,4,1,254,1496,5,2011-04-16,2011-04-25,272.1015,21.7681,6.8025,300.6721,3,2011-04-30,3,360,45.5805,136.7415,3.0,0.0,3.0,CARGO TRANSPORT 5,8.99,1.49,ADVANCED0001,Advanced Bicycles,1,True,True,None
3,3,4,4,257,1494,2,2011-04-16,2011-04-25,8847.3000,707.7840,221.1825,9776.2665,4,2011-04-30,550,530,16.0860,8847.3000,550.0,0.0,550.0,ZY - EXPRESS,9.95,1.99,ALLENSON0001,Allenson Cycles,2,True,True,None
4,4,4,3,261,1650,5,2011-04-16,2011-04-25,171.0765,13.6861,4.2769,189.0395,5,2011-04-30,3,4,57.0255,171.0765,2.0,1.0,1.0,CARGO TRANSPORT 5,8.99,1.49,AMERICAN0001,American Bicycles and Wheels,1,True,True,None

### Date

In [202]:
def calculate_periods(periods_in_years): 
    return 365 * periods_in_years + (periods_in_years // 4) # divide by 4 for leap years

periods = calculate_periods(50)

date_table = {
    'DATE_ID': pd.date_range(start='1996-01-01', periods=periods).strftime('%Y%m%d').astype(int),
    'DATE_Date': pd.date_range(start='1996-01-01', periods=periods),
    'DATE_Weekday': pd.date_range(start='1996-01-01', periods=periods).strftime('%A'),
    'DATE_WeekdayNum': pd.date_range(start='1996-01-01', periods=periods).weekday + 1,
    'DATE_DayMonth': pd.date_range(start='1996-01-01', periods=periods).day,
    'DATE_DayOfYear': pd.date_range(start='1996-01-01', periods=periods).dayofyear,
    'DATE_WeekOfYear': pd.date_range(start='1996-01-01', periods=periods).isocalendar().week,
    'DATE_MonthNum': pd.date_range(start='1996-01-01', periods=periods).month,
    'DATE_MonthName': pd.date_range(start='1996-01-01', periods=periods).strftime('%B'),
    'DATE_MonthNameShort': pd.date_range(start='1996-01-01', periods=periods).strftime('%b'),
    'DATE_Quarter': pd.date_range(start='1996-01-01', periods=periods).quarter,
    'DATE_Year': pd.date_range(start='1996-01-01', periods=periods).year,
    'DATE_FirstDayOfMonth': pd.date_range(start='1996-01-01', periods=periods).to_period('M').start_time,
    'DATE_LastDayOfMonth': pd.date_range(start='1996-01-01', periods=periods).to_period('M').end_time.date,
    'DATE_YYYYMM': pd.date_range(start='1996-01-01', periods=periods).strftime('%Y-%m'),
    'DATE_WeekendIndr': pd.date_range(start='1996-01-01', periods=periods).weekday // 5
}

date_table = pd.DataFrame(date_table)
date_table['DATE_WeekendIndr'] = date_table['DATE_WeekendIndr'].replace({0: 'weekday', 1: 'weekend'})

date_table.tail()

,DATE_ID,DATE_Date,DATE_Weekday,DATE_WeekdayNum,DATE_DayMonth,DATE_DayOfYear,DATE_WeekOfYear,DATE_MonthNum,DATE_MonthName,DATE_MonthNameShort,DATE_Quarter,DATE_Year,DATE_FirstDayOfMonth,DATE_LastDayOfMonth,DATE_YYYYMM,DATE_WeekendIndr
2045-12-26,20451226,2045-12-26,Tuesday,2,26,360,52,12,December,Dec,4,2045,2045-12-01,2045-12-31,2045-12,weekday
2045-12-27,20451227,2045-12-27,Wednesday,3,27,361,52,12,December,Dec,4,2045,2045-12-01,2045-12-31,2045-12,weekday
2045-12-28,20451228,2045-12-28,Thursday,4,28,362,52,12,December,Dec,4,2045,2045-12-01,2045-12-31,2045-12,weekday
2045-12-29,20451229,2045-12-29,Friday,5,29,363,52,12,December,Dec,4,2045,2045-12-01,2045-12-31,2045-12,weekday
2045-12-30,20451230,2045-12-30,Saturday,6,30,364,52,12,December,Dec,4,2045,2045-12-01,2045-12-31,2045-12,weekend

### Time

In [203]:
# Define the number of minutes in a day
minutes_in_a_day = 24 * 60

# Create the data dictionary for time dimension
time_table = {
    'TIME_ID': list(range(minutes_in_a_day)),
    'TIME_Hour': [i // 60 for i in range(minutes_in_a_day)],
    'TIME_Minute': [i % 60 for i in range(minutes_in_a_day)],
    'TIME_HourMinute': [f'{hour:02d}:{minute:02d}' for hour in range(24) for minute in range(60)],
}

# Convert the dictionary to a DataFrame
time_table = pd.DataFrame(time_table)

time_table.head()

   TIME_ID  TIME_Hour  TIME_Minute TIME_HourMinute
0        0          0            0           00:00
1        1          0            1           00:01
2        2          0            2           00:02
3        3          0            3           00:03
4        4          0            4           00:04

### TransactionHistory

In [204]:
transactionhistories = adventureworks_production_transactionhistory

# dropping the modified date and rowguid columns
drop_modified_date_rowguid(transactionhistories)

# renaming the columns
transactionhistories.rename(columns={'TransactionID': 'TRANSACTIONHISTORY_TRANSACTIONHISTORY_TransactionID', 'ProductID': 'TRANSACTIONHISTORY_TRANSACTIONHISTORY_ProductID', 'ReferenceOrderID': 'TRANSACTIONHISTORY_TRANSACTIONHISTORY_ReferenceOrderID', 'ReferenceOrderLineID': 'TRANSACTIONHISTORY_TRANSACTIONHISTORY_ReferenceOrderLineID', 'TransactionDate': 'TRANSACTIONHISTORY_TRANSACTIONHISTORY_TransactionDate', 'TransactionType': 'TRANSACTIONHISTORY_TRANSACTIONHISTORY_TransactionType', 'Quantity': 'TRANSACTIONHISTORY_TRANSACTIONHISTORY_Quantity', 'ActualCost': 'TRANSACTIONHISTORY_TRANSACTIONHISTORY_ActualCost'}, inplace=True)

transactionhistories.head()

,TRANSACTIONHISTORY_TRANSACTIONHISTORY_TransactionID,TRANSACTIONHISTORY_TRANSACTIONHISTORY_ProductID,TRANSACTIONHISTORY_TRANSACTIONHISTORY_ReferenceOrderID,TRANSACTIONHISTORY_TRANSACTIONHISTORY_ReferenceOrderLineID,TRANSACTIONHISTORY_TRANSACTIONHISTORY_TransactionDate,TRANSACTIONHISTORY_TRANSACTIONHISTORY_TransactionType,TRANSACTIONHISTORY_TRANSACTIONHISTORY_Quantity,TRANSACTIONHISTORY_TRANSACTIONHISTORY_ActualCost
0,100000,784,41590,0,2013-07-31,W,2,0.0
1,100001,794,41591,0,2013-07-31,W,1,0.0
2,100002,797,41592,0,2013-07-31,W,1,0.0
3,100003,798,41593,0,2013-07-31,W,1,0.0
4,100004,799,41594,0,2013-07-31,W,1,0.0

### TransactionHistoryArchive

In [205]:
transactionhistoryarchives = adventureworks_production_transactionhistoryarchive

# dropping the modified date and rowguid columns
drop_modified_date_rowguid(transactionhistoryarchives)

# renaming the columns
transactionhistoryarchives.rename(columns={'TransactionID': 'TRANSACTIONHISTORYARCHIVE_TRANSACTIONHISTORYARCHIVE_TransactionID', 'ProductID': 'TRANSACTIONHISTORYARCHIVE_TRANSACTIONHISTORYARCHIVE_ProductID', 'ReferenceOrderID': 'TRANSACTIONHISTORYARCHIVE_TRANSACTIONHISTORYARCHIVE_ReferenceOrderID', 'ReferenceOrderLineID': 'TRANSACTIONHISTORYARCHIVE_TRANSACTIONHISTORYARCHIVE_ReferenceOrderLineID', 'TransactionDate': 'TRANSACTIONHISTORYARCHIVE_TRANSACTIONHISTORYARCHIVE_TransactionDate', 'TransactionType': 'TRANSACTIONHISTORYARCHIVE_TRANSACTIONHISTORYARCHIVE_TransactionType', 'Quantity': 'TRANSACTIONHISTORYARCHIVE_TRANSACTIONHISTORYARCHIVE_Quantity', 'ActualCost': 'TRANSACTIONHISTORYARCHIVE_TRANSACTIONHISTORYARCHIVE_ActualCost'}, inplace=True)

transactionhistoryarchives.head()

,TRANSACTIONHISTORYARCHIVE_TRANSACTIONHISTORYARCHIVE_TransactionID,TRANSACTIONHISTORYARCHIVE_TRANSACTIONHISTORYARCHIVE_ProductID,TRANSACTIONHISTORYARCHIVE_TRANSACTIONHISTORYARCHIVE_ReferenceOrderID,TRANSACTIONHISTORYARCHIVE_TRANSACTIONHISTORYARCHIVE_ReferenceOrderLineID,TRANSACTIONHISTORYARCHIVE_TRANSACTIONHISTORYARCHIVE_TransactionDate,TRANSACTIONHISTORYARCHIVE_TRANSACTIONHISTORYARCHIVE_TransactionType,TRANSACTIONHISTORYARCHIVE_TRANSACTIONHISTORYARCHIVE_Quantity,TRANSACTIONHISTORYARCHIVE_TRANSACTIONHISTORYARCHIVE_ActualCost
0,1,1,1,1,2011-04-16,P,4,50.2600
1,2,359,2,1,2011-04-16,P,3,45.1200
2,3,360,2,2,2011-04-16,P,3,45.5805
3,4,530,3,1,2011-04-16,P,550,16.0860
4,5,4,4,1,2011-04-16,P,3,57.0255

### ProductReview

In [206]:
productreviews = adventureworks_production_productreview

# dropping the modified date and rowguid columns
drop_modified_date_rowguid(productreviews)

# renaming the columns
productreviews.rename(columns={'ProductReviewID': 'PRODUCTREVIEW_PRODUCTREVIEW_ProductReviewID', 'ProductID': 'PRODUCTREVIEW_PRODUCTREVIEW_ProductID', 'ReviewerName': 'PRODUCTREVIEW_PRODUCTREVIEW_ReviewerName', 'ReviewDate': 'PRODUCTREVIEW_PRODUCTREVIEW_ReviewDate', 'EmailAddress': 'PRODUCTREVIEW_PRODUCTREVIEW_EmailAddress', 'Rating': 'PRODUCTREVIEW_PRODUCTREVIEW_Rating', 'Comments': 'PRODUCTREVIEW_PRODUCTREVIEW_Comments'}, inplace=True)

productreviews.head()

,PRODUCTREVIEW_PRODUCTREVIEW_ProductReviewID,PRODUCTREVIEW_PRODUCTREVIEW_ProductID,PRODUCTREVIEW_PRODUCTREVIEW_ReviewerName,PRODUCTREVIEW_PRODUCTREVIEW_ReviewDate,PRODUCTREVIEW_PRODUCTREVIEW_EmailAddress,PRODUCTREVIEW_PRODUCTREVIEW_Rating,PRODUCTREVIEW_PRODUCTREVIEW_Comments
0,1,709,John Smith,2013-09-18,john@fourthcoffee.com,5,I can't believe I'm singing the praises of a p...
1,2,937,David,2013-11-13,david@graphicdesigninstitute.com,4,"A little on the heavy side, but overall the en..."
2,3,937,Jill,2013-11-15,jill@margiestravel.com,2,Maybe it's just because I'm new to mountain bi...
3,4,798,Laura Norman,2013-11-15,laura@treyresearch.net,5,The Road-550-W from Adventure Works Cycles is ...

### Inventory

In [207]:
inventory_aw = adventureworks_production_productinventory.rename(columns={
    'ProductID' : 'INVENTORY_PRODUCT_ID',
    'LocationID' : 'INVENTORY_LOCATION_ID',
    'Shelf' : 'INVENTORY_SHELF',
    'Bin' : 'INVENTORY_Bin',
    'Quantity' : 'INVENTORY_Quantity'
})

inventory_aw.drop(columns=['rowguid', 'ModifiedDate'], inplace=True)

inventory_aenc = aenc_product[['id', 'quantity']].rename(columns={'id' : 'INVENTORY_PRODUCT_ID', 'quantity' : 'INVENTORY_Quantity'})
inventory_northwind = northwind_products[['ProductID', 'UnitsInStock']].rename(columns={'ProductID' : 'INVENTORY_PRODUCT_ID', 'UnitsInStock' : 'INVENTORY_Quantity'})

inventory_combined = pd.concat([inventory_aw, inventory_aenc, inventory_northwind], ignore_index=True)
inventory_combined

,INVENTORY_PRODUCT_ID,INVENTORY_LOCATION_ID,INVENTORY_SHELF,INVENTORY_Bin,INVENTORY_Quantity
0,1,1.0,A,1.0,408
1,1,6.0,B,5.0,324
2,1,50.0,A,5.0,353
3,2,1.0,A,2.0,427
4,2,6.0,B,1.0,318
5,2,50.0,A,6.0,364
6,3,1.0,A,7.0,585
7,3,6.0,B,9.0,443
8,3,50.0,A,10.0,324
9,4,1.0,A,6.0,512
10,4,6.0,B,10.0,422
11,4,50.0,A,11.0,388
12,316,5.0,A,11.0,532
13,316,10.0,B,1.0,388
14,316,50.0,B,8.0,441
15,317,1.0,C,1.0,283
16,317,5.0,A,1.0,158
17,317,50.0,A,21.0,152
18,318,1.0,C,2.0,136
19,318,5.0,A,2.0,171
20,318,50.0,A,22.0,132
21,319,1.0,C,3.0,308
22,319,5.0,A,3.0,184
23,319,50.0,A,23.0,305
24,320,1.0,C,4.0,481
25,320,5.0,A,4.0,372
26,320,50.0,A,24.0,283
27,321,1.0,C,6.0,569
28,321,5.0,A,6.0,540
29,321,50.0,A,26.0,641
30,322,1.0,C,7.0,622
31,322,5.0,A,7.0,587
32,322,50.0,A,27.0,475
33,323,1.0,C,35.0,603
34,323,5.0,A,12.0,568
35,323,50.0,A,28.0,513
36,324,1.0,C,36.0,585
37,324,5.0,A,13.0,568
38,324,50.0,A,29.0,476
39,325,1.0,H,1.0,569
40,325,6.0,G,1.0,540
41,325,60.0,A,1.0,641
42,326,1.0,H,2.0,622
43,326,6.0,G,2.0,587
44,326,60.0,A,2.0,475
45,327,5.0,K,1.0,408
46,327,10.0,F,1.0,443
47,327,50.0,B,9.0,513
48,328,5.0,A,8.0,568
49,328,10.0,D,1.0,585
50,328,50.0,A,14.0,476
51,329,5.0,A,9.0,558
52,329,10.0,D,2.0,576
53,329,50.0,A,15.0,467
54,330,5.0,A,10.0,548
55,330,10.0,D,3.0,566
56,330,50.0,A,16.0,457
57,331,5.0,J,5.0,574
58,331,10.0,C,6.0,441
59,331,50.0,A,12.0,390
60,332,5.0,J,6.0,344
61,332,10.0,C,7.0,233
62,332,50.0,A,13.0,267
63,341,1.0,E,4.0,372
64,341,50.0,G,10.0,392
65,341,60.0,S,1.0,339
66,342,1.0,E,5.0,369
67,342,50.0,G,12.0,388
68,342,60.0,G,11.0,336
69,343,1.0,E,6.0,568
70,343,50.0,S,3.0,606
71,343,60.0,S,2.0,499
72,344,1.0,E,7.0,358
73,344,50.0,G,14.0,332
74,344,60.0,G,13.0,382
75,345,1.0,E,8.0,321
76,345,50.0,G,15.0,315
77,345,60.0,S,4.0,300
78,346,1.0,E,9.0,585
79,346,50.0,S,6.0,476
80,346,60.0,S,5.0,641
81,347,1.0,E,10.0,318
82,347,50.0,G,17.0,246
83,347,60.0,G,16.0,332
84,348,1.0,E,11.0,323
85,348,50.0,S,8.0,251
86,348,60.0,S,7.0,337
87,349,1.0,E,12.0,328
88,349,50.0,G,18.0,256
89,349,60.0,S,9.0,342
90,350,5.0,J,2.0,622
91,350,10.0,C,3.0,406
92,350,50.0,A,2.0,313
93,351,5.0,J,3.0,179
94,351,10.0,C,4.0,281
95,351,50.0,A,3.0,145
96,352,5.0,J,10.0,300
97,352,10.0,C,1.0,278
98,352,50.0,A,20.0,195
99,355,1.0,D,16.0,276
100,355,6.0,H,16.0,257
101,355,50.0,C,1.0,289
102,356,1.0,D,17.0,262
103,356,6.0,H,17.0,243
104,356,50.0,C,2.0,275
105,357,1.0,D,18.0,248
106,357,6.0,H,18.0,228
107,357,50.0,C,3.0,260
108,358,1.0,D,19.0,233
109,358,6.0,H,19.0,214
110,358,50.0,C,4.0,246
111,359,1.0,C,8.0,369
112,359,6.0,R,1.0,360
113,359,50.0,E,1.0,374
114,360,1.0,C,9.0,363
115,360,6.0,R,2.0,353
116,360,50.0,E,2.0,368
117,361,1.0,C,10.0,499
118,361,6.0,R,3.0,601
119,361,50.0,E,3.0,531
120,362,1.0,C,11.0,377
121,362,6.0,R,4.0,315
122,362,50.0,E,4.0,334
123,363,1.0,C,12.0,499
124,363,6.0,R,5.0,643
125,363,50.0,E,5.0,619
126,364,1.0,C,13.0,368
127,364,6.0,R,6.0,358
128,364,50.0,E,6.0,326
129,365,1.0,C,14.0,411
130,365,6.0,R,7.0,691
131,365,50.0,E,7.0,619
132,366,1.0,C,15.0,318
133,366,6.0,R,8.0,299
134,366,50.0,E,8.0,412
135,367,1.0,C,16.0,643
136,367,6.0,R,9.0,689
137,367,50.0,E,9.0,569
138,368,1.0,C,17.0,369
139,368,6.0,R,10.0,360
140,368,50.0,E,10.0,374
141,369,1.0,C,18.0,363
142,369,6.0,R,11.0,353
143,369,50.0,E,11.0,368
144,370,1.0,C,19.0,252
145,370,6.0,R,12.0,155
146,370,50.0,E,12.0,476
147,371,1.0,C,20.0,585
148,371,6.0,R,13.0,649
149,371,50.0,E,13.0,547
150,372,1.0,C,21.0,281
151,372,6.0,R,14.0,344
152,372,50.0,E,14.0,272
153,373,1.0,C,22.0,284
154,373,6.0,R,15.0,347
155,373,50.0,E,15.0,275
156,374,1.0,C,23.0,288
157,374,6.0,R,16.0,350
158,374,50.0,E,16.0,278
159,375,1.0,C,24.0,291
160,375,6.0,R,17.0,353
161,375,50.0,E,17.0,281
162,376,1.0,C,25.0,585
163,376,6.0,R,18.0,649
164,376,50.0,E,18.0,547
165,377,1.0,C,26.0,249
166,377,6.0,R,19.0,299
167,377,50.0,E,19.0,393
168,378,1.0,C,27.0,244
169,378,6.0,R,20.0,294
170,378,50.0,E,20.0,388
171,379,1.0,C,28.0,323
172,379,6.0,R,21.0,897
173,379,50.0,E,21.0,691
174,380,1.0,C,29.0,156
175,380,6.0,R,22.0,264
176,380,50.0,E,22.0,350
177,381,1.0,C,30.0,163
178,381,6.0,R,23.0,270
179,381,50.0,E,23.0,356
180,382,1.0,C,31.0,169
181,382,6.0,R,24.0,276
182,382,50.0,E,24.0,363
183,383,1.0,C,32.0,587
184,383,6.0,R,25.0,676
185,383,50.0,E,25.0,638
186,384,1.0,C,33.0,299
187,384,6.0,R,26.0,217
188,384,50.0,E,26.0,304
189,385,1.0,C,34.0,619
190,385,6.0,R,27.0,526
191,385,50.0,E,27.0,633
192,386,1.0,D,1.0,148
193,386,6.0,R,28.0,192
194,386,50.0,E,28.0,385
195,387,1.0,D,2.0,524
196,387,6.0,R,29.0,710
197,387,50.0,E,29.0,654
198,388,1.0,D,3.0,292
199,388,6.0,R,30.0,140
200,388,50.0,E,30.0,366
201,389,1.0,D,4.0,657
202,389,6.0,R,31.0,691
203,389,50.0,E,31.0,460
204,390,1.0,D,5.0,292
205,390,6.0,R,32.0,140
206,390,50.0,E,32.0,366
207,391,1.0,D,6.0,296
208,391,6.0,R,33.0,144
209,391,50.0,E,33.0,369
210,392,1.0,D,7.0,299
211,392,6.0,R,34.0,147
212,392,50.0,E,34.0,372
213,393,1.0,D,8.0,603
214,393,6.0,R,35.0,780
215,393,50.0,E,35.0,497
216,394,1.0,D,9.0,302
217,394,6.0,R,36.0,150
218,394,50.0,E,36.0,459
219,395,1.0,D,10.0,281
220,395,6.0,R,37.0,355
221,395,50.0,E,37.0,148
222,396,1.0,D,11.0,636
223,396,6.0,R,38.0,585
224,396,50.0,E,38.0,603
225,397,1.0,D,12.0,339
226,397,6.0,R,39.0,550
227,397,50.0,E,39.0,763
228,398,5.0,B,1.0,372
229,398,10.0,B,4.0,404
230,398,20.0,A,3.0,550
231,399,5.0,B,2.0,366
232,399,10.0,B,5.0,398
233,399,20.0,A,4.0,544
234,400,5.0,B,3.0,260
235,400,10.0,B,2.0,246
236,400,20.0,A,1.0,284
237,401,5.0,B,4.0,283
238,401,10.0,B,3.0,212
239,401,20.0,A,2.0,302
240,402,1.0,F,1.0,316
241,402,6.0,G,3.0,353
242,402,50.0,T,1.0,321
243,403,1.0,F,2.0,313
244,403,6.0,G,4.0,350
245,403,50.0,T,2.0,318
246,404,1.0,F,3.0,310
247,404,6.0,G,5.0,347
248,404,50.0,T,3.0,315
249,405,1.0,F,4.0,307
250,405,6.0,G,6.0,344
251,405,50.0,T,4.0,312
252,406,1.0,F,5.0,304
253,406,6.0,G,7.0,340
254,406,50.0,T,5.0,308
255,407,1.0,F,6.0,460
256,407,6.0,G,8.0,587
257,407,50.0,T,6.0,625
258,408,1.0,F,7.0,417
259,408,6.0,G,9.0,344
260,408,50.0,T,7.0,296
261,409,1.0,F,8.0,414
262,409,6.0,G,10.0,340
263,409,50.0,T,8.0,292
264,410,1.0,F,9.0,411
265,410,6.0,G,11.0,337
266,410,50.0,T,9.0,289
267,411,1.0,F,10.0,603
268,411,6.0,G,12.0,552
269,411,50.0,T,10.0,459
270,412,1.0,F,11.0,299
271,412,6.0,G,13.0,321
272,412,50.0,T,11.0,156
273,413,1.0,F,12.0,641
274,413,6.0,G,14.0,603
275,413,50.0,T,12.0,459
276,414,1.0,F,13.0,427
277,414,6.0,G,15.0,321
278,414,50.0,T,13.0,371
279,415,1.0,F,14.0,422
280,415,6.0,G,16.0,316
281,415,50.0,T,14.0,366
282,416,1.0,F,15.0,417
283,416,6.0,G,17.0,312
284,416,50.0,T,15.0,361
285,417,1.0,F,16.0,572
286,417,6.0,G,18.0,627
287,417,50.0,T,16.0,516
288,418,1.0,F,17.0,248
289,418,6.0,G,19.0,283
290,418,50.0,T,17.0,388
291,419,1.0,F,18.0,246
292,419,6.0,G,20.0,281
293,419,50.0,T,18.0,387
294,420,1.0,F,19.0,244
295,420,6.0,G,21.0,280
296,420,50.0,T,19.0,385
297,421,1.0,F,20.0,243
298,421,6.0,G,22.0,278
299,421,50.0,T,20.0,384
300,422,1.0,K,1.0,620
301,422,6.0,G,23.0,515
302,422,50.0,T,21.0,497
303,423,1.0,K,2.0,619
304,423,6.0,G,24.0,513
305,423,50.0,U,1.0,496
306,424,1.0,K,3.0,617
307,424,6.0,G,25.0,512
308,424,50.0,U,2.0,494
309,425,1.0,K,4.0,616
310,425,6.0,G,26.0,510
311,425,50.0,U,3.0,492
312,426,1.0,K,5.0,614
313,426,6.0,G,27.0,508
314,426,50.0,U,4.0,491
315,427,1.0,K,6.0,612
316,427,6.0,G,28.0,507
317,427,50.0,U,5.0,489
318,428,1.0,K,7.0,611
319,428,6.0,G,29.0,505
320,428,50.0,U,6.0,488
321,429,1.0,K,8.0,609
322,429,6.0,G,30.0,504
323,429,50.0,U,7.0,486
324,430,1.0,K,9.0,608
325,430,6.0,G,31.0,502
326,430,50.0,U,8.0,484
327,431,1.0,K,10.0,611
328,431,6.0,G,32.0,505
329,431,50.0,U,9.0,488
330,432,1.0,K,11.0,614
331,432,6.0,G,33.0,508
332,432,50.0,U,10.0,491
333,433,1.0,L,1.0,617
334,433,6.0,G,34.0,512
335,433,50.0,U,11.0,494
336,434,1.0,L,2.0,620
337,434,6.0,G,35.0,515
338,434,50.0,U,12.0,497
339,435,1.0,L,3.0,624
340,435,6.0,G,36.0,518
341,435,50.0,U,13.0,500
342,436,1.0,L,4.0,627
343,436,6.0,G,37.0,521
344,436,50.0,U,14.0,504
345,437,1.0,L,5.0,630
346,437,6.0,G,38.0,524
347,437,50.0,U,15.0,507
348,438,1.0,L,6.0,633
349,438,6.0,G,39.0,528
350,438,50.0,U,16.0,510
351,439,1.0,L,7.0,636
352,439,6.0,G,40.0,531
353,439,50.0,U,17.0,513
354,440,1.0,L,8.0,640
355,440,6.0,G,41.0,534
356,440,50.0,U,18.0,516
357,441,1.0,L,9.0,635
358,441,6.0,G,42.0,529
359,441,50.0,U,19.0,512
360,442,1.0,L,10.0,630
361,442,6.0,G,43.0,524
362,442,50.0,U,20.0,507
363,443,1.0,L,11.0,625
364,443,6.0,G,44.0,520
365,443,50.0,U,21.0,502
366,444,1.0,L,12.0,620
367,444,6.0,G,45.0,515
368,444,50.0,U,22.0,497
369,445,1.0,H,3.0,616
370,445,6.0,G,46.0,510
371,445,50.0,U,23.0,492
372,446,1.0,H,4.0,611
373,446,6.0,G,47.0,505
374,446,50.0,U,24.0,488
375,447,1.0,H,5.0,606
376,447,6.0,G,48.0,500
377,447,50.0,U,25.0,483
378,448,1.0,H,6.0,601
379,448,6.0,G,49.0,496
380,448,50.0,U,26.0,478
381,449,1.0,H,7.0,596
382,449,6.0,G,50.0,491
383,449,50.0,U,27.0,473
384,450,1.0,H,8.0,592
385,450,6.0,G,51.0,486
386,450,50.0,U,28.0,468
387,451,1.0,H,9.0,595
388,451,6.0,G,52.0,489
389,451,50.0,U,29.0,472
390,452,1.0,H,10.0,598
391,452,6.0,G,53.0,492
392,452,50.0,U,30.0,475
393,453,1.0,H,11.0,601
394,453,6.0,G,54.0,496
395,453,50.0,U,31.0,478
396,454,1.0,H,12.0,604
397,454,6.0,G,55.0,499
398,454,50.0,U,32.0,481
399,455,1.0,H,13.0,608
400,455,6.0,G,56.0,502
401,455,50.0,U,33.0,484
402,456,1.0,H,14.0,611
403,456,6.0,G,57.0,505
404,456,50.0,U,34.0,488
405,457,1.0,H,15.0,614
406,457,6.0,G,58.0,508
407,457,50.0,U,35.0,491
408,458,1.0,H,16.0,617
409,458,6.0,G,59.0,512
410,458,50.0,U,36.0,494
411,459,1.0,H,17.0,620
412,459,6.0,G,60.0,515
413,459,50.0,U,37.0,497
414,460,1.0,H,18.0,624
415,460,6.0,G,61.0,518
416,460,50.0,U,38.0,500
417,461,1.0,G,19.0,627
418,461,6.0,H,1.0,521
419,461,50.0,K,1.0,504
420,462,1.0,G,2.0,310
421,462,6.0,H,2.0,204
422,462,50.0,K,2.0,187
423,463,1.0,G,3.0,499
424,463,6.0,H,3.0,566
425,463,50.0,K,3.0,620
426,464,1.0,G,4.0,500
427,464,6.0,H,4.0,568
428,464,50.0,K,4.0,622
429,465,1.0,G,5.0,502
430,465,6.0,H,5.0,569
431,465,50.0,K,5.0,624
432,466,1.0,G,8.0,504
433,466,6.0,H,6.0,571
434,466,50.0,K,6.0,625
435,467,1.0,G,7.0,505
436,467,6.0,H,7.0,572
437,467,50.0,K,7.0,627
438,468,1.0,G,3.0,507
439,468,6.0,H,8.0,574
440,468,50.0,K,8.0,628
441,469,1.0,J,4.0,508
442,469,6.0,H,9.0,576
443,469,50.0,K,9.0,630
444,470,1.0,J,5.0,510
445,470,6.0,H,10.0,577
446,470,50.0,K,10.0,632
447,471,1.0,J,6.0,512
448,471,6.0,H,11.0,579
449,471,50.0,K,11.0,633
450,472,1.0,J,7.0,513
451,472,6.0,H,12.0,580
452,472,50.0,K,12.0,635
453,473,1.0,J,8.0,515
454,473,6.0,H,13.0,582
455,473,50.0,K,13.0,636
456,474,1.0,J,9.0,516
457,474,6.0,H,14.0,584
458,474,50.0,K,14.0,638
459,475,1.0,J,10.0,518
460,475,6.0,H,15.0,585
461,475,50.0,K,15.0,640
462,476,5.0,D,0.0,324
463,476,10.0,A,0.0,404
464,476,20.0,B,0.0,355
465,477,2.0,B,0.0,403
466,477,5.0,D,0.0,323
467,477,10.0,A,0.0,353
468,478,2.0,B,0.0,497
469,478,5.0,D,0.0,568
470,478,10.0,A,0.0,622
471,479,2.0,C,0.0,441
472,479,5.0,E,0.0,390
473,479,10.0,C,0.0,198
474,480,2.0,C,0.0,689
475,480,5.0,E,0.0,515
476,480,10.0,C,0.0,457
477,481,2.0,C,0.0,427
478,481,5.0,E,0.0,374
479,481,10.0,C,0.0,196
480,482,2.0,D,0.0,321
481,482,5.0,R,10.0,427
482,482,10.0,L,0.0,176
483,483,2.0,D,0.0,691
484,483,5.0,R,0.0,531
485,483,10.0,L,0.0,459
486,484,2.0,D,0.0,427
487,484,5.0,R,0.0,374
488,484,10.0,L,0.0,196
489,485,2.0,D,0.0,321
490,485,5.0,R,0.0,427
491,485,10.0,L,0.0,176
492,486,2.0,D,0.0,689
493,486,5.0,R,0.0,515
494,486,10.0,L,0.0,457
495,487,2.0,D,0.0,331
496,487,5.0,R,0.0,337
497,487,10.0,L,0.0,324
498,488,2.0,D,0.0,312
499,488,5.0,R,0.0,318
500,488,10.0,L,0.0,305
501,489,1.0,J,1.0,612
502,489,6.0,F,9.0,619
503,489,50.0,N,1.0,606
504,490,1.0,J,2.0,593
505,490,6.0,F,2.0,600
506,490,50.0,N,2.0,587
507,491,1.0,J,3.0,254
508,491,6.0,F,3.0,420
509,491,50.0,N,3.0,248
510,492,3.0,A,3.0,17
511,492,4.0,A,6.0,14
512,492,40.0,B,2.0,16
513,493,3.0,A,2.0,41
514,493,4.0,A,8.0,24
515,493,40.0,B,1.0,28
516,494,3.0,A,1.0,49
517,494,4.0,A,7.0,12
518,494,40.0,B,3.0,4
519,495,3.0,A,5.0,49
520,495,4.0,A,9.0,35
521,495,40.0,B,6.0,25
522,496,3.0,A,4.0,30
523,496,4.0,A,10.0,25
524,496,40.0,B,7.0,44
525,497,1.0,E,26.0,336
526,497,6.0,M,8.0,364
527,497,50.0,W,6.0,273
528,504,1.0,E,15.0,392
529,504,6.0,M,6.0,372
530,504,50.0,W,4.0,320
531,505,1.0,E,18.0,388
532,505,6.0,M,11.0,299
533,505,50.0,W,11.0,283
534,506,1.0,E,13.0,316
535,506,6.0,M,7.0,390
536,506,50.0,W,5.0,121
537,507,6.0,N,2.0,673
538,507,50.0,J,1.0,542
539,508,6.0,N,1.0,681
540,508,50.0,J,2.0,550
541,509,6.0,N,3.0,689
542,509,50.0,J,7.0,558
543,510,6.0,N,4.0,406
544,510,50.0,J,6.0,316
545,511,6.0,N,5.0,390
546,511,50.0,J,5.0,350
547,512,6.0,N,5.0,334
548,512,50.0,J,4.0,281
549,513,6.0,N,9.0,640
550,513,50.0,J,3.0,724
551,514,6.0,D,10.0,267
552,514,50.0,G,4.0,318
553,514,60.0,F,2.0,212
554,515,6.0,D,2.0,268
555,515,50.0,G,22.0,320
556,515,60.0,F,1.0,214
557,516,6.0,D,3.0,270
558,516,50.0,G,23.0,321
559,516,60.0,F,3.0,216
560,517,6.0,D,16.0,272
561,517,50.0,G,5.0,323
562,517,60.0,F,5.0,217
563,518,6.0,D,17.0,273
564,518,50.0,G,6.0,324
565,518,60.0,F,6.0,219
566,519,6.0,D,15.0,275
567,519,50.0,G,7.0,326
568,519,60.0,F,13.0,220
569,520,6.0,D,14.0,276
570,520,50.0,G,2.0,328
571,520,60.0,F,14.0,222
572,521,6.0,D,11.0,278
573,521,50.0,G,1.0,329
574,521,60.0,F,18.0,224
575,522,6.0,D,1.0,280
576,522,50.0,G,3.0,331
577,522,60.0,F,7.0,225
578,523,6.0,K,1.0,164
579,523,50.0,Y,1.0,209
580,523,60.0,L,6.0,139
581,524,6.0,L,1.0,124
582,524,50.0,Y,2.0,228
583,524,60.0,K,1.0,107
584,525,6.0,B,2.0,644
585,525,50.0,F,1.0,619
586,526,6.0,B,3.0,587
587,526,50.0,F,5.0,624
588,527,6.0,B,4.0,888
589,527,50.0,F,11.0,702
590,528,6.0,F,5.0,924
591,528,60.0,E,3.0,729
592,529,6.0,F,6.0,425
593,529,60.0,E,4.0,371
594,530,6.0,F,7.0,336
595,530,60.0,E,5.0,444
596,531,6.0,F,8.0,427
597,531,60.0,E,6.0,374
598,532,6.0,F,4.0,715
599,532,60.0,E,7.0,542
600,533,6.0,F,1.0,443
601,533,60.0,E,1.0,388
602,534,6.0,L,12.0,379
603,534,50.0,R,12.0,278
604,535,6.0,L,14.0,427
605,535,50.0,R,14.0,409
606,679,1.0,E,22.0,164
607,679,6.0,M,13.0,136
608,679,50.0,W,13.0,121
609,707,7.0,N/A,0.0,288
610,708,7.0,N/A,0.0,324
611,709,7.0,N/A,0.0,180
612,710,7.0,N/A,0.0,216
613,711,7.0,N/A,0.0,216
614,712,7.0,N/A,0.0,288
615,713,7.0,N/A,0.0,144
616,714,7.0,N/A,0.0,180
617,715,7.0,N/A,0.0,216
618,716,7.0,N/A,0.0,252
619,747,10.0,N/A,0.0,121
620,747,20.0,N/A,0.0,161
621,747,30.0,N/A,0.0,148
622,747,40.0,N/A,0.0,107
623,747,50.0,N/A,0.0,160
624,747,60.0,N/A,0.0,137
625,748,10.0,N/A,0.0,105
626,748,20.0,N/A,0.0,145
627,748,30.0,N/A,0.0,132
628,748,45.0,N/A,0.0,91
629,748,50.0,N/A,0.0,144
630,748,60.0,N/A,0.0,121
631,749,7.0,N/A,0.0,73
632,749,60.0,N/A,0.0,60
633,750,7.0,N/A,0.0,102
634,750,60.0,N/A,0.0,121
635,751,7.0,N/A,0.0,32
636,751,60.0,N/A,0.0,108
637,752,7.0,N/A,0.0,52
638,752,60.0,N/A,0.0,76
639,753,7.0,N/A,0.0,112
640,753,60.0,N/A,0.0,51
641,754,7.0,N/A,0.0,65
642,754,60.0,N/A,0.0,83
643,755,7.0,N/A,0.0,75
644,755,60.0,N/A,0.0,62
645,756,7.0,N/A,0.0,30
646,756,60.0,N/A,0.0,99
647,757,7.0,N/A,0.0,56
648,757,60.0,N/A,0.0,78
649,758,7.0,N/A,0.0,116
650,758,60.0,N/A,0.0,49
651,759,7.0,N/A,0.0,112
652,759,60.0,N/A,0.0,51
653,760,7.0,N/A,0.0,99
654,760,60.0,N/A,0.0,86
655,761,7.0,N/A,0.0,67
656,761,60.0,N/A,0.0,81
657,762,7.0,N/A,0.0,75
658,762,60.0,N/A,0.0,62
659,763,7.0,N/A,0.0,102
660,763,60.0,N/A,0.0,121
661,764,7.0,N/A,0.0,32
662,764,60.0,N/A,0.0,108
663,765,7.0,N/A,0.0,56
664,765,60.0,N/A,0.0,78
665,766,7.0,N/A,0.0,116
666,766,60.0,N/A,0.0,49
667,767,7.0,N/A,0.0,100
668,767,60.0,N/A,0.0,88
669,768,7.0,N/A,0.0,67
670,768,60.0,N/A,0.0,81
671,769,7.0,N/A,0.0,73
672,769,60.0,N/A,0.0,60
673,770,7.0,N/A,0.0,104
674,770,60.0,N/A,0.0,123
675,771,7.0,N/A,0.0,49
676,771,60.0,N/A,0.0,100
677,772,7.0,N/A,0.0,88
678,772,60.0,N/A,0.0,65
679,773,7.0,N/A,0.0,83
680,773,60.0,N/A,0.0,75
681,774,7.0,N/A,0.0,62
682,774,60.0,N/A,0.0,102
683,775,7.0,N/A,0.0,99
684,775,60.0,N/A,0.0,56
685,776,7.0,N/A,0.0,78
686,776,60.0,N/A,0.0,116
687,777,7.0,N/A,0.0,49
688,777,60.0,N/A,0.0,100
689,778,7.0,N/A,0.0,88
690,778,60.0,N/A,0.0,65
691,779,7.0,N/A,0.0,75
692,779,60.0,N/A,0.0,62
693,780,7.0,N/A,0.0,102
694,780,60.0,N/A,0.0,121
695,781,7.0,N/A,0.0,32
696,781,60.0,N/A,0.0,108
697,782,7.0,N/A,0.0,100
698,782,60.0,N/A,0.0,88
699,783,7.0,N/A,0.0,65
700,783,60.0,N/A,0.0,83
701,784,7.0,N/A,0.0,75
702,784,60.0,N/A,0.0,62
703,785,7.0,N/A,0.0,75
704,785,60.0,N/A,0.0,62
705,786,7.0,N/A,0.0,102
706,786,60.0,N/A,0.0,121
707,787,7.0,N/A,0.0,32
708,787,60.0,N/A,0.0,108
709,788,7.0,N/A,0.0,52
710,788,60.0,N/A,0.0,76
711,789,7.0,N/A,0.0,112
712,789,60.0,N/A,0.0,51
713,790,7.0,N/A,0.0,99
714,790,60.0,N/A,0.0,86
715,791,7.0,N/A,0.0,67
716,791,60.0,N/A,0.0,81
717,792,7.0,N/A,0.0,104
718,792,60.0,N/A,0.0,123
719,793,7.0,N/A,0.0,56
720,793,60.0,N/A,0.0,78
721,794,7.0,N/A,0.0,116
722,794,60.0,N/A,0.0,49
723,795,7.0,N/A,0.0,100
724,795,60.0,N/A,0.0,88
725,796,7.0,N/A,0.0,65
726,796,60.0,N/A,0.0,83
727,797,7.0,N/A,0.0,67
728,797,60.0,N/A,0.0,81
729,798,7.0,N/A,0.0,73
730,798,60.0,N/A,0.0,60
731,799,7.0,N/A,0.0,104
732,799,60.0,N/A,0.0,123
733,800,7.0,N/A,0.0,30
734,800,60.0,N/A,0.0,99
735,801,7.0,N/A,0.0,56
736,801,60.0,N/A,0.0,78
737,802,5.0,J,7.0,350
738,802,10.0,C,8.0,240
739,802,50.0,A,17.0,273
740,803,5.0,J,8.0,356
741,803,10.0,C,9.0,246
742,803,50.0,A,18.0,280
743,804,5.0,J,9.0,363
744,804,10.0,C,10.0,252
745,804,50.0,A,19.0,286
746,805,1.0,D,13.0,284
747,805,6.0,R,40.0,265
748,805,50.0,E,40.0,212
749,806,1.0,D,14.0,288
750,806,6.0,R,41.0,268
751,806,50.0,E,41.0,216
752,807,1.0,D,15.0,291
753,807,6.0,R,42.0,272
754,807,50.0,E,42.0,219
755,808,10.0,E,4.0,267
756,808,20.0,S,1.0,276
757,808,50.0,F,2.0,316
758,809,10.0,E,5.0,264
759,809,20.0,S,2.0,273
760,809,50.0,F,3.0,313
761,810,10.0,E,6.0,260
762,810,20.0,S,3.0,270
763,810,50.0,F,4.0,310
764,811,10.0,E,7.0,257
765,811,20.0,S,4.0,267
766,811,50.0,F,6.0,307
767,812,10.0,E,8.0,254
768,812,20.0,S,5.0,264
769,812,50.0,F,7.0,304
770,813,10.0,E,9.0,251
771,813,20.0,S,6.0,260
772,813,50.0,F,8.0,300
773,814,10.0,N/A,0.0,110
774,814,20.0,N/A,0.0,150
775,814,30.0,N/A,0.0,137
776,814,40.0,N/A,0.0,96
777,814,50.0,N/A,0.0,148
778,814,60.0,N/A,0.0,126
779,815,5.0,T,1.0,265
780,815,50.0,B,1.0,457
781,816,5.0,T,2.0,406
782,816,50.0,B,2.0,412
783,817,5.0,T,3.0,443
784,817,50.0,B,3.0,388
785,818,5.0,T,4.0,428
786,818,50.0,B,4.0,460
787,819,5.0,T,5.0,409
788,819,50.0,B,5.0,384
789,820,5.0,T,6.0,446
790,820,50.0,B,6.0,232
791,821,5.0,T,7.0,432
792,821,50.0,B,7.0,304
793,822,10.0,N/A,0.0,115
794,822,20.0,N/A,0.0,155
795,822,30.0,N/A,0.0,142
796,822,40.0,N/A,0.0,100
797,822,50.0,N/A,0.0,153
798,822,60.0,N/A,0.0,131
799,823,6.0,A,10.0,425
800,823,50.0,V,1.0,256
801,824,6.0,A,10.0,411
802,824,50.0,V,2.0,401
803,825,6.0,A,11.0,396
804,825,50.0,V,3.0,387
805,826,6.0,A,11.0,393
806,826,50.0,V,4.0,406
807,827,6.0,A,12.0,412
808,827,50.0,V,5.0,425
809,828,6.0,A,12.0,432
810,828,50.0,V,6.0,284
811,829,6.0,A,12.0,265
812,829,50.0,V,7.0,476
813,841,7.0,N/A,0.0,288
814,842,7.0,N/A,0.0,72
815,843,7.0,N/A,0.0,252
816,844,7.0,N/A,0.0,288
817,845,7.0,N/A,0.0,324
818,846,7.0,N/A,0.0,144
819,847,7.0,N/A,0.0,180
820,848,7.0,N/A,0.0,216
821,849,7.0,N/A,0.0,108
822,850,7.0,N/A,0.0,144
823,851,7.0,N/A,0.0,180
824,852,7.0,N/A,0.0,324
825,853,7.0,N/A,0.0,0
826,854,7.0,N/A,0.0,36
827,855,7.0,N/A,0.0,72
828,856,7.0,N/A,0.0,108
829,857,7.0,N/A,0.0,144
830,858,7.0,N/A,0.0,324
831,859,7.0,N/A,0.0,0
832,860,7.0,N/A,0.0,36
833,861,7.0,N/A,0.0,72
834,862,7.0,N/A,0.0,108
835,863,7.0,N/A,0.0,144
836,864,7.0,N/A,0.0,180
837,865,7.0,N/A,0.0,216
838,866,7.0,N/A,0.0,252
839,867,7.0,N/A,0.0,216
840,868,7.0,N/A,0.0,252
841,869,7.0,N/A,0.0,288
842,870,7.0,N/A,0.0,252
843,871,7.0,N/A,0.0,288
844,872,7.0,N/A,0.0,324
845,873,7.0,N/A,0.0,180
846,874,7.0,N/A,0.0,252
847,875,7.0,N/A,0.0,288
848,876,7.0,N/A,0.0,0
849,877,7.0,N/A,0.0,36
850,878,7.0,N/A,0.0,108
851,879,7.0,N/A,0.0,144
852,880,7.0,N/A,0.0,108
853,881,7.0,N/A,0.0,324
854,882,7.0,N/A,0.0,0
855,883,7.0,N/A,0.0,36
856,884,7.0,N/A,0.0,72
857,894,1.0,E,23.0,337
858,894,6.0,M,14.0,355
859,894,50.0,W,14.0,155
860,907,1.0,E,19.0,337
861,907,6.0,M,12.0,228
862,907,50.0,W,12.0,158
863,908,6.0,D,4.0,400
864,908,50.0,G,8.0,214
865,908,60.0,F,11.0,195
866,909,6.0,D,5.0,230
867,909,50.0,G,9.0,72

### Products

In [208]:
product_aenc = aenc_product.rename(columns={'id' : 'PRODUCT_PRODUCT_ID',
                                            'name' : 'PRODUCT_PRODUCT_Name',
                                            'description' : 'PRODUCT_PRODUCTDESCRIPTION_Desc',
                                            'prod_size' : 'PRODUCT_PRODUCT_Size',
                                            'color' : 'PRODUCT_PRODUCT_Color',
                                            'unit_price' : 'PRODUCT_PRODUCT_UnitPrice',
                                            'picture_name' : 'PRODUCT_PRODUCTPHOTO_ThumbnailPhotoFileName',
                                            'Category' : 'PRODUCT_PRODUCTCATEGORY_Category',
                                            })

product_aenc.drop(columns=['quantity'], inplace=True)

In [209]:
product_northwind = northwind_products.merge(northwind_categories, on='CategoryID', how='left')

product_northwind = product_northwind.rename(columns={'ProductID' : 'PRODUCT_PRODUCT_ID',
                                                        'ProductName' : 'PRODUCT_PRODUCT_Name',
                                                        'SupplierID' : 'PRODUCT_PRODUCT_SupplierID',
                                                        'CategoryID' : 'PRODUCT_PRODUCTSUBCATEGORY_CategoryID',
                                                        'QuantityPerUnit' : 'PRODUCT_PRODUCT_QuantityPerUnit',
                                                        'UnitPrice' : 'PRODUCT_PRODUCT_UnitPrice',
                                                        'UnitsOnOrder' : 'PRODUCT_PRODUCT_UnitsOnOrder',
                                                        'ReorderLevel' : 'PRODUCT_PRODUCT_ReorderLevel',
                                                        'Discontinued' : 'PRODUCT_PRODUCT_Discontinued',
                                                        'CategoryName' : 'PRODUCT_PRODUCTCATEGORY_Category',
                                                        'Description' : 'PRODUCT_PRODUCTDESCRIPTION_Desc',
                                                        'Picture' : 'PRODUCT_CATEGORY_Picture'
                                                        })

product_northwind.drop(columns=['UnitsInStock'], inplace=True)

In [210]:
# combining all adventureworks product data
product_adventure_works = pd.merge(adventureworks_production_product, adventureworks_production_unitmeasure, left_on='SizeUnitMeasureCode', right_on='UnitMeasureCode', how='left')
product_adventure_works.rename(columns={'Name_y' : 'PRODUCT_PRODUCT_SizeUnitMeasureName'}, inplace=True)
product_adventure_works.rename(columns={'SizeUnitMeasureCode' : 'PRODUCT_PRODUCT_SizeUnitMeasureCode'}, inplace=True)
product_adventure_works.drop(columns=['UnitMeasureCode', 'rowguid', 'ModifiedDate_x', 'ModifiedDate_y'], inplace=True)

product_adventure_works = pd.merge(product_adventure_works, adventureworks_production_unitmeasure, left_on='WeightUnitMeasureCode', right_on='UnitMeasureCode', how='left')
product_adventure_works.rename(columns={'Name' : 'PRODUCT_PRODUCT_WeightUnitMeasureName'}, inplace=True)
product_adventure_works.rename(columns={'WeightUnitMeasureCode' : 'PRODUCT_PRODUCT_WeightUnitMeasureCode'}, inplace=True)
product_adventure_works.drop(columns=['UnitMeasureCode', 'ModifiedDate'], inplace=True)

product_adventure_works = pd.merge(product_adventure_works, adventureworks_production_productsubcategory, left_on='ProductSubcategoryID', right_on='ProductSubcategoryID', how='left')
product_adventure_works.rename(columns={'Name' : 'PRODUCT_PRODUCTSUBCATEGORY_SubCategory'}, inplace=True)
product_adventure_works.rename(columns={'ProductSubcategoryID' : 'PRODUCT_PRODUCT_SubCategoryID'}, inplace=True)
product_adventure_works.drop(columns=['rowguid', 'ModifiedDate'], inplace=True)

product_adventure_works = pd.merge(product_adventure_works, adventureworks_production_productcategory, left_on='ProductCategoryID', right_on='ProductCategoryID', how='left')
product_adventure_works.rename(columns={'Name' : 'PRODUCT_PRODUCTCATEGORY_Category'}, inplace=True)
product_adventure_works.rename(columns={'ProductCategoryID' : 'PRODUCT_PRODUCTSUBCATEGORY_CategoryID'}, inplace=True)
product_adventure_works.drop(columns=['rowguid', 'ModifiedDate'], inplace=True)

product_adventure_works = pd.merge(product_adventure_works, adventureworks_production_productmodel, left_on='ProductModelID', right_on='ProductModelID', how='left')
product_adventure_works.rename(columns={'Name' : 'PRODUCT_PRODUCTMODEL_Name'}, inplace=True)
product_adventure_works.rename(columns={'CatalogDescription' : 'PRODUCT_PRODUCTMODEL_CatalogDescription'}, inplace=True)
product_adventure_works.rename(columns={'Instructions' : 'PRODUCT_PRODUCTMODEL_Instructions'}, inplace=True)
product_adventure_works.drop(columns=['rowguid', 'ModifiedDate'], inplace=True)

product_adventure_works = pd.merge(product_adventure_works, adventureworks_production_productmodelillustration, left_on='ProductModelID', right_on='ProductModelID', how='left')
product_adventure_works.rename(columns={'ProductModelID' : 'PRODUCT_PRODUCT_ModelID'}, inplace=True)
product_adventure_works.drop(columns=['ModifiedDate'], inplace=True)

product_adventure_works = pd.merge(product_adventure_works, adventureworks_production_illustration, left_on='IllustrationID', right_on='IllustrationID', how='left')
product_adventure_works.rename(columns={'IllustrationID' : 'PRODUCT_PRODUCTMODELILLUSTRATION_IllustrationID'}, inplace=True)
product_adventure_works.rename(columns={'Diagram' : 'PRODUCT_ILLUSTRATION_Diagram'}, inplace=True)
product_adventure_works.drop(columns=['ModifiedDate'], inplace=True)

product_adventure_works = pd.merge(product_adventure_works, adventureworks_production_productmodelproductdescriptionculture , left_on='PRODUCT_PRODUCT_ModelID', right_on='ProductModelID', how='left')
product_adventure_works.drop(columns=['ProductModelID'], inplace=True)
product_adventure_works.drop(columns=['ModifiedDate'], inplace=True)

product_adventure_works = pd.merge(product_adventure_works, adventureworks_production_culture , left_on='CultureID', right_on='CultureID', how='left')
product_adventure_works.rename(columns={'CultureID' : 'PRODUCT_PMPDC_CultureID'}, inplace=True)
product_adventure_works.rename(columns={'Name' : 'PRODUCT_CULTURE_Name'}, inplace=True)
product_adventure_works.drop(columns=['ModifiedDate'], inplace=True)

product_adventure_works = pd.merge(product_adventure_works, adventureworks_production_productdescription, left_on='ProductDescriptionID', right_on='ProductDescriptionID', how='left')
product_adventure_works.rename(columns={'ProductDescriptionID' : 'PRODUCT_PMPDC_DescriptionID'}, inplace=True)
product_adventure_works.rename(columns={'Description' : 'PRODUCT_PRODUCTDESCRIPTION_Desc'}, inplace=True)
product_adventure_works.drop(columns=['rowguid', 'ModifiedDate'], inplace=True)

product_adventure_works = pd.merge(product_adventure_works, adventureworks_production_productproductphoto, left_on='ProductID', right_on='ProductID', how='left')
product_adventure_works.rename(columns={'Primary' : 'PRODUCT_PRODUCTPRODUCTPHOTO_Primary'}, inplace=True)
product_adventure_works.drop(columns=['ModifiedDate'], inplace=True)

product_adventure_works = pd.merge(product_adventure_works, adventureworks_production_productphoto, left_on='ProductPhotoID', right_on='ProductPhotoID', how='left')
product_adventure_works.rename(columns={'ProductPhotoID' : 'PRODUCT_PRODUCTPRODUCTPHOTO_PhotoID'}, inplace=True)
product_adventure_works.rename(columns={'ThumbNailPhotoHexString' : 'PRODUCT_PRODUCTPHOTO_ThumbnailPhotoHexString'}, inplace=True)
product_adventure_works.rename(columns={'LargePhotoHexString' : 'PRODUCT_PRODUCTPHOTO_LargePhotoHexString'}, inplace=True)
product_adventure_works.rename(columns={'ThumbNailPhotoFileName' : 'PRODUCT_PRODUCTPHOTO_ThumbnailPhotoFileName'}, inplace=True)
product_adventure_works.rename(columns={'LargePhotoFileName' : 'PRODUCT_PRODUCTPHOTO_LargePhotoFileName'}, inplace=True)
product_adventure_works.drop(columns=['ModifiedDate'], inplace=True)

product_adventure_works = product_adventure_works.rename(columns={'ProductID' : 'PRODUCT_PRODUCT_ID',
                                                                    'Name_x' : 'PRODUCT_PRODUCT_Name',
                                                                    'ProductNumber' : 'PRODUCT_PRODUCT_Number',
                                                                    'MakeFlag' : 'PRODUCT_PRODUCT_MakeFlag',
                                                                    'FinishedGoodsFlag' : 'PRODUCT_PRODUCT_FinishedGoodsFlag',
                                                                    'SafetyStockLevel' : 'PRODUCT_PRODUCT_SafetyStockLevel',
                                                                    'ReorderPoint' : 'PRODUCT_PRODUCT_ReorderPoint',
                                                                    'StandardCost' : 'PRODUCT_PRODUCT_StandardCost',
                                                                    'ListPrice' : 'PRODUCT_PRODUCT_ListPrice',
                                                                    'Size' : 'PRODUCT_PRODUCT_Size',
                                                                    'Weight' : 'PRODUCT_PRODUCT_Weight',
                                                                    'DaysToManufacture' : 'PRODUCT_PRODUCT_DaysToManufacture',
                                                                    'ProductLine' : 'PRODUCT_PRODUCT_ProductLine',
                                                                    'Class' : 'PRODUCT_PRODUCT_Class',
                                                                    'Style' : 'PRODUCT_PRODUCT_Style',
                                                                    'SellStartDate' : 'PRODUCT_PRODUCT_SellStartDate',
                                                                    'SellEndDate' : 'PRODUCT_PRODUCT_SellEndDate',
                                                                    'DiscontinuedDate' : 'PRODUCT_PRODUCT_DiscountedDate',
                                                                    'Color' : 'PRODUCT_PRODUCT_Color',
                                                                    }) 

# # applying the data types to the columns
product_adventure_works['PRODUCT_PRODUCT_ID'] = product_adventure_works['PRODUCT_PRODUCT_ID'].astype(float) # casting to float seems counterintuitive but it is necessary to avoid an error in Pandas

product_combined = pd.concat([product_adventure_works, product_aenc, product_northwind], ignore_index=True)

C:\Users\yunyi\AppData\Local\Temp\ipykernel_46084\290765978.py:87: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  product_combined = pd.concat([product_adventure_works, product_aenc, product_northwind], ignore_index=True)

## Loading the data into the UnitedOutdoors datawarehouse

### Date

In [211]:
date_dtypes = {
    'DATE_ID': Integer,
    'DATE_Date': DATE,
    'DATE_Weekday': VARCHAR(10),
    'DATE_WeekdayNum': Integer,
    'DATE_DayMonth': Integer,
    'DATE_DayOfYear': Integer,
    'DATE_WeekOfYear': Integer,
    'DATE_MonthNum': Integer,
    'DATE_MonthName': VARCHAR(10),
    'DATE_MonthNameShort': CHAR(10),
    'DATE_Quarter': Integer,
    'DATE_Year': Integer,
    'DATE_FirstDayOfMonth': DATE,
    'DATE_LastDayOfMonth': DATE,
    'DATE_YYYYMM': CHAR(10),
    'DATE_WeekendIndr': CHAR(15)
}

prepare_and_insert(date_table, date_dtypes, 'Date', united_outdoors_engine)

Inserting data into table: Date with chunk size: 125

### Time

In [212]:
time_dtypes = {
    'TIME_ID': Integer,
    'TIME_Hour': Integer,
    'TIME_Minute': Integer,
    'TIME_HourMinute': VARCHAR(10),
}

prepare_and_insert(time_table, time_dtypes, 'Time', united_outdoors_engine)

Inserting data into table: Time with chunk size: 500

### Products

In [213]:
product_dtypes =  {
    'PRODUCT_SK': Integer,
    'PRODUCT_PRODUCT_ID': Integer,
    'PRODUCT_PRODUCT_SizeUnitMeasureCode': VARCHAR(10),
    'PRODUCT_PRODUCT_WeightUnitMeasureCode': VARCHAR(10),
    'PRODUCT_PRODUCT_SubCategoryID': Integer,
    'PRODUCT_PRODUCTSUBCATEGORY_CategoryID': Integer,
    'PRODUCT_PRODUCT_ModelID': Integer,
    'PRODUCT_PRODUCTMODELILLUSTRATION_IllustrationID': Integer,
    'PRODUCT_PRODUCTPRODUCTPHOTO_PhotoID': Integer,
    'PRODUCT_PMPDC_DescriptionID': Integer,
    'PRODUCT_PMPDC_CultureID': Integer,
    'PRODUCT_PRODUCT_Name': VARCHAR(150),
    'PRODUCT_PRODUCT_Number': VARCHAR(25),
    'PRODUCT_PRODUCT_MakeFlag': Integer,
    'PRODUCT_PRODUCT_FinishedGoodsFlag': Integer,
    'PRODUCT_PRODUCT_Color': VARCHAR(25),
    'PRODUCT_PRODUCT_SafetyStockLevel': Integer,
    'PRODUCT_PRODUCT_ReorderPoint': Integer,
    'PRODUCT_PRODUCT_ReorderLevel': Integer,
    'PRODUCT_PRODUCT_StandardCost': DECIMAL(8, 4),
    'PRODUCT_PRODUCT_UnitPrice': DECIMAL(19, 4),
    'PRODUCT_PRODUCT_ListPrice': DECIMAL(19, 4),
    'PRODUCT_PRODUCT_Size': VARCHAR(50),
    'PRODUCT_PRODUCT_SizeUnitMeasureName': VARCHAR(50),
    'PRODUCT_PRODUCT_WeightUnitMeasureName': VARCHAR(50),
    'PRODUCT_Color': VARCHAR(50),
    'PRODUCT_PRODUCT_Weight': DECIMAL(8, 2),
    'PRODUCT_PRODUCT_DaysToManufacture': Integer,
    'PRODUCT_PRODUCT_ProductLine': VARCHAR(10),
    'PRODUCT_PRODUCT_Class': VARCHAR(10),
    'PRODUCT_PRODUCT_Style': VARCHAR(10),
    'PRODUCT_PRODUCTSUBCATEGORY_SubCategory': VARCHAR(50),
    'PRODUCT_PRODUCTCATEGORY_Category': VARCHAR(50),
    'PRODUCT_CATEGORY_Picture': LargeBinary,
    'PRODUCT_PRODUCTMODEL_Name': VARCHAR(100),
    'PRODUCT_PRODUCTMODEL_CatalogDescription': XML,
    'PRODUCT_PRODUCTMODEL_Instructions': XML,
    'PRODUCT_ILLUSTRATION_Diagram': XML,
    'PRODUCT_CULTURE_Name': VARCHAR(50),
    'PRODUCT_PRODUCTDESCRIPTION_Desc': NVARCHAR,
    'PRODUCT_PRODUCTPRODUCTPHOTO_Primary': Integer,
    'PRODUCT_PRODUCTPHOTO_ThumbnailPhoto': LargeBinary,
    'PRODUCT_PRODUCTPHOTO_ThumbnailPhotoHexString': NVARCHAR,
    'PRODUCT_PRODUCTPHOTO_ThumbnailPhotoFileName': VARCHAR(50),
    'PRODUCT_PRODUCTPHOTO_LargePhoto': LargeBinary,
    'PRODUCT_PRODUCTPHOTO_LargePhotoHexString': NVARCHAR,
    'PRODUCT_PRODUCTPHOTO_LargePhotoFileName': VARCHAR(50),
    'PRODUCT_PRODUCT_SellStartDate': DATE,
    'PRODUCT_DATE_SellStartDateFK': Integer,
    'PRODUCT_PRODUCT_SellEndDate': DATE,
    'PRODUCT_DATE_SellEndDateFK': Integer,
    'PRODUCT_PRODUCT_DiscountedDate': DATE,
    'PRODUCT_DATE_DiscountedDateFK': Integer,
    'PRODUCT_PRODUCT_Discontinued': Integer
}

products_nk_sk_dict = prepare_and_insert_return_sk(product_combined, product_dtypes, 'Product', united_outdoors_engine, 'PRODUCT_PRODUCT_ID')

Inserting data into table: Product with chunk size: 40

### BillOfMaterial

In [214]:
billofmaterial_dtypes = {
    'BILLOFMATERIAL_BILLOFMATERIAL_BillOfMaterialID': Integer,
    'BILLOFMATERIAL_BILLOFMATERIAL_ProductAssemblyID': Integer,
    'BILLOFMATERIAL_BILLOFMATERIAL_ComponentID': Integer,
    'BILLOFMATERIAL_BILLOFMATERIAL_StartDate': DATE,
    'BILLOFMATERIAL_BILLOFMATERIAL_EndDate': DATE,
    'BILLOFMATERIAL_BILLOFMATERIAL_UnitMeasureCode': CHAR(3),
    'BILLOFMATERIAL_BILLOFMATERIAL_BOMLevel': Integer,
    'BILLOFMATERIAL_BILLOFMATERIAL_PerAssemblyQty': DECIMAL(8,2),
    'BILLOFMATERIAL_UNITMEASURE_Name': NVARCHAR(50)
}

prepare_and_insert(billofmaterials, billofmaterial_dtypes, "BillOfMaterial", united_outdoors_engine)

Inserting data into table: BillOfMaterial with chunk size: 222

### Document

In [215]:
document_dtypes = {
    'DOCUMENT_DOCUMENT_DocumentNode': NVARCHAR,
    'DOCUMENT_DOCUMENT_DocumentLevel': Integer,
    'DOCUMENT_DOCUMENT_Title': NVARCHAR(50),
    'DOCUMENT_DOCUMENT_Owner': Integer,
    'DOCUMENT_DOCUMENT_FolderFlag': BIT,
    'DOCUMENT_DOCUMENT_FileName': NVARCHAR(400),
    'DOCUMENT_DOCUMENT_FileExtension': NVARCHAR(8),
    'DOCUMENT_DOCUMENT_Revision': CHAR(5),
    'DOCUMENT_DOCUMENT_ChangeNumber': Integer,
    'DOCUMENT_DOCUMENT_Status': Integer,
    'DOCUMENT_DOCUMENT_DocumentSummary': NVARCHAR,
    'DOCUMENT_DOCUMENT_Document': LargeBinary,
    'DOCUMENT_PRODUCTDOCUMENT_ProductID': Integer,
}

prepare_and_insert(documents, document_dtypes, "Document", united_outdoors_engine, {'DOCUMENT_PRODUCTDOCUMENT_ProductID': products_nk_sk_dict})

Replacing natural keys with surrogate keys for column: DOCUMENT_PRODUCTDOCUMENT_ProductID
Inserting data into table: Document with chunk size: 153

### WorkOrder

In [216]:
workorder_dtypes = {
    'WORKORDER_WORKORDER_WorkOrderID': Integer,
    'WORKORDER_WORKORDER_ProductID': Integer,
    'WORKORDER_WORKORDER_OrderQty': Integer,
    'WORKORDER_WORKORDER_StockedQty': Integer,
    'WORKORDER_WORKORDER_ScrappedQty': Integer,
    'WORKORDER_WORKORDER_StartDate': DATE,
    'WORKORDER_WORKORDER_EndDate': DATE,
    'WORKORDER_WORKORDER_DueDate': DATE,
    'WORKORDER_WORKORDER_ScrapReasonID': Integer,
    'WORKORDER_WORKORDERINGROUTING_ProductID': Integer,
    'WORKORDER_WORKORDERINGROUTING_OperationSequence': Integer,
    'WORKORDER_WORKORDERINGROUTING_LocationID': Integer,
    'WORKORDER_WORKORDERINGROUTING_ScheduledStartDate': DATE,
    'WORKORDER_WORKORDERINGROUTING_ScheduledEndDate': DATE,
    'WORKORDER_WORKORDERINGROUTING_ActualStartDate': DATE,
    'WORKORDER_WORKORDERINGROUTING_ActualEndDate': DATE,
    'WORKORDER_WORKORDERINGROUTING_ActualResourcesHrs': DECIMAL(9,4),
    'WORKORDER_WORKORDERINGROUTING_PlannedCost': MONEY,
    'WORKORDER_WORKORDERINGROUTING_ActualCost': MONEY,
    'WORKORDER_SCRAPREASON_ScrapReasonID': Integer,
    'WORKORDER_SCRAPREASON_Name': NVARCHAR(50)
}

prepare_and_insert(workorders, workorder_dtypes, "WorkOrder", united_outdoors_engine, {'WORKORDER_WORKORDER_ProductID': products_nk_sk_dict})

Replacing natural keys with surrogate keys for column: WORKORDER_WORKORDER_ProductID
Inserting data into table: WorkOrder with chunk size: 105

### Departments

In [217]:
departments_dtypes = {
    'DEPARTMENT_DEPARTMENT_DeptID': Integer,
    'DEPARTMENT_DEPARTMENT_DeptName': String(100),
    'DEPARTMENT_DEPARTMENT_GroupName': String(100),
    'DEPARTMENT_DEPARTMENT_DeptHeadID': Integer,
    'DEPARTMENT_source_database': String(100)
}

# TODO dept_head_id needs to refer to an employee
departments_nk_sk_dict = prepare_and_insert_return_sk(departments, departments_dtypes, 'Department', united_outdoors_engine, 'DEPARTMENT_DEPARTMENT_DeptID', { 'DEPARTMENT_DEPARTMENT_DeptHeadID' : {}})

Replacing natural keys with surrogate keys for column: DEPARTMENT_DEPARTMENT_DeptHeadID
Inserting data into table: Department with chunk size: 400

### Employees

In [218]:
employees_dtypes = {
    'EMPLOYEE_EMPLOYEE_EmployeeID': Integer,
    'EMPLOYEE_EMPLOYEE_NationalIDNumber': NVARCHAR(15),
    'EMPLOYEE_EMPLOYEE_LoginID': NVARCHAR(256),
    'EMPLOYEE_EMPLOYEE_OrganizationNode': NVARCHAR,
    'EMPLOYEE_EMPLOYEE_OrganizationLevel': Integer,
    'EMPLOYEE_EMPLOYEE_JobTitle': NVARCHAR(50),
    'EMPLOYEE_EMPLOYEE_BirthDate': DATE,
    'EMPLOYEE_EMPLOYEE_MaritalStatus': CHAR(1),
    'EMPLOYEE_EMPLOYEE_Gender': CHAR(1),
    'EMPLOYEE_EMPLOYEE_HireDate': DATE,
    'EMPLOYEE_EMPLOYEE_SalariedFlag': BIT,
    'EMPLOYEE_EMPLOYEE_VacationHours': Integer,
    'EMPLOYEE_EMPLOYEE_SickLeaveHours': Integer,
    'EMPLOYEE_EMPLOYEE_CurrentFlag': BIT,
    'EMPLOYEE_EMPLOYEES_LastName': NVARCHAR(255),
    'EMPLOYEE_EMPLOYEES_FirstName': NVARCHAR(255),
    'EMPLOYEE_EMPLOYEES_Title': NVARCHAR(30),
    'EMPLOYEE_EMPLOYEES_TitleOfCourtesy': NVARCHAR(25),
    'EMPLOYEE_EMPLOYEES_Address': NVARCHAR(60),
    'EMPLOYEE_EMPLOYEES_City': NVARCHAR(20),
    'EMPLOYEE_EMPLOYEES_Region': NVARCHAR(15),
    'EMPLOYEE_EMPLOYEES_PostalCode': NVARCHAR(10),
    'EMPLOYEE_EMPLOYEES_Country': NVARCHAR(50),
    'EMPLOYEE_EMPLOYEES_HomePhone': NVARCHAR(24),
    'EMPLOYEE_EMPLOYEES_Extension': NVARCHAR(4),
    'EMPLOYEE_EMPLOYEES_Photo': LargeBinary,
    'EMPLOYEE_EMPLOYEES_Notes': String,
    'EMPLOYEE_EMPLOYEES_ReportsTo': Integer,
    'EMPLOYEE_EMPLOYEES_PhotoPath': NVARCHAR(255),
    'EMPLOYEE_EMPLOYEES_TerritoryID': Integer,
    'EMPLOYEE_EMPLOYEE_ManagerID': Integer,
    'EMPLOYEE_EMPLOYEE_DeptID': Integer,
    'EMPLOYEE_EMPLOYEE_Street': NVARCHAR(150),
    'EMPLOYEE_EMPLOYEE_State': CHAR(2),
    'EMPLOYEE_EMPLOYEE_Phone': NVARCHAR(50),
    'EMPLOYEE_EMPLOYEE_Status': CHAR(1),
    'EMPLOYEE_EMPLOYEE_SS_Number': NVARCHAR(50),
    'EMPLOYEE_EMPLOYEE_Salary': MONEY,
    'EMPLOYEE_EMPLOYEE_Start_Date': DATE,
    'EMPLOYEE_EMPLOYEE_Termination': DATE,
    'EMPLOYEE_EMPLOYEE_Bene_Health_Ins': CHAR(1),
    'EMPLOYEE_EMPLOYEE_Bene_Life_Ins': CHAR(1),
    'EMPLOYEE_EMPLOYEE_Bene_Day_Care': CHAR(1),
    'EMPLOYEE_EMPLOYEE_Sex': CHAR(1),
    'EMPLOYEE_BONUS_BonusID': Integer,
    'EMPLOYEE_BONUS_Bonus_Date': DATE,
    'EMPLOYEE_BONUS_Bonus_Amount': Integer
}

employees_nk_sk_dict = prepare_and_insert_return_sk(employees, employees_dtypes, 'Employee', united_outdoors_engine, 'EMPLOYEE_EMPLOYEE_EmployeeID', { 'EMPLOYEE_EMPLOYEE_DeptID': departments_nk_sk_dict, 'EMPLOYEE_EMPLOYEE_ManagerID' : departments_nk_sk_dict})

Replacing natural keys with surrogate keys for column: EMPLOYEE_EMPLOYEE_DeptID
Replacing natural keys with surrogate keys for column: EMPLOYEE_EMPLOYEE_ManagerID
Inserting data into table: Employee with chunk size: 41

### BusinessEntities

In [219]:
businessentities_dtypes = {
    'BUSINESSENTITY_BUSINESSENTITY_BusinessEntityID': Integer,
    'BUSINESSENTITY_BUSINESSENTITYCONTACT_PersonID': Integer,
    'BUSINESSENTITY_CONTACTTYPE_ContactTypeID': Integer,
    'BUSINESSENTITY_CONTACTTYPE_Name': String(100)
}

businessentities_nk_sk_dict = prepare_and_insert_return_sk(businessentities, businessentities_dtypes, 'BusinessEntity',united_outdoors_engine, 'BUSINESSENTITY_BUSINESSENTITY_BusinessEntityID')

Inserting data into table: BusinessEntity with chunk size: 500

### People

In [220]:
people_dtypes = {
    'PERSON_PERSON_BusinessEntityID': Integer,
    'PERSON_PERSON_PersonType': String(2),
    'PERSON_PERSON_NameStyle': BIT,
    'PERSON_PERSON_Title': String(100),
    'PERSON_PERSON_FirstName': String(100),
    'PERSON_PERSON_MiddleName': String(100),
    'PERSON_PERSON_LastName': String(100),
    'PERSON_PERSON_Suffix': String(100),
    'PERSON_PERSON_EmailPromotion': Integer,
    'PERSON_PERSON_AdditionalContactInfo': XML,
    'PERSON_PERSON_Demographics': XML,
    'PERSON_PERSONPHONE_PhoneNumber': String(100),
    'PERSON_PHONENUMBERTYPE_PhoneNumberTypeID': Integer,
    'PERSON_PHONENUMBERTYPE_Name': String(100),
    'PERSON_EMAILADDRESS_EmailAddressID': Integer,
    'PERSON_EMAILADDRESS_EmailAddress': String(100),
    'PERSON_PASSWORD_PasswordHash': LargeBinary,
    'PERSON_PASSWORD_PasswordSalt': LargeBinary
}

# Convert the 'PERSON_PASSWORD_PasswordHash' and 'PERSON_PASSWORD_PasswordSalt' columns to bytes
people['PERSON_PASSWORD_PasswordHash'] = people['PERSON_PASSWORD_PasswordHash'].apply(lambda x: x.encode('utf-8') if isinstance(x, str) else x)
people['PERSON_PASSWORD_PasswordSalt'] = people['PERSON_PASSWORD_PasswordSalt'].apply(lambda x: x.encode('utf-8') if isinstance(x, str) else x)

prepare_and_insert(people, people_dtypes, 'Person',united_outdoors_engine, { 'PERSON_PERSON_BusinessEntityID' : businessentities_nk_sk_dict})

Replacing natural keys with surrogate keys for column: PERSON_PERSON_BusinessEntityID
Inserting data into table: Person with chunk size: 111

### Updating the BusinessEntity table
replacing the natural keys with the surrogate keys for the PersonID column

In [221]:
prepare_and_update('BusinessEntity', united_outdoors_engine, { 'BUSINESSENTITY_BUSINESSENTITYCONTACT_PersonID' : businessentities_nk_sk_dict})

Updating data in table: BusinessEntity

### BusinessEntityAddresses

In [222]:
businessentityaddresses_dtypes = {
    'BUSINESSENTITYADDRESS_BUSINESSENTITYADDRESS_BusinessEntityID': Integer,
    'BUSINESSENTITYADDRESS_ADDRESSTYPE_AddressTypeID': Integer,
    'BUSINESSENTITYADDRESS_ADDRESSTYPE_Name': String(100),
    'BUSINESSENTITYADDRESS_ADDRESS_AddressID': Integer,
    'BUSINESSENTITYADDRESS_ADDRESS_AddressLine1': String(100),
    'BUSINESSENTITYADDRESS_ADDRESS_AddressLine2': String(100),
    'BUSINESSENTITYADDRESS_ADDRESS_City': String(100),
    'BUSINESSENTITYADDRESS_ADDRESS_POSTALCODE': String(100),
    'BUSINESSENTITYADDRESS_ADDRESS_SpatialLocation': VARCHAR,
    'BUSINESSENTITYADDRESS_ADDRESS_StateProvinceID': Integer
}

# TODO the StateProvinceID needs to refer to sk of Territory
prepare_and_insert(businessentityaddresses, businessentityaddresses_dtypes, 'BusinessEntityAddress',united_outdoors_engine, { 'BUSINESSENTITYADDRESS_BUSINESSENTITYADDRESS_BusinessEntityID' : businessentities_nk_sk_dict, 'BUSINESSENTITYADDRESS_ADDRESS_StateProvinceID' : {}})

Replacing natural keys with surrogate keys for column: BUSINESSENTITYADDRESS_BUSINESSENTITYADDRESS_BusinessEntityID
Replacing natural keys with surrogate keys for column: BUSINESSENTITYADDRESS_ADDRESS_StateProvinceID
Inserting data into table: BusinessEntityAddress with chunk size: 200

### Inventory

In [223]:
inventory_dtypes =  {
    'INVENTORY_sk' : Integer,
    'INVENTORY_PRODUCT_ID' : Integer,
    'INVENTORY_LOCATION_ID' : Integer,
    'INVENTORY_Shelf' : VARCHAR(5),
    'INVENTORY_Bin' : Integer,
    'INVENTORY_Quantity' : Integer,
}

prepare_and_insert(inventory_combined, inventory_dtypes, 'Inventory', united_outdoors_engine)

Inserting data into table: Inventory with chunk size: 400

### JobCandidate

In [224]:
jobcandidates_dtypes = {
    'JOBCANDIDATE_JOBCANDIDATE_JobCandidateID': Integer,
    'JOBCANDIDATE_JOBCANDIDATE_BusinessEntityID': Integer,
    'JOBCANDIDATE_JOBCANDIDATE_Resume': XML
}

prepare_and_insert(jobcandidates, jobcandidates_dtypes, 'JobCandidate',united_outdoors_engine, { 'JOBCANDIDATE_JOBCANDIDATE_BusinessEntityID' : businessentities_nk_sk_dict})

Replacing natural keys with surrogate keys for column: JOBCANDIDATE_JOBCANDIDATE_BusinessEntityID
Inserting data into table: JobCandidate with chunk size: 666

### EmployeeDepartmentHistory

In [225]:
employeedepartmenthistories_dtypes = {
    'EMPLOYEEDEPARTMENTHISTORY_EMPLOYEEDEPARTMENTHISTORY_BusinessEntityID': Integer,
    'EMPLOYEEDEPARTMENTHISTORY_EMPLOYEEDEPARTMENTHISTORY_DepartmentID': Integer,
    'EMPLOYEEDEPARTMENTHISTORY_EMPLOYEEDEPARTMENTHISTORY_ShiftID': Integer,
    'EMPLOYEEDEPARTMENTHISTORY_EMPLOYEEDEPARTMENTHISTORY_StartDate': DATE,
    'EMPLOYEEDEPARTMENTHISTORY_EMPLOYEEDEPARTMENTHISTORY_EndDate': DATE
}

prepare_and_insert(employeedepartmenthistories, employeedepartmenthistories_dtypes, 'EmployeeDepartmentHistory',united_outdoors_engine, { 'EMPLOYEEDEPARTMENTHISTORY_EMPLOYEEDEPARTMENTHISTORY_BusinessEntityID' : businessentities_nk_sk_dict, 'EMPLOYEEDEPARTMENTHISTORY_EMPLOYEEDEPARTMENTHISTORY_DepartmentID' : departments_nk_sk_dict, 'EMPLOYEEDEPARTMENTHISTORY_EMPLOYEEDEPARTMENTHISTORY_ShiftID' : {}})

Replacing natural keys with surrogate keys for column: EMPLOYEEDEPARTMENTHISTORY_EMPLOYEEDEPARTMENTHISTORY_BusinessEntityID
Replacing natural keys with surrogate keys for column: EMPLOYEEDEPARTMENTHISTORY_EMPLOYEEDEPARTMENTHISTORY_DepartmentID
Replacing natural keys with surrogate keys for column: EMPLOYEEDEPARTMENTHISTORY_EMPLOYEEDEPARTMENTHISTORY_ShiftID
Inserting data into table: EmployeeDepartmentHistory with chunk size: 400

### EmployeePayHistory

In [226]:
employeepayhistories_dtypes = {
    'EMPLOYEEPAYHISTORY_EMPLOYEEPAYHISTORY_BusinessEntityID': Integer,
    'EMPLOYEEPAYHISTORY_EMPLOYEEPAYHISTORY_RateChangeDate': DATE,
    'EMPLOYEEPAYHISTORY_EMPLOYEEPAYHISTORY_Rate': MONEY,
    'EMPLOYEEPAYHISTORY_EMPLOYEEPAYHISTORY_PayFrequency': Integer
}

prepare_and_insert(employeepayhistories, employeepayhistories_dtypes, 'EmployeePayHistory',united_outdoors_engine, { 'EMPLOYEEPAYHISTORY_EMPLOYEEPAYHISTORY_BusinessEntityID' : businessentities_nk_sk_dict})

Replacing natural keys with surrogate keys for column: EMPLOYEEPAYHISTORY_EMPLOYEEPAYHISTORY_BusinessEntityID
Inserting data into table: EmployeePayHistory with chunk size: 500

### Shift

In [227]:
shifts_dtypes = {
    'SHIFT_SHIFT_ShiftID': Integer,
    'SHIFT_SHIFT_Name': String(100),
    'SHIFT_SHIFT_StartTime': TIME,
    'SHIFT_SHIFT_EndTime': TIME
}

prepare_and_insert(shifts, shifts_dtypes, 'Shift',united_outdoors_engine)

Inserting data into table: Shift with chunk size: 500

### SalesPerson

In [228]:
salespeople_dtypes = {
    'SALESPERSON_SALESPERSON_BusinessEntityID': Integer,
    'SALESPERSON_SALESPERSON_TerritoryID': Integer,
    'SALESPERSON_SALESPERSON_SalesQuota': MONEY,
    'SALESPERSON_SALESPERSON_Bonus': MONEY,
    'SALESPERSON_SALESPERSON_CommissionPct': DECIMAL(8,4),
    'SALESPERSON_SALESPERSON_SalesYTD': MONEY,
    'SALESPERSON_SALESPERSON_SalesLastYear': MONEY
}

prepare_and_insert(salespeople, salespeople_dtypes, 'SalesPerson',united_outdoors_engine, { 'SALESPERSON_SALESPERSON_BusinessEntityID' : businessentities_nk_sk_dict, 'SALESPERSON_SALESPERSON_TerritoryID' : {}})

Replacing natural keys with surrogate keys for column: SALESPERSON_SALESPERSON_BusinessEntityID
Replacing natural keys with surrogate keys for column: SALESPERSON_SALESPERSON_TerritoryID
Inserting data into table: SalesPerson with chunk size: 285

### ProductVendor

In [229]:
productvendors_dtypes = {
    'PRODUCTVENDOR_PRODUCTVENDOR_ProductID': Integer,
    'PRODUCTVENDOR_PRODUCTVENDOR_BusinessEntityID': Integer,
    'PRODUCTVENDOR_PRODUCTVENDOR_AverageLeadTime': Integer,
    'PRODUCTVENDOR_PRODUCTVENDOR_StandardPrice': MONEY,
    'PRODUCTVENDOR_PRODUCTVENDOR_LastReceiptCost': MONEY,
    'PRODUCTVENDOR_PRODUCTVENDOR_LastReceiptDate': DATE,
    'PRODUCTVENDOR_PRODUCTVENDOR_MinOrderQty': Integer,
    'PRODUCTVENDOR_PRODUCTVENDOR_MaxOrderQty': Integer,
    'PRODUCTVENDOR_PRODUCTVENDOR_OnOrderQty': Integer,
    'PRODUCTVENDOR_PRODUCTVENDOR_UnitMeasureCode': CHAR(3)
}

prepare_and_insert(productvendors, productvendors_dtypes, 'ProductVendor', united_outdoors_engine, { 'PRODUCTVENDOR_PRODUCTVENDOR_ProductID' : products_nk_sk_dict, 'PRODUCTVENDOR_PRODUCTVENDOR_BusinessEntityID' : businessentities_nk_sk_dict, 'PRODUCTVENDOR_PRODUCTVENDOR_UnitMeasureCode' : {}})

Replacing natural keys with surrogate keys for column: PRODUCTVENDOR_PRODUCTVENDOR_ProductID
Replacing natural keys with surrogate keys for column: PRODUCTVENDOR_PRODUCTVENDOR_BusinessEntityID
Replacing natural keys with surrogate keys for column: PRODUCTVENDOR_PRODUCTVENDOR_UnitMeasureCode
Inserting data into table: ProductVendor with chunk size: 200

### CustomerDemographics

In [230]:
customerdemographics_dtypes = {
    'CUSTOMERDEMOGRAPHIC_CUSTOMERDEMOGRAPHICS_CustomerTypeID': NVARCHAR(10),
    'CUSTOMERDEMOGRAPHIC_CUSTOMERDEMOGRAPHICS_CustomerDesc': String(100)
}

customerdemographics_nk_sk_dict = prepare_and_insert_return_sk(customerdemographics, customerdemographics_dtypes, 'CustomerDemographic',united_outdoors_engine, 'CUSTOMERDEMOGRAPHIC_CUSTOMERDEMOGRAPHICS_CustomerTypeID')

Inserting data into table: CustomerDemographic with chunk size: 1000

### CustomerCustomerDemo

In [231]:
customercustomerdemos_dtypes = {
    'CUSTOMERCUSTOMERDEMO_CUSTOMERCUSTOMERDEMO_CustomerID': NVARCHAR(10),
    'CUSTOMERCUSTOMERDEMO_CUSTOMERCUSTOMERDEMO_CustomerTypeID': NVARCHAR(10)
}

# TODO how to handle fk? the nk is nvarchar, not an integer

prepare_and_insert(customercustomerdemos, customercustomerdemos_dtypes, 'CustomerCustomerDemo',united_outdoors_engine, { 'CUSTOMERCUSTOMERDEMO_CUSTOMERCUSTOMERDEMO_CustomerTypeID' : customerdemographics_nk_sk_dict, 'CUSTOMERCUSTOMERDEMO_CUSTOMERCUSTOMERDEMO_CustomerID' : {}})

Replacing natural keys with surrogate keys for column: CUSTOMERCUSTOMERDEMO_CUSTOMERCUSTOMERDEMO_CustomerTypeID
Replacing natural keys with surrogate keys for column: CUSTOMERCUSTOMERDEMO_CUSTOMERCUSTOMERDEMO_CustomerID
Inserting data into table: CustomerCustomerDemo with chunk size: 1000

### SalesTerritoryHistory

In [232]:
salesterritoryhistories_dtypes = {
    'SALESTERRITORYHISTORY_SALESTERRITORYHISTORY_BusinessEntityID': Integer,
    'SALESTERRITORYHISTORY_SALESTERRITORYHISTORY_TerritoryID': Integer,
    'SALESTERRITORYHISTORY_SALESTERRITORYHISTORY_StartDate': DATE,
    'SALESTERRITORYHISTORY_SALESTERRITORYHISTORY_EndDate': DATE
}

prepare_and_insert(salesterritoryhistories, salesterritoryhistories_dtypes, 'SalesTerritoryHistory',united_outdoors_engine, { 'SALESTERRITORYHISTORY_SALESTERRITORYHISTORY_BusinessEntityID' : businessentities_nk_sk_dict, 'SALESTERRITORYHISTORY_SALESTERRITORYHISTORY_TerritoryID' : {}})

Replacing natural keys with surrogate keys for column: SALESTERRITORYHISTORY_SALESTERRITORYHISTORY_BusinessEntityID
Replacing natural keys with surrogate keys for column: SALESTERRITORYHISTORY_SALESTERRITORYHISTORY_TerritoryID
Inserting data into table: SalesTerritoryHistory with chunk size: 500

### ProductListPriceHistory

In [233]:
productlistpricehistories_dtypes = {
    'PRODUCTLISTPRICEHISTORY_PRODUCTLISTPRICEHISTORY_ProductID': Integer,
    'PRODUCTLISTPRICEHISTORY_PRODUCTLISTPRICEHISTORY_StartDate': DATE,
    'PRODUCTLISTPRICEHISTORY_PRODUCTLISTPRICEHISTORY_EndDate': DATE,
    'PRODUCTLISTPRICEHISTORY_PRODUCTLISTPRICEHISTORY_ListPrice': MONEY
}

prepare_and_insert(productlistpricehistories, productlistpricehistories_dtypes, 'ProductListPriceHistory',united_outdoors_engine, { 'PRODUCTLISTPRICEHISTORY_PRODUCTLISTPRICEHISTORY_ProductID' : products_nk_sk_dict})

Replacing natural keys with surrogate keys for column: PRODUCTLISTPRICEHISTORY_PRODUCTLISTPRICEHISTORY_ProductID
Inserting data into table: ProductListPriceHistory with chunk size: 500

### ProductCostHistory

In [234]:
productcosthistories_dtypes = {
    'PRODUCTCOSTHISTORY_PRODUCTCOSTHISTORY_ProductID': Integer,
    'PRODUCTCOSTHISTORY_PRODUCTCOSTHISTORY_StartDate': DATE,
    'PRODUCTCOSTHISTORY_PRODUCTCOSTHISTORY_EndDate': DATE,
    'PRODUCTCOSTHISTORY_PRODUCTCOSTHISTORY_StandardCost': MONEY
}

prepare_and_insert(productcosthistories, productcosthistories_dtypes, 'ProductCostHistory', united_outdoors_engine, { 'PRODUCTCOSTHISTORY_PRODUCTCOSTHISTORY_ProductID' : {}})

Replacing natural keys with surrogate keys for column: PRODUCTCOSTHISTORY_PRODUCTCOSTHISTORY_ProductID
Inserting data into table: ProductCostHistory with chunk size: 500

### ShoppingCartItem

In [235]:
shoppingcartitems_dtypes = {
    'SHOPPINGCARTITEM_SHOPPINGCARTITEM_ShoppingCartItemID': Integer,
    'SHOPPINGCARTITEM_SHOPPINGCARTITEM_ShoppingCartID': Integer,
    'SHOPPINGCARTITEM_SHOPPINGCARTITEM_ProductID': Integer,
    'SHOPPINGCARTITEM_SHOPPINGCARTITEM_Quantity': Integer,
    'SHOPPINGCARTITEM_SHOPPINGCARTITEM_DateCreated': DATE
}

prepare_and_insert(shoppingcartitems, shoppingcartitems_dtypes, 'ShoppingCartItem', united_outdoors_engine, { 'SHOPPINGCARTITEM_SHOPPINGCARTITEM_ProductID' : products_nk_sk_dict, 'SHOPPINGCARTITEM_SHOPPINGCARTITEM_ShoppingCartID' : {}})

Replacing natural keys with surrogate keys for column: SHOPPINGCARTITEM_SHOPPINGCARTITEM_ProductID
Replacing natural keys with surrogate keys for column: SHOPPINGCARTITEM_SHOPPINGCARTITEM_ShoppingCartID
Inserting data into table: ShoppingCartItem with chunk size: 400

### SalesPersonQuotaHistory

In [236]:
salespersonquotahistories_dtypes = {
    'SALESPERSONQUOTAHISTORY_SALESPERSONQUOTAHISTORY_BusinessEntityID': Integer,
    'SALESPERSONQUOTAHISTORY_SALESPERSONQUOTAHISTORY_QuotaDate': DATE,
    'SALESPERSONQUOTAHISTORY_SALESPERSONQUOTAHISTORY_SalesQuota': MONEY
}

prepare_and_insert(salespersonquotahistories, salespersonquotahistories_dtypes, 'SalesPersonQuotaHistory', united_outdoors_engine, { 'SALESPERSONQUOTAHISTORY_SALESPERSONQUOTAHISTORY_BusinessEntityID' : businessentities_nk_sk_dict})

Replacing natural keys with surrogate keys for column: SALESPERSONQUOTAHISTORY_SALESPERSONQUOTAHISTORY_BusinessEntityID
Inserting data into table: SalesPersonQuotaHistory with chunk size: 666

### Customers

In [237]:
customers_dtypes = {
    'CUSTOMER_CUSTOMERS_ID': Integer,
    'CUSTOMER_CUSTOMER_PersonID': Integer,
    'CUSTOMER_CUSTOMER_StoreID': Integer,
    'CUSTOMER_CUSTOMER_TerritoryID': Integer,
    'CUSTOMER_CUSTOMER_AccountNumber': CHAR(10),
    'CUSTOMER_CUSTOMERS_CompanyName': NVARCHAR(100),
    'CUSTOMER_CUSTOMERS_ContactName': NVARCHAR(255),
    'CUSTOMER_CUSTOMERS_ContactTitle': NVARCHAR(100),
    'CUSTOMER_CUSTOMERS_Address': NVARCHAR(255),
    'CUSTOMER_CUSTOMERS_City': NVARCHAR(100),
    'CUSTOMER_CUSTOMERS_Region': NVARCHAR(50),
    'CUSTOMER_CUSTOMERS_PostalCode': NVARCHAR(20),
    'CUSTOMER_CUSTOMERS_Country': NVARCHAR(150),
    'CUSTOMER_CUSTOMERS_Phone': NVARCHAR(24),
    'CUSTOMER_CUSTOMERS_Fax': NVARCHAR(24),
    'CUSTOMER_CUSTOMER_Fname': NVARCHAR(255),
    'CUSTOMER_CUSTOMER_Lname': NVARCHAR(255),
    'CUSTOMER_CUSTOMER_State': CHAR(2),
    'CUSTOMER_STORE_Name': NVARCHAR(50),
    'CUSTOMER_STORE_SalesPersonID': Integer,
    'CUSTOMER_STORE_Demographics': XML,
    'CUSTOMER_SALESTERRITORY_Name': NVARCHAR(50),
    'CUSTOMER_SALESTERRITORY_CountryRegionCode': NVARCHAR(3),
    'CUSTOMER_SALESTERRITORY_Group': NVARCHAR(50),
    'CUSTOMER_SALESTERRITORY_SalesYTD': MONEY,
    'CUSTOMER_SALESTERRITORY_SalesLastYear': MONEY,
    'CUSTOMER_SALESTERRITORY_CostYTD': MONEY,
    'CUSTOMER_SALESTERRITORY_CostLastYear': MONEY
}

customers_nk_sk_dict = prepare_and_insert_return_sk(customers, customers_dtypes, 'Customer', united_outdoors_engine, 'CUSTOMER_CUSTOMERS_ID', {'CUSTOMER_CUSTOMER_PersonID': {}, 'CUSTOMER_CUSTOMER_StoreID': {}, 'CUSTOMER_CUSTOMER_TerritoryID': {}, 'CUSTOMER_STORE_SalesPersonID': {}, 'CUSTOMER_SALESTERRITORY_CountryRegionCode': {}})

Replacing natural keys with surrogate keys for column: CUSTOMER_CUSTOMER_PersonID
Replacing natural keys with surrogate keys for column: CUSTOMER_CUSTOMER_StoreID
Replacing natural keys with surrogate keys for column: CUSTOMER_CUSTOMER_TerritoryID
Replacing natural keys with surrogate keys for column: CUSTOMER_STORE_SalesPersonID
Replacing natural keys with surrogate keys for column: CUSTOMER_SALESTERRITORY_CountryRegionCode
Inserting data into table: Customer with chunk size: 71

### SpecialOffer

In [239]:
specialoffers_dtypes = {
    'SPECIALOFFER_SPECIALOFFER_ID': Integer,
    'SPECIALOFFER_SPECIALOFFER_Description': String,
    'SPECIALOFFER_SPECIALOFFER_DiscountPCT': Integer,
    'SPECIALOFFER_SPECIALOFFER_Type': NVARCHAR(100),
    'SPECIALOFFER_SPECIALOFFER_Category': NVARCHAR(100),
    'SPECIALOFFER_SPECIALOFFER_StartDate': DATE,
    'SPECIALOFFER_SPECIALOFFER_EndDate': DATE,
    'SPECIALOFFER_SPECIALOFFER_MinQty': Integer,
    'SPECIALOFFER_SPECIALOFFER_MaxQty': Integer,
    'SPECIALOFFER_SPECIALOFFERPRODUCT_ProductID': Integer
}

specialoffer_nk_sk_dict = prepare_and_insert_return_sk(specialoffers, specialoffers_dtypes, 'SpecialOffer', united_outdoors_engine, 'SPECIALOFFER_SPECIALOFFER_ID', {'SPECIALOFFER_SPECIALOFFERPRODUCT_ProductID': products_nk_sk_dict})

Replacing natural keys with surrogate keys for column: SPECIALOFFER_SPECIALOFFERPRODUCT_ProductID
Inserting data into table: SpecialOffer with chunk size: 200

### TransactionHistory

In [240]:
transactionhistories_dtypes = {
    'TRANSACTIONHISTORY_TRANSACTIONHISTORY_TransactionID': Integer,
    'TRANSACTIONHISTORY_TRANSACTIONHISTORY_ProductID': Integer,
    'TRANSACTIONHISTORY_TRANSACTIONHISTORY_ReferenceOrderID': Integer,
    'TRANSACTIONHISTORY_TRANSACTIONHISTORY_ReferenceOrderLineID': Integer,
    'TRANSACTIONHISTORY_TRANSACTIONHISTORY_TransactionDate': DATE,
    'TRANSACTIONHISTORY_TRANSACTIONHISTORY_TransactionType': CHAR(1),
    'TRANSACTIONHISTORY_TRANSACTIONHISTORY_Quantity': Integer,
    'TRANSACTIONHISTORY_TRANSACTIONHISTORY_ActualCost': MONEY,
}

prepare_and_insert(transactionhistories, transactionhistories_dtypes, 'TransactionHistory', united_outdoors_engine, { 'TRANSACTIONHISTORY_TRANSACTIONHISTORY_ProductID' : products_nk_sk_dict})

Replacing natural keys with surrogate keys for column: TRANSACTIONHISTORY_TRANSACTIONHISTORY_ProductID
Inserting data into table: TransactionHistory with chunk size: 250

### CreditCard

In [241]:
creditcards_dtypes = {
    'CREDITCARD_CREDITCARD_ID': Integer,
    'CREDITCARD_CREDITCARD_CardType': NVARCHAR(100),
    'CREDITCARD_CREDITCARD_CardNumber': BigInteger,
    'CREDITCARD_CREDITCARD_ExpMonth': Integer,
    'CREDITCARD_CREDITCARD_ExpYear': Integer,
    'CREDITCARD_PERSONCREDITCARD_BusinessEntityID': Integer
}

creditcards_nk_sk_dict = prepare_and_insert_return_sk(creditcards, creditcards_dtypes, 'CreditCard', united_outdoors_engine, 'CREDITCARD_CREDITCARD_ID')

Inserting data into table: CreditCard with chunk size: 333

### Supplier

In [242]:
suppliers_dtypes = {
    'SUPPLIER_SUPPLIERS_SupplierID': Integer,
    'SUPPLIER_SUPPLIERS_CompanyName': NVARCHAR(100),
    'SUPPLIER_SUPPLIERS_ContactName': NVARCHAR(255),
    'SUPPLIER_SUPPLIERS_ContactTitle': NVARCHAR(100),
    'SUPPLIER_SUPPLIERS_Address': NVARCHAR(150),
    'SUPPLIER_SUPPLIERS_City': NVARCHAR(50),
    'SUPPLIER_SUPPLIERS_Region': NVARCHAR(50),
    'SUPPLIER_SUPPLIERS_PostalCode': NVARCHAR(20),
    'SUPPLIER_SUPPLIERS_Country': NVARCHAR(100),
    'SUPPLIER_SUPPLIERS_Phone': VARCHAR(20),
    'SUPPLIER_SUPPLIERS_Fax': NVARCHAR(30),
    'SUPPLIER_SUPPLIERS_HomePage': NVARCHAR(255)
}

prepare_and_insert(suppliers, suppliers_dtypes, 'Supplier', united_outdoors_engine)

Inserting data into table: Supplier with chunk size: 166

### Currency

In [243]:
currencies_dtypes = {
    'CURRENCY_CURRENCY_CurrencyCode': NVARCHAR(10),
    'CURRENCY_CURRENCY_Name': NVARCHAR(100),
    'CURRENCY_COUNTRYREGIONCURRENCY_CountryRegionCode': NVARCHAR(10),
    'CURRENCY_CURRENCYRATE_CurrencyRateID': Integer,
    'CURRENCY_CURRENCYRATE_CurrencyRateDate': DATE,
    'CURRENCY_CURRENCYRATE_FromCurrencyCode': NVARCHAR(10),
    'CURRENCY_CURRENCYRATE_ToCurrencyCode': NVARCHAR(10),
    'CURRENCY_CURRENCYRATE_AverageRate': Integer,
    'CURRENCY_CURRENCYRATE_EndOfDayRate': Integer
}

prepare_and_insert(currencies, currencies_dtypes, 'Currency', united_outdoors_engine, {'CURRENCY_CURRENCYRATE_CurrencyRateID': {}, 'CURRENCY_CURRENCYRATE_FromCurrencyCode': {}, 'CURRENCY_CURRENCYRATE_ToCurrencyCode': {}})

Replacing natural keys with surrogate keys for column: CURRENCY_CURRENCYRATE_CurrencyRateID
Replacing natural keys with surrogate keys for column: CURRENCY_CURRENCYRATE_FromCurrencyCode
Replacing natural keys with surrogate keys for column: CURRENCY_CURRENCYRATE_ToCurrencyCode
Inserting data into table: Currency with chunk size: 222

### Territory

In [244]:
territories_dtypes = {
    'TERRITORY_REGION_RegionID': Integer,
    'TERRITORY_REGION_RegionDescription': String,
    'TERRITORY_TERRITORIES_TerritoryID': Integer,
    'TERRITORY_TERRITORIES_TerritoryDescription': String,
    'TERRITORY_REGION_Region': NVARCHAR(50),
    'TERRITORY_STATE_StateID': NVARCHAR(10),
    'TERRITORY_STATE_StateName': NVARCHAR(100),
    'TERRITORY_STATE_StateCapital': NVARCHAR(50),
    'TERRITORY_STATE_Country': NVARCHAR(50),
    'TERRITORY_COUNTRYREGION_CountryRegionCode': NVARCHAR(10),
    'TERRITORY_COUNTRYREGION_Name': NVARCHAR(100),
    'TERRITORY_STATEPROVINCE_StateProvinceID': Integer,
    'TERRITORY_STATEPROVINCE_StateProvinceCode': NVARCHAR(10),
    'TERRITORY_STATEPROVINCE_IsOnlyStateProvinceFlag': CHAR(1),
    'TERRITORY_STATEPROVINCE_Name': NVARCHAR(100),
    'TERRITORY_SALESTAXRATE_SalesTaxRateID': Integer,
    'TERRITORY_SALESTAXRATE_TaxType': NVARCHAR(50),
    'TERRITORY_SALESTAXRATE_TaxRate': DECIMAL(8,2),
    'TERRITORY_SALESTAXRATE_Name': NVARCHAR(150)
}

prepare_and_insert(territories, territories_dtypes, 'Territory', united_outdoors_engine, {'TERRITORY_TERRITORIES_TerritoryID': {}, 'TERRITORY_STATE_StateID': {}, 'TERRITORY_COUNTRYREGION_CountryRegionCode': {}, 'TERRITORY_STATEPROVINCE_StateProvinceID': {}, 'TERRITORY_SALESTAXRATE_SalesTaxRateID': {}})

Replacing natural keys with surrogate keys for column: TERRITORY_TERRITORIES_TerritoryID
Replacing natural keys with surrogate keys for column: TERRITORY_STATE_StateID
Replacing natural keys with surrogate keys for column: TERRITORY_COUNTRYREGION_CountryRegionCode
Replacing natural keys with surrogate keys for column: TERRITORY_STATEPROVINCE_StateProvinceID
Replacing natural keys with surrogate keys for column: TERRITORY_SALESTAXRATE_SalesTaxRateID
Inserting data into table: Territory with chunk size: 105

### SalesOrderHeader

In [245]:
salesorderheaders_dtypes = {
    'SALESORDERHEADER_SALESORDERDETAIL_SalesOrderID': Integer,
    'SALESORDERHEADER_SALESORDERDETAIL_SalesOrderDetailID': Integer,
    'SALESORDERHEADER_SALESORDERDETAIL_CarrierTrackingNumber': NVARCHAR(25),
    'SALESORDERHEADER_SALESORDERDETAIL_OrderQty': Integer,
    'SALESORDERHEADER_SALESORDERDETAIL_ProductID': Integer,
    'SALESORDERHEADER_SALESORDERDETAIL_SpecialOfferID': Integer,
    'SALESORDERHEADER_SALESORDERDETAIL_UnitPrice': DECIMAL(8,2),
    'SALESORDERHEADER_SALESORDERDETAIL_UnitPriceDiscount': DECIMAL(8,2),
    'SALESORDERHEADER_SALESORDERDETAIL_LineTotal': NVARCHAR,
    'SALESORDERHEADER_SALESORDERHEADER_RevisionNumber': Integer,
    'SALESORDERHEADER_SALESORDERHEADER_OrderDate': DATE,
    'SALESORDERHEADER_SALESORDERHEADER_DueDate': DATE,
    'SALESORDERHEADER_SALESORDERHEADER_ShipDate': DATE,
    'SALESORDERHEADER_SALESORDERHEADER_Status': CHAR(1),
    'SALESORDERHEADER_SALESORDERHEADER_OnlineOrderFlag': BIT,
    'SALESORDERHEADER_SALESORDERHEADER_SalesOrderNumber': VARCHAR(100),
    'SALESORDERHEADER_SALESORDERHEADER_PurchaseOrderNumber': VARCHAR(25),
    'SALESORDERHEADER_SALESORDERHEADER_AccountNumber': NVARCHAR(15),
    'SALESORDERHEADER_SALESORDERHEADER_CustomerID': Integer,
    'SALESORDERHEADER_SALESORDERHEADER_SalesPersonID': Integer,
    'SALESORDERHEADER_SALESORDERHEADER_TerritoryID': Integer,
    'SALESORDERHEADER_SALESORDERHEADER_BillToAddress': Integer,
    'SALESORDERHEADER_SALESORDERHEADER_ShipToAddress': Integer,
    'SALESORDERHEADER_SALESORDERHEADER_ShipMethodID': Integer,
    'SALESORDERHEADER_SALESORDERHEADER_CreditCardID': Integer,
    'SALESORDERHEADER_SALESORDERHEADER_CreditCardApprovalCode': NVARCHAR(15),
    'SALESORDERHEADER_SALESORDERHEADER_CurrencyRateID': Integer,
    'SALESORDERHEADER_SALESORDERHEADER_SubTotal': DECIMAL(11,2),
    'SALESORDERHEADER_SALESORDERHEADER_TaxAmt': DECIMAL(11,2),
    'SALESORDERHEADER_SALESORDERHEADER_Freight': DECIMAL(11,2),
    'SALESORDERHEADER_SALESORDERHEADER_TotalDue': DECIMAL(11,2),
    'SALESORDERHEADER_SALESORDERHEADER_Comment': NVARCHAR(128),
    'SALESORDERHEADER_SALESORDERHEADERSALESREASON_SalesOrderID': Integer,
    'SALESORDERHEADER_SALESREASON_SalesReasonID': Integer,
    'SALESORDERHEADER_SALESREASON_Name': NVARCHAR(100),
    'SALESORDERHEADER_SALESREASON_ReasonType': NVARCHAR(100),
}

prepare_and_insert(salesorderheaders, salesorderheaders_dtypes, 'SalesOrderHeader', united_outdoors_engine, {'SALESORDERHEADER_SALESORDERDETAIL_ProductID': products_nk_sk_dict, 'SALESORDERHEADER_SALESORDERHEADER_CustomerID' : {}, 'SALESORDERHEADER_SALESORDERDETAIL_SpecialOfferID' : specialoffer_nk_sk_dict, 'SALESORDERHEADER_SALESORDERHEADER_CreditCardID': creditcards_nk_sk_dict, 'SALESORDERHEADER_SALESORDERHEADER_CurrencyRateID': {}})

Replacing natural keys with surrogate keys for column: SALESORDERHEADER_SALESORDERDETAIL_ProductID
Replacing natural keys with surrogate keys for column: SALESORDERHEADER_SALESORDERHEADER_CustomerID
Replacing natural keys with surrogate keys for column: SALESORDERHEADER_SALESORDERDETAIL_SpecialOfferID
Replacing natural keys with surrogate keys for column: SALESORDERHEADER_SALESORDERHEADER_CreditCardID

### PurchaseOrderHeader

In [ ]:
purchaseorderheaders_dtypes = {
    'PURCHASEORDERHEADER_PURCHASEORDERHEADER_PurchaseOrderID': Integer,
    'PURCHASEORDERHEADER_PURCHASEORDERHEADER_RevisionNumber': Integer,
    'PURCHASEORDERHEADER_PURCHASEORDERHEADER_Status': Integer,
    'PURCHASEORDERHEADER_PURCHASEORDERHEADER_EmployeeID': Integer,
    'PURCHASEORDERHEADER_PURCHASEORDERHEADER_VendorID': Integer,
    'PURCHASEORDERHEADER_PURCHASEORDERHEADER_ShipMethodID': Integer,
    'PURCHASEORDERHEADER_PURCHASEORDERHEADER_OrderDate': DATE,
    'PURCHASEORDERHEADER_PURCHASEORDERHEADER_ShipDate': DATE,
    'PURCHASEORDERHEADER_PURCHASEORDERHEADER_SubTotal': MONEY,
    'PURCHASEORDERHEADER_PURCHASEORDERHEADER_TaxAmt': MONEY,
    'PURCHASEORDERHEADER_PURCHASEORDERHEADER_Freight': MONEY,
    'PURCHASEORDERHEADER_PURCHASEORDERHEADER_TotalDue': MONEY,
    'PURCHASEORDERHEADER_PURCHASEORDERDETAIL_PurchaseOrderDetailID': Integer,
    'PURCHASEORDERHEADER_PURCHASEORDERDETAIL_DueDate': DATE,
    'PURCHASEORDERHEADER_PURCHASEORDERDETAIL_OrderQty': Integer,
    'PURCHASEORDERHEADER_PURCHASEORDERDETAIL_ProductID': Integer,
    'PURCHASEORDERHEADER_PURCHASEORDERDETAIL_UnitPrice': MONEY,
    'PURCHASEORDERHEADER_PURCHASEORDERDETAIL_LineTotal': NVARCHAR,
    'PURCHASEORDERHEADER_PURCHASEORDERDETAIL_ReceivedQty': DECIMAL(8,2),
    'PURCHASEORDERHEADER_PURCHASEORDERDETAIL_RejectedQty': DECIMAL(8,2),
    'PURCHASEORDERHEADER_PURCHASEORDERDETAIL_StockedQty': DECIMAL(8,2),
    'PURCHASEORDERHEADER_SHIPMETHOD_Name': NVARCHAR(50),
    'PURCHASEORDERHEADER_SHIPMETHOD_ShipBase': MONEY,
    'PURCHASEORDERHEADER_SHIPMETHOD_ShipRate': MONEY,
    'PURCHASEORDERHEADER_VENDOR_AccountNumber': NVARCHAR(50),
    'PURCHASEORDERHEADER_VENDOR_Name': NVARCHAR(50),
    'PURCHASEORDERHEADER_VENDOR_CreditRating': Integer,
    'PURCHASEORDERHEADER_VENDOR_PreferredVendorStatus': BIT,
    'PURCHASEORDERHEADER_VENDOR_ActiveFlag': BIT,
    'PURCHASEORDERHEADER_VENDOR_PurchasingWebServiceURL': NVARCHAR(1024)
}

prepare_and_insert(purchaseorderheaders, purchaseorderheaders_dtypes, 'PurchaseOrderHeader', united_outdoors_engine, {'PURCHASEORDERHEADER_PURCHASEORDERHEADER_EmployeeID': employees_nk_sk_dict, 'PURCHASEORDERHEADER_PURCHASEORDERDETAIL_ProductID': products_nk_sk_dict})

### TransactionHistoryArchive

In [ ]:
transactionhistoryarchives_dtypes = {
    'TRANSACTIONHISTORYARCHIVE_TRANSACTIONHISTORYARCHIVE_TransactionID': Integer,
    'TRANSACTIONHISTORYARCHIVE_TRANSACTIONHISTORYARCHIVE_ProductID': Integer,
    'TRANSACTIONHISTORYARCHIVE_TRANSACTIONHISTORYARCHIVE_ReferenceOrderID': Integer,
    'TRANSACTIONHISTORYARCHIVE_TRANSACTIONHISTORYARCHIVE_ReferenceOrderLineID': Integer,
    'TRANSACTIONHISTORYARCHIVE_TRANSACTIONHISTORYARCHIVE_TransactionDate': DATE,
    'TRANSACTIONHISTORYARCHIVE_TRANSACTIONHISTORYARCHIVE_TransactionType': CHAR(1),
    'TRANSACTIONHISTORYARCHIVE_TRANSACTIONHISTORYARCHIVE_Quantity': Integer,
    'TRANSACTIONHISTORYARCHIVE_TRANSACTIONHISTORYARCHIVE_ActualCost': MONEY,
}   

prepare_and_insert(transactionhistoryarchives, transactionhistoryarchives_dtypes, 'TransactionHistoryArchive', united_outdoors_engine, { 'TRANSACTIONHISTORYARCHIVE_TRANSACTIONHISTORYARCHIVE_ProductID' : products_nk_sk_dict})

### ProductReview

In [ ]:
productreviews_dtypes = {
    'PRODUCTREVIEW_PRODUCTREVIEW_ProductReviewID': Integer,
    'PRODUCTREVIEW_PRODUCTREVIEW_ProductID': Integer,
    'PRODUCTREVIEW_PRODUCTREVIEW_ReviewerName': NVARCHAR(50),
    'PRODUCTREVIEW_PRODUCTREVIEW_ReviewDate': DATE,
    'PRODUCTREVIEW_PRODUCTREVIEW_EmailAddress': NVARCHAR(50),
    'PRODUCTREVIEW_PRODUCTREVIEW_Rating': Integer,
    'PRODUCTREVIEW_PRODUCTREVIEW_Comments': NVARCHAR(3850),
}

prepare_and_insert(productreviews, productreviews_dtypes, 'ProductReview', united_outdoors_engine, { 'PRODUCTREVIEW_PRODUCTREVIEW_ProductID' : products_nk_sk_dict})

## Constraints
altering the tables to add the (foreign key) constraints

In [ ]:
# opening the UnitedOutdoors_constraints.sql file
with open('sql/UnitedOutdoors_constraints.sql', 'r') as file:
    sql_script = file.read()

# Execute the script
split_and_execute_sql_script(sql_script, united_outdoors_engine)

## Closing connections

In [ ]:
try:
    united_outdoors_engine.dispose()
    northwind_engine.dispose()
    aenc_engine.dispose()
    adventureworks_engine.dispose()
except OperationalError as e:
        print(f'Error: {e}')

# Time elapsed

In [ ]:
end_time = time.time()

print(f'Time elapsed: {end_time - start_time} seconds')