# ProductCostHistory
Predicting StandardCost

## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from torch.utils.data import TensorDataset, DataLoader
from common_functions import drop_sk_datetime_added_columns as drop_columns, train_model, get_engine, \
    read_data_return_df, plot_predictions, plot_feature_importance
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import plot_tree
import torch

## Connecting to the database

In [2]:
engine = get_engine()

Connection to UnitedOutdoors database successful

## Reading the data

In [3]:
productcosthistory_sql_query = "SELECT * FROM ProductCostHistory"
productcosthistory_df = read_data_return_df(productcosthistory_sql_query, engine)

productcosthistory_df.head()

,PRODUCTCOSTHISTORY_sk,PRODUCTCOSTHISTORY_PRODUCTCOSTHISTORY_ProductID,PRODUCTCOSTHISTORY_PRODUCTCOSTHISTORY_StartDate,PRODUCTCOSTHISTORY_PRODUCTCOSTHISTORY_EndDate,PRODUCTCOSTHISTORY_PRODUCTCOSTHISTORY_StandardCost,PRODUCTCOSTHISTORY_datetime_added
0,1,222,2011-05-31,2012-05-29,12.0278,2024-05-25 08:07:50.740
1,2,222,2012-05-30,2013-05-29,13.8782,2024-05-25 08:07:50.740
2,3,222,2013-05-30,None,13.0863,2024-05-25 08:07:50.740
3,4,228,2011-05-31,2012-05-29,12.0278,2024-05-25 08:07:50.740
4,5,228,2012-05-30,2013-05-29,13.8782,2024-05-25 08:07:50.740

In [ ]:
product_sql_query = "SELECT * FROM Product"
product_df = read_data_return_df(product_sql_query, engine)

product_df.head()

## Data Preprocessing

In [ ]:
# combining the two dataframes